/**
 * $Id$
 *
 * Styles for reminders pages.
 */

.reminders, .reminders .Absolute {
  width: 758px;
  height: 78px;
}

.reminders {
  border: 1px solid gray;
}

.reminders .Close {
  width: 12px;
  height: 12px;
  right: 8px;
  top: 8px;
  background: url(/images/facebook/reminders_close.png) no-repeat;
}

.reminders .Close-up-hovering, .reminders .Close-down-hovering {
  background-position: 0px -12px;
}

.reminders .Cycle {
  width: 12px;
  height: 12px;
  right: 22px;
  top: 8px;
  background: url(/images/facebook/reminders_cycle.png) no-repeat;
}

.reminders .Cycle-up-hovering, .reminders .Cycle-down-hovering {
  background-position: 0px -12px;
}

.reminders .reminder {
  height: 74px;
  width: 702px;
  left: 2px;
  top: 2px;
}

.reminders .easyButton {
  width: 120px;
  height: 20px;
  left: 571px;
  background-color: #d8dfea;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  padding-top: 4px;
}

.reminders .easyButton-up-hovering, .reminders .easyButton-down-hovering {
  background-color: #aeb4bd;
  text-decoration: underline;
}

.reminders .easyButton[slot="1"] {
  top: 10px;
}

.reminders .easyButton[slot="2"] {
  top: 25px;
}

.reminders .easyButton[slot="3"] {
  top: 40px;
}

.reminders .Bookmark .Reminder {
  width: 541px;
  font-size: 14px;
  font-weight: bold;
  top: 15px;
  left: 15px;
}

.reminders .PublishTrophy .Thumbnail {
  left: 15px;
  top: 7px;
}

.reminders .PublishTrophy .Tip {
  width: 471px;
  font-size: 14px;
  font-weight: bold;
  top: 15px;
  left: 85px;
}

