/**
 * $Id: me.css 10021 2008-07-24 20:53:18Z sarah $
 *
 * Styles for Person components.
 */

/* ------------------------------------
   FEED LIST
-------------------------------------*/

.FeedList {
  margin-left: 25px;
  margin-right: 25px;
}

.FeedWidget {
  width: 590px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DADADA;
  overflow: hidden;
}

.FeedBasic {
  font-size: 12px;
  padding: 3px;
}

.FeedDate {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #AAAAAA;
  padding-top: 10px;
}

.FeedWidget .IconContainer {
  width: 32px;
  height: 20px;
}

.FeedWidget .TextContainer {
  font-size: 12px;
  padding: 3px 3px 3px 6px;
  width: 100%;
  text-align: left;
}

.FeedWidget .TextContainer div {
  width: 100%;
  overflow: hidden;
}

.FeedWidget .ThumbnailContainer {
  height: 32px;
  vertical-align: middle;
}

.FeedWidget .FeedIcon {
  width: 30px;
  height: 20px;
}
