/**
 * $Id: me.css 10021 2008-07-24 20:53:18Z sarah $
 *
 * Styles for Person components.
 */

/* ------------------------------------
   FEED LIST
-------------------------------------*/

.FeedList {
  margin-left: 25px;
  margin-right: 25px;
}

.FeedWidget {
  width: 590px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DADADA;
  overflow: hidden;
}

.FeedBasic {
  font-size: 12px;
  padding: 3px;
}

.FeedDate {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #AAAAAA;
  padding-top: 10px;
}

.FeedWidget .IconContainer {
  width: 32px;
  height: 20px;
}

.FeedWidget .TextContainer {
  font-size: 12px;
  padding: 3px 3px 3px 6px;
  width: 100%;
  text-align: left;
}

.FeedWidget .TextContainer div {
  width: 100%;
  overflow: hidden;
}

.FeedWidget .ThumbnailContainer {
  height: 32px;
  vertical-align: middle;
}

.FeedWidget .FeedIcon {
  width: 30px;
  height: 20px;
}

/* ------------------------------------
   GALLERIES
-------------------------------------*/

.galleryPanel .clickBox {
  float: left;
}

.galleryViewPanel, .galleryEditPanel {
  width: 100%;
  height: 100%;
  min-height: 550px;
  background: #509BD2 url(/images/group/detail_bg.png) repeat-x;
}

.galleryViewPanel .Thumbnail,
.galleryEditPanel .Thumbnail {
  margin: 10px 10px 0 0;
  float: left;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  padding: 5px;
  text-align: center;
}

.galleryViewPanel .Thumbnail .Name,
.galleryEditPanel .Thumbnail .Name {
  font-size: 9px;
  width: 80px;
  height: 15px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 5px;
}

.galleryViewPanel .Error {
  color: #FFFFFF;
  padding-top: 30px;
  text-align: center;
}

.galleryViewPanel .CurrentPhoto {
  width: 100%;
  height: 100%;
}

.galleryViewPanel .GreyMask {
  width: 100%;
  height: 100%;
  background-color: #000000;
  filter: alpha(opacity=50);
  -moz-opacity: .50;
  opacity: .50;
}

.galleryViewPanel .FullSize {
  width: 100%;
  height: 100%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}

.galleryViewPanel .FullSize .Photo {
  margin: 30px auto 0 auto;
  background-color: #000000;
  border: solid #000000 10px;
}

.galleryViewPanel .FullSize .Name {
  margin-top: 10px;
  font-size: 20px;
}

.galleryViewPanel .FullSize .Description {
  margin-top: 7px;
  font-size: 15px;
}

.galleryDetailPanel {
  background: url(/images/people/gallery_details_box.png) no-repeat;
  width: 200px;
  height: 320px;
  margin: 10px 0 0 10px;
  padding: 5px;
}

.galleryDetailPanel .GalleryThumbnail {
  margin: 0;
  float: none;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  padding: 5px;
  text-align: center;
}

/* Styles both static divs and input boxes */
.galleryDetailPanel .Name,
.galleryDetailPanel .Description,
.galleryDetailPanel .Description .gwt-TextArea {
  width: 180px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #24598d;
}

.galleryDetailPanel .Name {
  height: 35px;
  font-size: 18px;
  overflow: hidden;
}

.galleryDetailPanel .Description {
  height: 120px;
  font-size: 15px;
}

.galleryDetailPanel .Description .gwt-TextArea {
  height: 105px;
  font-size: 15px;
}

.galleryEditPanel .dropPanel {
  background: #BBDDFF;
  width: 425px;
  height: 375px;
  padding: 5px;
  overflow-y: scroll;
}

.payload,
.payload  DIV {
  background: #FFFFFF;
  float: left;
  height: 80px;
  width: 80px;
  margin: 10px 0 0 10px;
  padding: 5px;
  text-align: center;
  border: 1px solid #000000;
}

.galleryEditPanel .dropPanel .payload  IMG {
  display: inline;
  vertical-align: middle;
}

.dragdrop-movable-panel DIV,
.dragdrop-movable-panel IMG {
  filter: alpha(opacity = 60);
  opacity: 0.6;
}

.galleryEditPanel .Contents {
  height: 80px;
  width: 625px;
}
