/* Facebook Connect helper crap (mostly because GWT + Facebook Connect == Fail). */
(function () {

var lastResponse = null;

// Called by the FB SDK when it finishes loading
window.fbAsyncInit = function () {
    FB.init({
        appId: "$apiKey",
        status: true,
        oauth: true,
        xfbml: true
    });
};

var fbRoot = document.createElement("div");
fbRoot.id = "fb-root";
document.body.appendChild(fbRoot);

var script = document.createElement("script");
script.id = "fbconnect";
script.async = true;
script.src = "//connect.facebook.net/en_US/all.js";
document.getElementsByTagName("head")[0].appendChild(script);

window.FB_GetKey = function () {
    return "$apiKey";
};

window.FB_RequireSession = function() {
    var maybeProcess = function (response) {
        if (response.authResponse != null) {
            if (FB_RequireSessionCallback != null) {
                lastResponse = response.authResponse;
                FB_RequireSessionCallback(lastResponse.userID);
                FB_RequireSessionCallback = null;
            }
            return true;
        }
        return false;
    };
    FB.getLoginStatus(function (response) {
        if (!maybeProcess(response)) {
            FB.login(function (response) {
                maybeProcess(response);
            });
        }
    });
};

window.FB_ShowFeedDialog = function(bundleId, data, callback) {
    // Unimplemented!
};

window.FB_StreamPublish = function(attachment, links, prompt, callback) {
    // Unimplemented!
};

window.FB_LastResponse = function () {
    return lastResponse;
};

window.FB_Logout = function() {
    FB.logout();
};

window.FB_ParseXFBML = function (id) {
    var elem = document.getElementById(id);
    if (elem != null) {
        FB.XFBML.parse(elem);
    }
};

})();
