/**
 * $Id: me.css 8235 2008-03-14 20:06:11Z mdb $
 *
 * Styles for Account pages.
 */

.createAccount {
  background: url(/images/ui/gradient_bg.jpg) repeat-x top  #63ABD3;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
}

.createAccount .Intro {
  padding-bottom: 5px;
  color: #2E7CA3;
  font-size: 28px;
  font-weight: bold;
}

.createAccount .Step .Number {
  font-size: 48px;
  vertical-align: top;
  padding-right: 5px;
}

.createAccount .Label {
  font-weight: bold;
  font-size: 14px;
  padding: 0px 0px 2px 3px;
}

.createAccount .Box {
  position: relative;
}

.createAccount .Tip {
  background: url(/images/ui/tip_balloon.png) no-repeat;
  position: absolute;
  width: 285px;
  height: 55px;
  vertical-align: middle;
  font-size: 12px;
  color: #23678E;
}

.createAccount .Tip td {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  padding-left: 25px;
  padding-right: 10px;
}

.createAccount .Status {
  text-align: center;
}

.createAccount .dateFields div {
  color: #FFFFFF;
}

.createAccount .roundBox {
  width: 340px;
}

.createAccount .roundBox .tipLabel {
  width: 100px;
}

.createAccount .gwt-TextBox, .createAccount .gwt-PasswordTextBox, .createAccount .gwt-ListBox {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #1D5884;
}

.welcome {
  background: url(/images/ui/gradient_bg.jpg) repeat-x top  #63ABD3;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 10px;
}

.welcome div {
  text-align: center;
}

.welcome table {
  margin-left: auto;
  margin-right: auto;
}

.welcome .Box {
  color: #80BEEF;
  text-align: center;
}

.welcome .Box .Title {
  font-size: 28px;
  color: white;
}

.welcome .Bits .Title {
  color: #2C7EA4;
  text-align: center;
}

.welcome .Bits .Explain {
  font-size: 24px;
  color: #194960;
}

.welcome .Bits .HowMuchArrow {
  padding-left: 30px;
}

.welcome .Tip {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  color: #165882;
  padding-top: 5px;
  text-align: left;
}

.welcome .FreeTitle {
  font-size: 20px;
  color: white;
}

.welcome .FreeTitle .Free {
  font-size: 24px;
}

.welcome .Next .Title { 
  font-size: 18px;
  color: #1B5982;
}

.welcome .Next .NextArrow { 
  padding-right: 10px;
}
