/** 
 * $Id$
 *
 * CSS styles for the Admin pages.
 */

.title {
  font-size: 18px;
  font-weight: bold;
}

.dashboardPanel {
  width: 100%;
}

.dashboardPanel .Title {
  background: #222222;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-align: left;
  padding: 5px;
}

.dashboardPanel .Applet {
  padding: 10px;
}

.invitePlayersPopup {
  padding: 10px;
}

.invitePlayersPopup .Tip {
  width: 400px;
}
