/** 
 * $Id$
 *
 * CSS styles for the Catalog interfaces.
 */

.catalogContents {
  width: 650px;
  border: white solid 10px;
}

.listingContainer {
  padding-right: 15px;
  padding-bottom: 10px;
}

.listingContainer .Preview {
  width: 80px;
  height: 60px;
  vertical-align: middle;
  padding-right: 5px;
}

.listingContainer .Preview img {
  margin-left: auto;
  margin-right: auto;
}

.listingContainer .Name {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
  font-size: 14px;
}

.listingContainer .Creator {
  font-size: 12px;
  color: #AABDC8;
}

.listingContainer .Rating {
  width: 60px;
}

.listingContainer .Cost {
  font-size: 12px;
}

.buyButton {
  font-size: 28px;
  font-weight: bold;
}
