/** 
 * $Id$
 *
 * CSS styles for the Catalog interfaces.
 */

.catalogPanel .Title {
  background: #222222;
  font-size: 14px;
  font-weight: bold;
  width: 118px;
  color: white;
  text-align: center;
}

.catalogPanel .Tabs {
  background: #222222;
}

.catalogContents {
   padding: 10px;
}

.itemContainer {
  text-align: center;
}

.itemContainer .Preview {
  width: 160px;
  height: 120px;
  vertical-align: middle;
}

.itemContainer .Name {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
  font-size: 14px;
}

.itemContainer .Creator {
  font-size: 12px;
}
