/** 
 * $Id$
 *
 * CSS styles for the Game interfaces.
 */

.javaLoading {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  font-size: 24px;
}

.gameDetail {
  padding: 5px;
  width: 650px;
}

.gameDetail .Up { 
  padding-right: 5px;
}

.gameDetail .Box { 
  text-align: center;
  border-right: white solid 15px;
  border-bottom: white solid 10px;
  width: 190px;
}

.gameDetail .Box .Name { 
  height: 25px;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  background-image: url(/images/ui/popup/header_tile.png);
  padding: 2px;
}

.gameDetail .Box .Screenshot { 
  background-image: url(/images/item/detail_preview_bg.png);
  height: 125px;
  padding: 10px;
}

.gameDetail .Details {
  padding-bottom: 10px;
  padding-right: 15px;
}

.gameDetail .Details td {
  font-size: 14px;
}

.gameDetail .Details .Creator {
  padding-top: 3px;
  height: 22px;
}

.gameDetail .InDevTip {
  font-size: 12px;
  padding-bottom: 10px;
}

.gameDetail .gwt-TabPanelBottom {
  padding: 0px; /* override default */
}

.gameBits .Title {
  padding-top: 10px;
  font-weight: bold;
  font-size: 12px;
  color: #5F96AC;
}

.gameBits .Label {
  padding-right: 5px;
}

.playPanel .Title {
  text-align: center;
  vertical-align: top;
  font-weight: bold;
  font-size: 16px;
  color: #AABDC8;
}

.playPanel .Button {
  border: 1px none #000000;
  width: 103px;
  height: 48px;
  cursor: pointer;
}
.playPanel .SinglePlay {
  background-image: url(/images/game/play_alone.png);
}
.playPanel .FriendPlay {
  background-image: url(/images/game/play_friends.png);
}
.playPanel .AnyonePlay {
  background-image: url(/images/game/play_anyone.png);
}
.playPanel .CustomPlay {
  background-image: url(/images/game/play_custom.png);
}

.playPanel .Label {
  font-size: 12px;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  padding-bottom: 5px;
}

.instructionsPanel {
  padding: 5px;
}

.gameTrophyPanel .Grid {
  height: 340px;
}

.trophyGrid .Trophy {
  width: 115px;
}

.trophyGrid .Name {
  text-align: center;
  font-size: 12px;
}

.trophyDetail {
  font-size: 12px;
  width: 100%;
  padding: 2px;

  background-image: url(/images/whirled/bg_gradient.png);
  background-repeat: repeat-x;
  background-color: #F4F3F4;
}

.trophyDetail .Image {
  text-align: left;
  width: 65px;
  height: 60px;
}

.trophyDetail .Name {
  font-weight: bold;
}

.trophyDetail .Italic {
  font-style: italic;
}

.trophyDetail .Earned {
  font-style: italic;
  font-weight: bold;
}

.topRankingPanel .Grid {
  width: 100%;
  border-left: 1px dotted;
  border-right: 1px dotted;
}

.topRankingPanel .Header {
  background-color: #F4F3F4;
  font-weight: bold;
  vertical-align: baseline;
}

.topRankingPanel .HeaderTip {
  background-color: #F4F3F4;
  text-align: right;
  vertical-align: baseline;
  font-size: 12px;
}

.topRankingPanel .Cell {
  border-top: 1px solid #DADADA;
}

.topRankingPanel .Self {
  font-weight: bold;
}

.topRankingPanel .Photo {
  width: 20px;
}

.topRankingPanel .Gap {
  width: 80px;
}

.topRankingPanel .Footer {
  color: #FFFFFF;
  background: #424242;
  border: 1px solid #000000;
  font-size: 12px;
  text-align: center;
}

.topRankingPanel .Note {
  padding: 5px;
}

.gameMetrics .Header {
  padding-top: 5px;
  font-weight: bold;
}

.gameMetrics .TinyNumber {
  font-size: xx-small;
  text-align: right;
}

.arcade .MyGames {
  border: 1px solid;
  width: 205px;
}

.arcade .Genre {
  width: 225px;
}

.arcade .Genre .Title {
  background-image: url(/images/whirled/places_tile.png);
  height: 20px;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
}

.arcade .Genre .Game {
  width: 100%;
  border-bottom: 1px solid #DADADA;
  border-left: 1px dotted;
  border-right: 1px dotted;
}

.arcade .Genre .Game .Thumb {
  width: 80px;
  height: 40px;
  padding-right: 5px;
}

.arcade .Genre .Game .Name {
  font-size: 12px;
}

.arcade .Genre .Game .Descrip {
  font-size: 10px;
  color: #AABDC8;
}

.arcade .Genre .Game .Players {
  font-size: 10px;
}

.arcade .Genre .More {
  width: 100%;
  text-align: right;
  height: 20px;
  border-bottom: 1px solid #DADADA;
  border-left: 1px dotted;
  border-right: 1px dotted;
}

.arcade .Genre .More a {
  color: #6499AE;
  font-size: 10px;
  font-weight: bold;
  padding-right: 5px;
}

.featuredGame {
  width: 475px;
}

.featuredGame .Title {
  width: 100%;
}

.featuredGame .Title .Star {
  background-image: url(/images/whirled/games_star.png);
  width: 20px;
  height: 20px;
}

.featuredGame .Title .Text {
  background-image: url(/images/whirled/games_tile.png);
  height: 20px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
}

.featuredGame .Shot {
  width: 185px;
  height: 135px;
  padding: 5px 10px 0px 0px;
}

.featuredGame .Info {
  vertical-align: top;
  padding: 5px 10px 0px 0px;
  font-size: 12px;
}

.featuredGame .Info .Online {
  font-weight: bold;
  color: #5F96AC;
  font-size: 16px;
}

.featuredGame .Buttons {
  vertical-align: top;
  padding-top: 5px;
}
