/** 
 * $Id$
 *
 * CSS styles for the Game interfaces.
 */

.javaLoading {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  font-size: 24px;
}

.gameDetail {
  padding: 5px;
  width: 670px;
}

.gameDetail .Up { 
  padding-right: 5px;
}

.gameDetail .Box { 
  text-align: center;
  border-right: white solid 15px;
  border-bottom: white solid 10px;
  width: 190px;
}

.gameDetail .Box .Name { 
  height: 25px;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  background-image: url(/images/ui/popup/header_tile.png);
  padding: 2px;
}

.gameDetail .Box .Screenshot { 
  background-image: url(/images/item/detail_preview_bg.png);
  height: 125px;
  padding: 10px;
}

.gameDetail .Details {
  padding-bottom: 10px;
  padding-right: 15px;
}

.gameDetail .Details td {
  font-size: 14px;
}

.gameDetail .Details .Creator {
  padding-top: 3px;
  height: 22px;
}

.gameDetail .InDevTip {
  font-size: 12px;
  padding-bottom: 10px;
}

.gameBits {
  font-size: 12px;
}

.gameBits .Title {
  padding-top: 10px;
  font-weight: bold;
  color: #5F96AC;
}

.gameBits .Label {
  padding-right: 5px;
}

.playPanel {
  width: 255px;
}

.playPanel .Title {
  text-align: center;
  vertical-align: top;
  font-size: 18px;
  padding-bottom: 5px;
}

.playPanel .Button {
  width: 120px;
  height: 44px;
  border: none;
  cursor: pointer;
}

.playPanel .SinglePlay {
  background: transparent url(/images/game/play_alone.png);
}
.playPanel .FriendPlay {
  background: transparent url(/images/game/play_friends.png);
}
.playPanel .SinglePlay-up-hovering {
  background: transparent url(/images/game/play_alone_over.png);
}
.playPanel .FriendPlay-up-hovering {
  background: transparent url(/images/game/play_friends_over.png);
}

.playPanel .Label {
  font-size: 12px;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  padding-bottom: 5px;
}

.instructionsPanel {
  padding: 5px;
}

.instructionsPanel img {
  display: inline;
}

.gameTrophyPanel .Grid {
  height: 340px;
}

.trophyGrid .Trophy {
  width: 115px;
}

.trophyGrid .Name {
  text-align: center;
  font-size: 12px;
}

.trophyDetail {
  font-size: 12px;
  width: 100%;
  padding: 2px;

  background-image: url(/images/whirled/bg_gradient.png);
  background-repeat: repeat-x;
  background-color: #F4F3F4;
}

.trophyDetail .Image {
  text-align: left;
  width: 65px;
  height: 60px;
}

.trophyDetail .Name {
  font-weight: bold;
}

.trophyDetail .Italic {
  font-style: italic;
}

.trophyDetail .Earned {
  font-style: italic;
  font-weight: bold;
}

.topRankingPanel .Grid {
  width: 100%;
  border-left: 1px dotted;
  border-right: 1px dotted;
}

.topRankingPanel .Header {
  background-color: #F4F3F4;
  font-weight: bold;
  vertical-align: baseline;
}

.topRankingPanel .HeaderTip {
  background-color: #F4F3F4;
  text-align: right;
  vertical-align: baseline;
  font-size: 12px;
}

.topRankingPanel .Cell {
  border-top: 1px solid #DADADA;
}

.topRankingPanel .Self {
  font-weight: bold;
}

.topRankingPanel .Photo {
  width: 20px;
}

.topRankingPanel .Gap {
  width: 80px;
}

.topRankingPanel .Footer {
  color: #FFFFFF;
  background: #424242;
  border: 1px solid #000000;
  font-size: 12px;
  text-align: center;
}

.topRankingPanel .Note {
  padding: 5px;
}

.gameMetrics .Header {
  padding-top: 5px;
  font-weight: bold;
}

.gameMetrics .TinyNumber {
  font-size: xx-small;
  text-align: right;
}

.trophyCase {
  width: 100%;
}

.arcade, .gameGenre {
  background: url(/images/game/featured_bg.png) no-repeat top left;
  width: 100%;
}

.arcade .Genre {
  width: 220px;
}

.arcade .Genre .More {
  width: 100%;
  text-align: right;
  border-bottom: 1px solid #DADADA;
  border-left: 1px dotted;
  border-right: 1px dotted;
}

.arcade .Genre .More a {
  color: #6499AE;
  font-size: 10px;
  font-weight: bold;
  padding-right: 5px;
}

.whyPlay {
  width: 152px;
  font-size: 14px;
  padding: 10px 20px;
}

.whyPlay .Title {
  padding-bottom: 10px;
  font-weight: bold;
  color: #FFFFFF;
}

.whyPlay ul {
  padding-left: 25px;
  color: #3D5174;
}

.featuredGame {
  height: 242px;
}

.featuredGame .SashBox {
  position: relative;
}

.featuredGame .Sash {
  position: absolute;
  left: -10px;
  top: -10px;
}

.featuredGame .Name {
  font-weight: bold;
  font-size: 18px;
}

.featuredGame .Genre {
  font-size: 12px;
  font-weight: bold;
}

.featuredGame .Descrip {
  font-size: 14px;
  height: 70px;
  overflow: hidden;
}

.featuredGame .Shot {
  width: 185px;
  padding-right: 10px;
}

.featuredGame .Online {
  background: url(/images/game/players_bg.png) no-repeat;
  color: #FFFFFF;
  width: 134px;
  height: 21px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-top: 2px;
}

.gameEntry {
  border-bottom: 1px solid #DADADA;
  border-left: 1px dotted;
  border-right: 1px dotted;
  width: 100%;
  height: 68px;
}

.gameEntry .Thumb {
  width: 80px;
  height: 40px;
  padding-right: 5px;
}

.gameEntry .Name {
  font-size: 12px;
}

.gameEntry .Descrip {
  font-size: 10px;
  color: #AABDC8;
}

.gameEntry .Players {
  font-size: 10px;
}

.gameGenre .Games {
  border-top: 5px solid white;
  border-left: 5px solid white;
  width: 681px;
  margin-top: 5px;
}

.gameGenre .gameEntry {
  border: none;
  width: 220px;
}
