/** 
 * $Id$
 *
 * CSS styles for the Game interfaces.
 */

.gameDetail {
  padding: 5px;
  width: 650px;
}

.gameDetail .Box { 
  padding-right: 15px;
  text-align: center;
}

.gameDetail .Box .Name { 
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  background-image: url(/images/ui/popup/header_tile.png);
  padding: 2px;
}

.gameDetail .Box .Logo { 
  background-image: url(/images/item/detail_preview_bg.png);
  width: 160px;
  height: 120px;
  padding: 10px;
}

.gameDetail .Box .Play {
  padding: 10px;
}

.gameDetail .Details {
  padding-top: 20px;
}

.gameDetail .Details td {
  font-size: 14px;
}

.trophyGrid .Trophy {
  text-align: center;
  width: 115px;
}

.trophyGrid .Name {
  text-align: center;
  font-size: 12px;
}

.trophyDetail {
  font-size: 12px;
  width: 300px;
}

.trophyDetail .Image {
  text-align: left;
  width: 65px;
}

.trophyDetail .Name {
  font-weight: bold;
}

.trophyDetail .Italic {
  font-style: italic;
}
