/** 
 * $Id$
 *
 * CSS styles for the Group interfaces.
 */

/* GroupView specific formatting */
.groupView td {
    vertical-align: top;
}

.groupView .Name {
    font-size: 22px;
    font-weight: bold;
}

.groupView .Blurb, .groupView .Charter, .groupView .PeoplePanel {
    font-size: 12px;
}

.groupView .PeoplePanel {
    width: 200px;
}

.groupView .PeoplePanel a {
    white-space: nowrap;
}

.groupView .Blurb {
    margin-bottom: 15px;
}

.groupView .DescriptionPanel {
    padding: 15px;
    padding-top: 10px;
    margin: 0px;
}

.groupView .LogoPanel {
    margin: 5px;
    font-size: 12px;
    width: 100px;
}

.groupView .LogoPanel .Links {
    font-weight: 600;
}

.groupView .LogoPanel .Established, .groupView .LogoPanel .Policy {
    font-style: italic;
}

.groupView .LogoPanel .Policy {
    margin: 7px;
}

.groupView .LogoPanel .Established a {
    font-style: normal;
}

.groupView .LabelLink {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

.groupView .gwt-Hyperlink {
    display: inline;
}

/* GroupList specific formattting */
.groupList {
    padding: 0px 5px;
    font-size: 12px;
    width: 100%;
}

.groupList .Intro {
    padding-left: 10px;
    padding-bottom: 10px;
}

.groupList .PopularTags {
    vertical-align: top;
}

.groupList .PopularTags a {
    font-style: italic;
    color: #696969;
}

.groupList .PopularTags .PopularTagsLabel {
    font-style: normal;
    color: black;
    font-weight: 600;
}

.groupList .PopularTags #moreLink {
    color: #CD853F;
}

.groupList .GroupWidget .EstablishedDate {
    margin: 5px;
}

.groupList .GroupWidget {
    font-size: 13px;
}

.groupList .GroupWidget a.Title {
    color: black;
    font-weight: 600;
}

.groupList .GroupWidget .EstablishedDate, .GroupList .GroupWidget .MemberCount {
    font-style: italic;
}

.groupList .GroupWidget .Logo {
    width: 80px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
