/* GroupView specific formatting */
.groupView td {
    vertical-align: top;
}

.groupView .name {
    font-size: 22px;
    font-weight: bold;
}

.groupView .blurb, .groupView .charter, .groupView .peoplePanel {
    font-size: 11px;
}

.groupView .descriptionPanel {
    padding: 15px;
    padding-top: 10px;
    margin: 0px;
}

.groupView .logoPanel {
    margin: 0px;
    width: 160px;
    font-size: 11px;
}

.groupView .logoPanel .links {
    font-weight: 600;
}

.groupView .logoPanel .established, .groupView .logoPanel .policy {
    font-style: italic;
}

.groupView .logoPanel .policy {
    margin: 7px;
}

.groupView .logoPanel .established a {
    font-style: normal;
}

.groupView .labelLink {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.groupView .logoPanel .gwt-Button {
    margin-bottom: 9px;
}

/* MenuBar stuff... annoyingly they aren't even contained in the page's #content div... 
 * never mind the .groupView div.  When things get customized and fancy, these menus should have 
 * a custom classname as well. */
.gwt-MenuBar {
    background-color: white; /* opaque-ness, yes please */
    border: 1px solid black; 
    cursor: default;
    font-size: 11px;
}

.gwt-MenuItem-selected {
    background-color: lightblue;
}

.gwt-MenuBar a {
    text-decoration: none;
    color: black;
    cursor: default;
}

.gwt-MenuBar .disabled {
    color: gray;
}


/* GroupList specific formattting */
.groupList {
    font-size: 11px;
}

.groupList tr {
    vertical-align: top;
}

.groupList .leftColumn {
    width: 200px;
    padding-right: 10px;
}

.groupList .leftColumn .popularTags {
    margin-bottom: 10px;
}

.groupList .leftColumn .popularTags a, .groupList .leftColumn .popularTags {
    font-style: italic;
    color: #696969;
}

.groupList .leftColumn .popularTags .popularTagsLabel {
    font-style: normal;
    color: black;
    font-weight: 600;
}

.groupList .leftColumn .popularTags #moreLink {
    color: #CD853F;
}

.groupList .leftColumn .featuredGroups {
    border: 1px solid #696969;
}

.groupList .leftColumn .featuredGroups .featuredGroupsTitle {
    font-size: 15px;
    color: white;
    font-weight: 600;
    background-color: #696969;
    padding: 3px;
}
 
.groupList .characterList {
    font-weight: 600;
    padding-bottom: 15px;
}
