/** Make GWT display some sensible defaults. */
.gwt-TabBar .gwt-TabBarItem {
   border: 1px solid;
   padding: 5px;
   background: #CCCCFF;
}

.gwt-TabBar .gwt-TabBarItem-selected {
   border: 2px solid;
   background: #6699CC;
}

.gwt-TabPanel .Bottom { 
   border: 1px solid;
   background: #CCFF99;
   padding: 5px;
}

/** Form element styles. */
.gwt-Button {
  border-top: none;
  border-bottom: none;
  border-left: 1px double #000000;
  border-right: 1px double  #000000;
  background-image: url(/images/header/button_middle.png);
  background-repeat: repeat-x;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  height: 20px;
  vertical-align: top;
  padding-bottom: 2px;
}

/** Header styles. */
body {
  margin: 0px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

.msoyHeader .Left {
  background-image: url(/images/header/header_left.png);
  background-repeat: no-repeat;
  width: 641px;
  height: 43px;
  vertical-align: bottom;
}

.msoyHeader .Right {
  background-image: url(/images/header/header_right.png);
  background-repeat: repeat;
}

.naviPanel {
  padding-left: 90px;
  background-repeat: repeat;
}

.naviPanel .Left {
  background-image: url(/images/header/tab_left.png);
  width: 4px;
  height: 20px;
}

.naviPanel .Link {
  background-image: url(/images/header/tab_middle.png);
  background-repeat: repeat;
  padding-left: 2px;
  padding-right: 2px;
}

.naviPanel .Link a {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: white;
}

.naviPanel .Right {
  background-image: url(/images/header/tab_right.png);
  width: 4px;
  height: 20px;
}

.naviPanel .SelLeft {
  background-image: url(/images/header/seltab_left.png);
  width: 4px;
  height: 20px;
}

.naviPanel .SelLink {
  background-image: url(/images/header/seltab_middle.png);
  background-repeat: repeat;
  padding-left: 2px;
  padding-right: 2px;
}

.naviPanel .SelLink a {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: black;
}

.naviPanel .SelRight {
  background-image: url(/images/header/seltab_right.png);
  width: 4px;
  height: 20px;
}

.logonPanel {
  margin-right: 10px
}

.logonPanel .Top {
  font-size: 12px;
  margin-right: 5px;
}

.logonPanel .Main {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}

.logonPopup {
   border: 1px solid #0066FF;
   background: #6699CC;
   padding: 5px;
}

/** Configuration for our bordered popup window */
.borderedPopup {
   background: #FFFFFF;
}

.borderedPopup .UpperLeft {
   background-image: url(/images/ui/popup/top_left.png);
   width: 4px;
   height: 4px;
}
.borderedPopup .Upper {
   background-image: url(/images/ui/popup/horiz.png);
   height: 4px;
}
.borderedPopup .UpperRight {
   background-image: url(/images/ui/popup/top_right.png);
   width: 4px;
   height: 4px;
}
.borderedPopup .Left {
   background-image: url(/images/ui/popup/vert.png);
   width: 4px;
}
.borderedPopup .Right {
   background-image: url(/images/ui/popup/vert.png);
   width: 4px;
}
.borderedPopup .LowerLeft {
   background-image: url(/images/ui/popup/bottom_left.png);
   width: 4px;
   height: 4px;
}
.borderedPopup .Lower {
   background-image: url(/images/ui/popup/horiz.png);
   height: 4px;
}
.borderedPopup .LowerRight {
   background-image: url(/images/ui/popup/bottom_right.png);
   width: 4px;
   height: 4px;
}

.separatorLine {
  background-image: url(/images/ui/separator.png);
  width: 100%;
}

.borderedDialog .Title {
  font-size: 24px;
}

.borderedDialog .Controls {
}

.borderedDialog .CloseBox {
  background-image: url(/images/ui/close_button.png);
  width: 13px;
  height: 13px;
  position: absolute;
  right: 5px;
  top: 5px;
}

/** General UI styles. */
.inline {
   display: inline;
}   

.actionLabel {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

.rowPanelCell {
  padding-right: 10px;
  vertical-align: bottom;
}

.infoPopup {
   border: 1px solid #0066FF;
   background: #6699CC;
   padding: 5px;
}

.itemPopup {
   border: 2px solid #0066FF;
   background: #6699CC;
   padding: 5px;
}

.itemDetailErrors {
   font-weight: bold;
   background: #FFFFFF;
}

.headerValueTable {
   border: 1px solid black;
}

.headerRow {
   font-style: italic;
   background: #6699CC;
}

.dataRow {
   background: #99CCFF;
}

.itemRating {
  background: #FFFFFF;
  border: 1px solid black;
  width: 100px;
}

.groupLogoPopup {
  border: 2px solid #0066FF;
  background: #6699CC;
  padding: 5px;
}

.groupLogoThumbnail {
  border: 1px solid black;
  height: 50px;
}
