/** 
 * $Id$
 *
 * CSS styles shared globally.
 */

/** The globalness! */
html, body {
  height: 100%;
  margin: 0;
  border: none;
  padding: 0;
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

a {
  color: black;
}

a:visited {
  color: black;
}

/** Make GWT display some sensible defaults. */
.gwt-TabBar .gwt-TabBarItem {
  border: 1px solid;
  padding: 5px;
  background: #CCCCFF;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  border: 2px solid;
  background: #6699CC;
}

.gwt-TabPanelBottom { 
  padding: 5px;
}

/* MenuBar styles */
.gwt-MenuBar {
  background-color: white;
  border: 1px solid black; 
  cursor: default;
  font-size: 14px;
}

.gwt-MenuItem-selected {
  background-color: lightblue;
}

.gwt-MenuBar a {
  text-decoration: none;
  color: black;
  cursor: default;
}

.gwt-MenuBar .Disabled {
  color: gray;
}

.gwt-Image {
  margin: 0px;
  padding: 0px;
}

/** Form element styles. */
.gwt-Button {
  border: 1px double #000000;
  background-image: url(/images/ui/button_middle.png);
  background-repeat: repeat-x;
  font-size: 12px;
  height: 20px;
  vertical-align: top;
  padding-bottom: 1px;
  cursor: pointer;
}

.tinyButton {
  border: 1px double #000000;
  background-image: url(/images/ui/tiny_button_middle.png);
  background-repeat: repeat-x;
  font-size: 8px;
  height: 14px;
  vertical-align: top;
  padding-bottom: 1px;
  cursor: pointer;
}

.gwt-TextBox {
  background: #E9F6FB;
}

.gwt-PasswordTextBox {
  background: #E9F6FB;
}

.gwt-TextArea {
  background: #E9F6FB;
}

.gwt-ListBox {
  background: #E9F6FB;
}

.gwt-FileUpload {
  background: #E9F6FB;
}

/** Header styles. */
.msoyHeader {
  color: #EAEFF1;
  background: url(/images/header/header_tile.png);
}

.msoyHeader .Logo {
  width: 124px;
  height: 50px;
  cursor: pointer;
}

.msoyHeader .Logo img {
  display: block;
}

.msoyHeader .Navi {
  width: 195px;
  height: 50px;
}

.msoyHeader .Shim {
  background: url(/images/header/header_shim.png) no-repeat;
  width: 156px;
  height: 50px;
}

.msoyHeader .Left {
  background: url(/images/header/header_left.png) no-repeat;
  width: 156px;
  height: 50px;
  vertical-align: bottom;
}

.msoyHeader .Right {
  background: url(/images/header/header_right.png) no-repeat right;
  height: 50px;
  vertical-align: bottom;
}

.naviPanel {
}

.naviPanel .Button {
  width: 45px;
  height: 35px;

  cursor: pointer;
  cursor: hand;
}

.naviPanel .Link {
  font-size: 10px;
  text-align: center;
  height: 15px;

  cursor: pointer;
  cursor: hand;
}

.naviPanel .Me {
  background: url(/images/header/navi/me.png) no-repeat;
}
.naviPanel .MeHover {
  background: url(/images/header/navi/me_over.png) no-repeat;
}

.naviPanel .Places {
  background: url(/images/header/navi/places.png);
}
.naviPanel .PlacesHover {
  background: url(/images/header/navi/places_over.png);
}

.naviPanel .People {
  background: url(/images/header/navi/people.png);
}
.naviPanel .PeopleHover {
  background: url(/images/header/navi/people_over.png);
}

.naviPanel .Stuff {
  background: url(/images/header/navi/stuff.png);
}
.naviPanel .StuffHover {
  background: url(/images/header/navi/stuff_over.png);
}

.naviPanel .Catalog {
  background: url(/images/header/navi/catalog.png);
}
.naviPanel .CatalogHover {
  background: url(/images/header/navi/catalog_over.png);
}

.naviPanel .Games {
  background: url(/images/header/navi/games.png);
}
.naviPanel .GamesHover {
  background: url(/images/header/navi/games_over.png);
}

.naviPanel .Help {
  background: url(/images/header/navi/help.png);
}
.naviPanel .HelpHover {
  background: url(/images/header/navi/help_over.png);
}

.naviPanel .SelLink {
  background-image: url(/images/header/seltab_middle.png);
  background-repeat: repeat;
  padding-left: 2px;
  padding-right: 2px;

  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;

  cursor: pointer;
  cursor: hand;
}

.naviPanel .SelLink a {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
}

.statusPanel {
  padding-right: 40px;
  padding-bottom: 2px;
  color: #AAB5B9;
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

.statusPanel .Icon {
  padding-top: 2px;
  padding-right: 3px;
}

.statusPanel .MailNotification {
   border: none;
   height: 10px;
}

.logonPopup {
  width: 350px;
}

.logonPopup .Forgot {
  font-size: 12px;
  text-align: right;
}

.formDialog .Intro {
  width: 400px;
}

.formDialog .Tip {
  font-size: 12px;
  width: 200px;
}

.formDialog .Status {
  width: 400px;
}

.formDialog .Error {
  color: red;
}

.editAccount .Header {
  font-weight: bold;
}

.editAccount .Tip {
  width: 400px;
  font-size: 12px;
  text-align: center;
}

.editAccount .PermaName {
  font-weight: bold;
}

.editAccount .Status {
  width: 400px;
}

.editAccount .Error {
  color: red;
}

.imageChooser {
  width: 800px;
}

.imageChooser .Title {
  font-size: 18px;
  padding: 10px;
}

.itemThumbnail {
  padding-left: 5px;
  width: 80px;
}

.itemThumbnail .Image {
  height: 60px;
  text-align: center;
  vertical-align: middle;
}

.itemThumbnail .Text {
  font-size: small;
  text-align: center;
}

/** Standard paged grid configuration. */
.pagedGrid .Controls {
  width: 100%;
  background: #333333;
  color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

.pagedGrid .Top {
  text-align: center;
}

.pagedGrid .BottomLeft {
  background: #424242;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  text-align: left;
}

.pagedGrid .Bottom {
  background: #424242;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.pagedGrid .BottomRight {
  background: #424242;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  padding-right: 10px;
}

.pagedGrid .Button {
  font-size: 12px;
  width: 56px;
  vertical-align: top;
  padding-bottom: 1px;
  cursor: pointer;
  border: 0px none;
}

.pagedGrid .PrevButton {
  padding-left: 10px;
  background-image: url(/images/ui/button_prev.png);
  height: 20px;
}

.pagedGrid .NextButton {
  padding-right: 10px;
  background-image: url(/images/ui/button_next.png);
  height: 20px;
}

.pagedGrid .FooterNextButton {
  padding-right: 10px;
  background: #424242;
  background-image: url(/images/ui/footer_button_next.png);
  height: 18px;
}

.pagedGrid .FooterPrevButton {
  padding-left: 10px;
  background: #424242;
  background-image: url(/images/ui/footer_button_prev.png);
  height: 18px;
}

.pagedGrid .Empty {
  padding: 5px;
}

.dottedGrid .Grid {
  border-left: 1px dotted;
  border-right: 1px dotted;
}

.dottedGrid .Grid .Cell {
  background-image: url(/images/whirled/bg_gradient.png);
  background-repeat: repeat-x;
  background-color: #F4F3F4;
}

.dottedGrid .Grid .TopCell {
  border-bottom: 1px solid #DADADA;
}

.dottedGrid .Grid .MiddleCell {
  border-bottom: 1px solid #DADADA;
}

/** Configuration for our bordered popup window */
.borderedPopup {
   background: #FFFFFF;
}

/** First the four verticals */
.borderedWidget .westOut {
   background-image: url(/images/ui/quads/e.png);
   width: 2px;
}

.borderedWidget .westIn {
   background-image: url(/images/ui/quads/w.png);
   width: 2px;
}

.borderedWidget .eastOut {
   background-image: url(/images/ui/quads/w.png);
   width: 2px;
}

.borderedWidget .eastIn {
   background-image: url(/images/ui/quads/e.png);
   width: 2px;
}

/** Then the four horizontals */
.borderedWidget .northOut {
   background-image: url(/images/ui/quads/s.png);
   height: 2px;
}

.borderedWidget .northIn {
   background-image: url(/images/ui/quads/n.png);
   height: 2px;
}

.borderedWidget .southOut {
   background-image: url(/images/ui/quads/n.png);
   height: 2px;
}

.borderedWidget .southIn {
   background-image: url(/images/ui/quads/s.png);
   height: 2px;
}

/** Then eight corners */
.borderedWidget .northWestIn {
   background-image: url(/images/ui/quads/nw_in.png);
   width: 2px;
   height: 2px;
}

.borderedWidget .northWestOut {
   background-image: url(/images/ui/quads/se_out.png);
   width: 2px;
   height: 2px;
}

.borderedWidget .southWestIn {
   background-image: url(/images/ui/quads/sw_in.png);
   width: 2px;
   height: 2px;
}

.borderedWidget .southWestOut {
   background-image: url(/images/ui/quads/ne_out.png);
   width: 2px;
   height: 2px;
}

.borderedWidget .northEastIn {
   background-image: url(/images/ui/quads/ne_in.png);
   width: 2px;
   height: 2px;
}

.borderedWidget .northEastOut {
   background-image: url(/images/ui/quads/sw_out.png);
   width: 2px;
   height: 2px;
}

.borderedWidget .southEastIn {
   background-image: url(/images/ui/quads/se_in.png);
   width: 2px;
   height: 2px;
}

.borderedWidget .southEastOut {
   background-image: url(/images/ui/quads/nw_out.png);
   width: 2px;
   height: 2px;
}


.separatorLine {
  background-image: url(/images/ui/separator.png);
  width: 100%;
}

.borderedDialog {
  background: url(/images/ui/popup/footer_tile.png) repeat-x bottom;
}

.borderedDialog .HeaderBackground {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

.borderedDialog .HeaderBackground td {
  height: 33px;
}

.borderedDialog .TitleBar {
  width: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.borderedDialog .HeaderDrag {
  width: 100%;
  height: 33px;
  position: absolute;
  display: inline;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.borderedDialog .HeaderBackground .HeaderLeft {
  background-image: url(/images/ui/popup/header_left.png);
  width: 75px;
}

.borderedDialog .HeaderBackground .HeaderRight {
  background-image: url(/images/ui/popup/header_right.png);
  width: 75px;
}

.borderedDialog .HeaderBackground .HeaderCenter {
  background-image: url(/images/ui/popup/header_tile.png);
}

.borderedDialog .HeaderBackground .HeaderCenter .HeaderTitle .TitleLeft {
  background-image: url(/images/ui/popup/header_star_left.png);
  width: 50px;
}

.borderedDialog .HeaderBackground .HeaderCenter .HeaderTitle .TitleRight {
  background-image: url(/images/ui/popup/header_star_right.png);
  width: 50px;
}

.borderedDialog .HeaderBackground .HeaderCenter .HeaderTitle .TitleCenter {
  background-image: url(/images/ui/popup/header_text_tile.png);
}

.borderedDialog .Title div {
  color: #EAEFF1;
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
}

.borderedDialog .Footer {
  background: url(/images/ui/popup/footer_left.png) no-repeat bottom left;
  height: 50px;
}

.borderedDialog .CloseBox {
  background-image: url(/images/ui/close.png);
  width: 13px;
  height: 13px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 100;
}

.borderedDialog .Controls {
  color: white;
}

.borderedDialog .Controls a {
  color: white;
}

/** HeaderBox **/
.headerBox {
  width: 100%;
}

.headerBox .BoxHeader { 
  width: 100%;
}

.headerBox .BoxHeader .Left {
  width: 33px;
  height: 27px;
  background: url(/images/profile/box_left.png);
}

.headerBox .BoxHeader .Right {
  width: 31px;
  height: 27px;
  background: url(/images/profile/box_right.png);
}

.headerBox .BoxHeader .Title {
  background: url(/images/profile/box_tile.png);
  color: #EAF4F8;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.headerBox .Content {
  width: 335px;
}

/** General UI styles. */
.inline {
   display: inline;
}   

.inlineL {
   display: inline;
   margin-left: 5px;
}   

.inlineR {
   display: inline;
   margin-right: 5px;
}   

.inlineLR {
   display: inline;
   margin-left: 5px;
   margin-right: 5px;
}   

.actionLabel {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

.rightLabel {
  text-align: right;
  white-space: nowrap;
}

.nowrapLabel {
  white-space: nowrap;
}

.infoLabel {
  font-size: 18px;
  padding: 25px;
}

.rowPanelCell {
  padding-right: 10px;
}

.tipLabel {
  font-size: 12px;
}

.infoPopup {
   padding: 15px;
}

.itemPopup {
   border: 2px solid #0066FF;
   background: #6699CC;
   padding: 5px;
}

.itemDetailErrors {
   font-weight: bold;
   background: #FFFFFF;
}

.headerValueTable {
   border: 1px solid black;
}

.headerRow {
   font-style: italic;
   background: #6699CC;
}

.groupLogoPopup {
  border: 2px solid #0066FF;
  background: #6699CC;
  padding: 5px;
}

.groupLogoThumbnail {
  border: 1px solid black;
  height: 50px;
}

.StyledTabs .gwt-TabBar {
  background: url(/images/ui/tabs/tab_anchor_tile.png) repeat-x bottom;
}

.StyledTabs .gwt-TabBar .inline {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem, .StyledTabs .gwt-TabBar .gwt-TabBarItem-selected {
  padding: 0px;
  border-width: 0px;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem {
  color: #CFDCE1;
  font-size: 11px;
  cursor: default;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem .TabLeft {
  background: url(/images/ui/tabs/tab_left.png) no-repeat;
  width: 3px;
  height: 20px;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem .TabCenter {
  background: url(/images/ui/tabs/tab_tile.png);
  height: 20px;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem .TabRight {
  background: url(/images/ui/tabs/tab_right.png) no-repeat;
  width: 3px;
  height: 20px;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem-selected {
  color: black;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem-selected .TabLeft {
  background: url(/images/ui/tabs/tab_selected_left.png) no-repeat;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem-selected .TabCenter {
  border-top: 1px solid black;
  background: white;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem-selected .TabRight {
  background: url(/images/ui/tabs/tab_selected_right.png) no-repeat;
}

.promptPopup .Header {
  padding: 4px 0px 0px 0px;
  background-image: url(/images/ui/popup/header_text_tile.png);
  height: 25px;
  color: #EAEFF1;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.promptPopup .Content {
  padding: 15px 15px 0px 15px;
}

.pageHeaderTitle {
  background: #222222;
  font-size: 14px;
  font-weight: bold;
  width: 118px;
  height: 20px;
  color: white;
  text-align: center;
  white-space: nowrap;
  padding-left: 5px;
}

.pageHeaderContent {
  background: #222222;
  height: 20px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.pageHeaderClose {
  background: #222222;
  width: 16px;
  height: 20px;  
  vertical-align: top;
}

.pageHeaderClose .CloseBox {
  background-image: url(/images/ui/close.png);
  margin-top: 4px;
  width: 13px;
  height: 13px;
}

.pageHeaderSep {
  width: 1px;
  height: 20px;
  background: black;
}

.pageHeaderSep .Separator {
  position: relative;
  background: black;
  top: -20px;
  width: 1px;
  height: 20px;
}

.SeparatorFromFlash {
  position: absolute;
  background: black;
  width: 1px;
  height: 20px;
  top: 30px;
}

.sendInvites .Header, .sendInvitesResultsPopup .Header, .invitation .Header {
  font-weight: bold;
}

.sendInvites .Tip {
  width: 400px;
  font-size: 12px;
  text-align: center;
}

.sendInvites .Pending, .sendInvitesResultsPopup .Email {
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.sendInvitesResultsPopup .ResultsHeader {
  background: #222222;
  color: #EAEFF1;
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
}

.invitation .Body {
  font-size: 12px;
  width: 400px;
}

.wrappedFrame {
  width: 100%;
  height: 100%;
  border: 0px;
}

.commentsPanel .Status {
  font-size: 12px;
}

.commentPanel .Author {
  font-weight: bold;
  font-size: 12px;
}

.commentPanel .Text {
}

.commentPanel .Posted {
  font-size: 12px;
  color: #CCCCCC;
}
