/** 
 * $Id$
 *
 * CSS styles shared by all GWT stuff.
 */

body {
  background: #000000;
}

img, embed, applet, object { 
  display: block; /* no descender padding thanks */
}

/** Make GWT display some sensible defaults. */
.gwt-TabBar .gwt-TabBarItem {
  border: 1px solid;
  padding: 5px;
  background: #CCCCFF;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  border: 2px solid;
  background: #6699CC;
}

.gwt-TabPanelBottom { 
  padding: 5px;
}

/* MenuBar styles */
.gwt-MenuBar {
  background-color: white;
  border: 1px solid black; 
  cursor: default;
  font-size: 14px;
}

.gwt-MenuItem-selected {
  background-color: lightblue;
}

.gwt-MenuBar a {
  text-decoration: none;
  color: black;
  cursor: default;
}

.gwt-MenuBar .Disabled {
  color: gray;
}

.gwt-Image {
  margin-left: auto;
  margin-right: auto;
}

/** Form element styles. */
.gwt-Button {
    background-image: url(/images/ui/button_middle.png);
    background-repeat: repeat-x;
    border: 1px solid #404040;
    font-size: 12px;
    vertical-align: top;
    cursor: pointer;
    height: 19px;
    margin: 0px;
    padding-bottom: 1px;
    white-space: nowrap;
}

.tinyButton {
    background-image: url(/images/ui/tiny_button_middle.png);
    font-size: 8px;
    height: 12px;
}

.bigButton {
  border: none;
  width: 103px;
  height: 48px;
  background-image: url(/images/ui/big_button.png);
  font-size: 21px;
}

.closeButton {
  background-image: url(/images/ui/close.png);
  width: 13px;
  height: 13px;
}

.closeButton-hovering {
  background-image: url(/images/ui/close_over.png);
}

.gwt-PushButton {
    text-align: center;
}

.gwt-PushButton-up-hovering, .gwt-PushButton-down-hovering {
    background: #CCCCCC;
    cursor: pointer;
}

.gwt-ToggleButton {
    text-align: center;
}

.gwt-ToggleButton-up {
}

.gwt-ToggleButton-up-hovering {
    background: #CCCCCC;
    cursor: pointer;
}

.gwt-ToggleButton-down {
    background: #999999;
}

.gwt-ToggleButton-down-hovering {
    background: #CCCCCC;
    cursor: pointer;
}

.gwt-TextBox {
  background: #E9F6FB;
}

.gwt-PasswordTextBox {
  background: #E9F6FB;
}

.gwt-TextArea {
  background: #E9F6FB;
}

.gwt-ListBox {
  background: #E9F6FB;
}

.gwt-FileUpload {
  background: #E9F6FB;
}

.gwt-RichTextToolbar {
  margin-bottom: 5px;
}

/** Header styles. */
.frameHeader {
  color: #EAEFF1;
  background: #000000;
  height: 50px;
}

.frameHeader .Navi {
  width: 195px;
}

.frameHeader .Right {
  background: url(/images/header/header_right.png) no-repeat right;
  width: 100%;
  vertical-align: bottom;
}

.frameHeader .Signup {
  width: 300px;
  text-align: center;
  background: #000000;
}

.frameHeader .Signup table {
  margin-left: auto;
  margin-right: auto;
}

.frameHeader .Signup a {
  color: #FFFFFF;
  font-size: 18px;
}

.frameHeader .Logon {
  background: #000000;
}

.frameHeader .Logon table {
  margin-top: 5px;
}

.frameHeader .Button {
  height: 32px;
  margin-left: 0px;
  margin-right: 4px;
  padding-top: 18px;
}

.logonPanel .gwt-TextBox,
.logonPanel .gwt-PasswordTextBox {
  background: #FFFFFF;
  border: 1px solid #000000;
}

.frameHeader .logonPanel {
  font-size: 10px;
}

.frameHeader .logonPanel td {
  vertical-align: middle;
}

.frameHeader .logonPanel .gwt-TextBox,
.frameHeader .logonPanel .gwt-PasswordTextBox {
  font-size: 10px;
  width: 100px;
  border: 1px solid #CCCCCC;
}

.statusPanel {
  padding-right: 40px;
  padding-bottom: 2px;
  color: #AAB5B9;
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

.statusPanel .Icon {
  padding-right: 3px;
}

.statusPanel .Mail {
  padding-right: 25px;
}

.statusPanel a {
  color: #AAB5B9;
}

/** Page styles */
.pageTitle {
  width: 700px;
  height: 37px;
  background: #000000 url(/images/header/titlebar.png) no-repeat bottom;
}

.pageTitle .SubNavi {
  font-size: 12px;
  color: white;
  white-space: nowrap;
  vertical-align: bottom;
  text-align: right;
  padding: 0px 15px 5px 0px;
}

.pageTitle .SubNavi a {
  color: white;
}

.pageTitle .SubNavi img {
  display: inline;
  vertical-align: bottom;
}

.pageTitle .SubNavi .gwt-HTML {
  display: inline;
}

.pageTitle .Title {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  height: 34px;
  color: white;
  padding: 3px 0px 0px 15px;
  white-space: nowrap;
  opacity: 0.6;
}

.pageDialog .DialogTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.pageTitle .Close, .pageDialog .Close {
  width: 13px;
  padding: 3px 5px 0px 0px;
  vertical-align: top;
}

.pageTitle .Close .CloseBox, .pageDialog .Close .CloseBox {
  background-image: url(/images/ui/close.png);
  width: 13px;
  height: 13px;
}

/** Rounded box */
.roundBox .Title {
  background: url(/images/ui/box/header_tile.png) repeat-x;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.roundBox .Contents {
  background: #FFFFFF;
}

/** Starry boxes */
.peopleBox .HeaderCenter, .gamesBox .HeaderCenter {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.peopleBox .HeaderLeft, .peopleBox .HeaderRight {
  background-image: url(/images/whirled/people_star.png);
  width: 20px;
  height: 20px;
}
.peopleBox .Header {
  background-image: url(/images/whirled/people_tile.png);
  height: 20px;
}

.gamesBox .HeaderLeft, .gamesBox .HeaderRight {
  background-image: url(/images/whirled/games_star.png);
  width: 20px;
  height: 20px;
}
.gamesBox .Header {
  background-image: url(/images/whirled/games_tile.png);
  height: 20px;
}

/** Misc styles. */
.tongueBox {
  width: 100%;
}

.tongueBox .Header {
  width: 100%;
}

.tongueBox .Header .Base {
  background: url(/images/ui/tongue_base.png) #49A1E7 no-repeat left;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  color: white;
  padding-left: 10px;
  height: 28px;
}

.tongueBox .Header .Line {
  background: url(/images/ui/tongue_tip.png) no-repeat left;
  width: 100%;
  padding-left: 10px;
}

.tongueBox .Content {
  border: white solid 10px;
}

.tongueBox .Footer {
  font-size: 12px;
  padding: 0px 10px 10px 0px;
  text-align: right;
}

.formPanel td {
  vertical-align: top;
}

.formPanel .Intro {
  width: 600px;
}

.formPanel .Tip {
  font-size: 12px;
  width: 300px;
}

.formPanel .Status {
  width: 600px;
}

.formPanel .Error {
  color: red;
}

.imageChooser {
  padding: 10px;
  width: 670px;
}

.imageChooser .Title {
  font-size: 16px;
}

.imageChooser .Photo {
  padding: 5px;
}

.imageChooser .Or {
  font-size: 18px;
  text-align: center;
  padding: 10px 0px;
}

.imageChooser .Preview {
  background-image: url(/images/item/detail_preview_bg.png);
  width: 320px;
  height: 240px;
}

.itemThumbnail {
  padding-left: 5px;
  width: 80px;
}

.itemThumbnail .Image {
  height: 60px;
  text-align: center;
  vertical-align: middle;
}

.itemThumbnail .Text {
  font-size: small;
  text-align: center;
}

/** Standard paged grid configuration. */
.pagedGrid .Header {
  background: url(/images/ui/grid_header_tile.png) repeat-x left;
  color: #487999;
  height: 29px;
}

.pagedGrid .Header .TopLeft {
  background: white url(/images/ui/grid_header_left.png) no-repeat left;
  width: 26px;
}

.pagedGrid .Header .TopRight {
  background: white url(/images/ui/grid_header_right.png) no-repeat right;
  width: 26px;
}

.pagedGrid .Footer {
  border-top: 1px dotted;
  padding-top: 2px;
}

.pagedGrid .Info {
  /*width: 100%;*/
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

.pagedGrid .Prev, .pagedGrid .Next {
  width: 55px;
}

.pagedGrid .Info .Page {
  padding: 0px 2px;
}

.pagedGrid .Info .Link {
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
  padding: 0px 2px;
}

.pagedGrid .Info .Current {
  font-weight: bold;
}

.pagedGrid .Button {
  font-size: 12px;
  width: 51px;
  height: 19px;
  vertical-align: top;
  padding-top: 0px;
  padding-bottom: 1px;
  cursor: pointer;
  border: 0px none;
}

.pagedGrid .PrevButton {
  text-align: right;
  background: url(/images/ui/button_prev.png) transparent;
}

.pagedGrid .NextButton {
  text-align: left;
  background: url(/images/ui/button_next.png) transparent;
}

.pagedGrid .Empty {
  padding: 5px;
  text-align: center;
}

.dottedGrid .Grid {
  border-left: 1px dotted;
  border-right: 1px dotted;
}

.dottedGrid .Grid .Cell {
  background-image: url(/images/whirled/bg_gradient.png);
  background-repeat: repeat-x;
  background-color: #F4F3F4;
}

.dottedGrid .Grid .TopCell {
  border-bottom: 1px solid #DADADA;
}

.dottedGrid .Grid .MiddleCell {
  border-bottom: 1px solid #DADADA;
}

.dottedGrid .Empty {
  border-left: 1px dotted;
  border-right: 1px dotted;
}

/** Configuration for our bordered popup window */
.borderedPopup {
  background: #FFFFFF;
}

/** First the four verticals */
.borderedWidget .westOut {
  background-image: url(/images/ui/quads/e.png);
  width: 2px;
}

.borderedWidget .westIn {
  background-image: url(/images/ui/quads/w.png);
  width: 2px;
}

.borderedWidget .eastOut {
  background-image: url(/images/ui/quads/w.png);
  width: 2px;
}

.borderedWidget .eastIn {
  background-image: url(/images/ui/quads/e.png);
  width: 2px;
}

/** Then the four horizontals */
.borderedWidget .northOut {
  background-image: url(/images/ui/quads/s.png);
  height: 2px;
}

.borderedWidget .northIn {
  background-image: url(/images/ui/quads/n.png);
  height: 2px;
}

.borderedWidget .southOut {
  background-image: url(/images/ui/quads/n.png);
  height: 2px;
}

.borderedWidget .southIn {
  background-image: url(/images/ui/quads/s.png);
  height: 2px;
}

/** Then eight corners */
.borderedWidget .northWestIn {
  background-image: url(/images/ui/quads/nw_in.png);
  width: 2px;
  height: 2px;
}

.borderedWidget .northWestOut {
  background-image: url(/images/ui/quads/se_out.png);
  width: 2px;
  height: 2px;
}

.borderedWidget .southWestIn {
  background-image: url(/images/ui/quads/sw_in.png);
  width: 2px;
  height: 2px;
}

.borderedWidget .southWestOut {
  background-image: url(/images/ui/quads/ne_out.png);
  width: 2px;
  height: 2px;
}

.borderedWidget .northEastIn {
  background-image: url(/images/ui/quads/ne_in.png);
  width: 2px;
  height: 2px;
}

.borderedWidget .northEastOut {
  background-image: url(/images/ui/quads/sw_out.png);
  width: 2px;
  height: 2px;
}

.borderedWidget .southEastIn {
  background-image: url(/images/ui/quads/se_in.png);
  width: 2px;
  height: 2px;
}

.borderedWidget .southEastOut {
  background-image: url(/images/ui/quads/nw_out.png);
  width: 2px;
  height: 2px;
}

.separatorLine {
  background-image: url(/images/ui/separator.png);
  width: 100%;
}

.borderedDialog {
  background: url(/images/ui/popup/footer_tile.png) repeat-x bottom;
}

.borderedDialog .HeaderBackground {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

.borderedDialog .HeaderBackground td {
  height: 33px;
}

.borderedDialog .TitleBar {
  width: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.borderedDialog .HeaderDrag {
  width: 100%;
  height: 33px;
  position: absolute;
  display: inline;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.borderedDialog .HeaderBackground .HeaderLeft {
  background-image: url(/images/ui/popup/header_left.png);
  width: 75px;
}

.borderedDialog .HeaderBackground .HeaderRight {
  background-image: url(/images/ui/popup/header_right.png);
  width: 75px;
}

.borderedDialog .HeaderBackground .HeaderCenter {
  background-image: url(/images/ui/popup/header_tile.png);
}

.borderedDialog .HeaderBackground .HeaderCenter .HeaderTitle .TitleLeft {
  background-image: url(/images/ui/popup/header_star_left.png);
  width: 50px;
}

.borderedDialog .HeaderBackground .HeaderCenter .HeaderTitle .TitleRight {
  background-image: url(/images/ui/popup/header_star_right.png);
  width: 50px;
}

.borderedDialog .HeaderBackground .HeaderCenter .HeaderTitle .TitleCenter {
  background-image: url(/images/ui/popup/header_text_tile.png);
}

.borderedDialog .Title div {
  color: #EAEFF1;
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
}

.borderedDialog .Footer {
  background: url(/images/ui/popup/footer_left.png) no-repeat bottom left;
  height: 50px;
}

.borderedDialog .CloseBox {
  background-image: url(/images/ui/close.png);
  width: 13px;
  height: 13px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 100;
}

.borderedDialog .Controls {
  color: white;
}

.borderedDialog .Controls a {
  color: white;
}

/** HeaderBox **/
.headerBox {
  width: 340px;
  height: 100%;
}

.headerBox .BoxHeader { 
  width: 100%;
}

.headerBox .BoxHeader .Left {
  width: 33px;
  height: 27px;
  background: url(/images/profile/box_left.png);
}

.headerBox .BoxHeader .Right {
  width: 31px;
  height: 27px;
  background: url(/images/profile/box_right.png);
}

.headerBox .BoxHeader .Title {
  background: url(/images/profile/box_tile.png);
  color: #EAF4F8;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.headerBox .Content {
  width: 100%;
  height: 100%;
}

/** General UI styles. */
.inline {
  display: inline;
}   

.inlineL {
  display: inline;
  margin-left: 5px;
}   

.inlineR {
  display: inline;
  margin-right: 5px;
}   

.inlineLR {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}   

.actionLabel {
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
}

.rightLabel {
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}

.nowrapLabel {
  white-space: nowrap;
}

.infoLabel {
  font-size: 18px;
  padding: 25px;
}

.rowPanelCell {
  padding-right: 5px;
}

.tipLabel {
  font-size: 12px;
}

.infoPopup {
  padding: 15px;
  max-width: 500px;
}

.itemPopup {
  border: 2px solid #0066FF;
  background: #6699CC;
  padding: 5px;
}

.itemDetailErrors {
  font-weight: bold;
  background: #FFFFFF;
}

.headerValueTable {
  border: 1px solid black;
}

.headerRow {
  font-style: italic;
  background: #6699CC;
}

.groupLogoPopup {
  border: 2px solid #0066FF;
  background: #6699CC;
  padding: 5px;
}

.groupLogoThumbnail {
  border: 1px solid black;
  height: 50px;
}

.StyledTabs .gwt-TabBar {
  background: url(/images/ui/tabs/anchor_tile.png) repeat-x bottom;
}

.StyledTabs .gwt-TabBar .inline {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem, .StyledTabs .gwt-TabBar .gwt-TabBarItem-selected {
  padding: 0px;
  border-width: 0px;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem {
  color: #CFDCE1;
  font-size: 11px;
  cursor: default;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem .TabLeft {
  background: url(/images/ui/tabs/left.png) no-repeat;
  width: 3px;
  height: 20px;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem .TabCenter {
  background: url(/images/ui/tabs/tile.png);
  height: 20px;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem .TabRight {
  background: url(/images/ui/tabs/right.png) no-repeat;
  width: 3px;
  height: 20px;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem-selected {
  color: black;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem-selected .TabLeft {
  background: url(/images/ui/tabs/selected_left.png) no-repeat;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem-selected .TabCenter {
  border-top: 1px solid black;
  background: white;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem-selected .TabRight {
  background: url(/images/ui/tabs/selected_right.png) no-repeat;
}

.StyledTabs .gwt-TabPanelBottom {
  padding: 0px;
}

.promptPopup .Header {
  padding: 4px 0px 0px 0px;
  background-image: url(/images/ui/popup/header_text_tile.png);
  height: 25px;
  color: #EAEFF1;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.promptPopup .Content {
  padding: 15px 15px 0px 15px;
  width: 400px;
}

.messagePanel .Photo {
  width: 80px;
  height: 60px;
  background: #EDEDED;
  padding: 5px;
}

.messagePanel .Info {
  padding-top: 5px;
}

.messagePanel .Author {
  font-weight: bold;
  font-size: 12px;
}

.messagePanel .Icon {
  vertical-align: middle;
  padding-right: 5px;
  display: inline;
}

.messagePanel .Posted {
  font-size: 12px;
  color: #999999;
}

.messagePanel .Text {
  padding: 5px 5px 0px 0px;
  vertical-align: top;
}

.messagePanel .LeftPad {
  padding-left: 10px;
}

.messagePanel .BottomPad {
  padding-bottom: 5px;
}

.commentsPanel .Status {
  font-size: 12px;
}

.characterLimiter {
  font-size: 10px;
  color: #666666;
}

.photoChoiceBox .Preview {
    width: 40px;
    height: 30px;
    padding-right: 5px;
}

.contentFooterPanel {
    height: 100%;
}

.contentFooterPanel .Content {
    border-left: 1px dotted;
    border-right: 1px dotted;
}

.contentFooterPanel .Footer {
    border-top: 1px dotted;
    padding-top: 2px;
    font-size: 12px;
    height: 20px;
}

/*.contentFooterPanel .Footer .gwt-Button {
    border-top: none;
    border-bottom: none;
    border-right: none;
}*/

.contentFooterPanel .Tip {
    font-size: 12px;
    width: 300px;
}

.itemBox {
  border: 1px solid #CCCCCC;
  margin: 5px;
  padding: 5px; /* TODO: IE won't like */
  width: 120px;
}

.itemBox .Name {
  font-size: 14px;
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden;
}
