/** Inventory module styles. ($Id$) */

.itemDetailStatus {
  width: 125px;
  font-size: 12px;
}

.itemEditor {
  border-top: 1px solid;
  border-bottom: 1px solid;
  background-image: url(/images/item/detail_content_bg.png);
  background-position: bottom left;
}

.itemEditor .Title {
}

.inventoryContents {
  padding: 10px;
  margin-bottom: 10px;
  width: 800px;
}

.itemContainer .Preview {
  width: 160px;
  height: 120px;
  text-align: center;
  vertical-align: middle;
}

.itemContainer .ThumbText {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
  font-size: small;
}

.mediaUploader {
}

.mediaUploader td {
  padding: 2px;
}

.mediaUploader .Preview {
  width: 320px;
  height: 240px;
  border: 1px solid;
  background-image: url(/images/item/detail_preview_bg.png);
}

.mediaUploader .Thumbnail {
  width: 160px;
  height: 120px;
  border: 1px solid;
  background-image: url(/images/item/detail_preview_bg.png);
}
