.item_editor_title {
   font-weight: bold;
}

.item_editor_button {
   font-weight: bold;
}

.inventoryContents {
   padding: 10px;
   margin-bottom: 10px;
   width: 800px;
}

.itemThumbImage {
  border: 1px solid;
  padding: 5px;
}

.itemThumbText {
  text-decoration: underline;
  font-size: small;
}
