.itemEditor {
  padding: 10px;
}

.itemEditor .Title {
   font-weight: bold;
}

.inventoryContents {
   padding: 10px;
   margin-bottom: 10px;
   width: 800px;
}

.itemThumbText {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
  font-size: small;
}
