/** 
 * $Id$
 *
 * CSS styles for the (shared) Item interfaces.
 */

.tagContents {
   padding: 5px;
   font-size: 9pt;
   text-align: right;
   font-weight: bold;
}

.tagSize1 {
   font-size: 7pt;
   font-style: italic;
   font-weight: normal;
   text-decoration: underline;
   display: inline;
}

.tagSize2 {
   font-size: 8pt;
   font-style: italic;
   font-weight: normal;
   text-decoration: underline;
   display: inline;
}

.tagSize3 {
   font-size: 9pt;
   font-style: italic;
   font-weight: normal;
   text-decoration: underline;
   display: inline;
}

.tagSize4 {
   font-size: 10pt;
   font-style: italic;
   font-weight: normal;
   text-decoration: underline;
   display: inline;
}

.tagSize5 {
   font-size: 11pt;
   font-style: italic;
   font-weight: normal;
   text-decoration: underline;
   display: inline;
}

.itemTypePanel .Left {
  background-image: url(/images/ui/tabs/tab_left.png);
  width: 3px;
  height: 20px;
}

.itemTypePanel .Tab {
  background-image: url(/images/ui/tabs/tab_tile.png);
  background-repeat: repeat-x;
  height: 20px;
}

.itemTypePanel a {
  text-decoration: none;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.itemTypePanel .Tab .Button a {
  color: #CFDCE1;
}

.itemTypePanel .Right {
  background-image: url(/images/ui/tabs/tab_right.png);
  width: 3px;
  height: 20px;
}

.itemTypePanel .SelLeft {
  background-image: url(/images/ui/tabs/tab_selected_left.png);
  width: 3px;
  height: 20px;
}

.itemTypePanel .SelTab {
  border-top: 1px solid black;
  background: white;
  height: 20px;
}

.itemTypePanel .SelTab .Button a {
  color: black;
}

.itemTypePanel .SelRight {
  background-image: url(/images/ui/tabs/tab_selected_right.png);
  width: 3px;
  height: 20px;
}

.itemDetailPanel { 
}

.itemDetailPanel .Name {
  font-size: 24px;
  font-weight: bold;
}

.itemDetailPanel .Creator {
  font-size: 14px;
}

.itemDetailPanel .Content {
  padding: 10px;
}

.itemDetailPanel .Preview {
  border: 4px solid #FFFFFF;
  background-image: url(/images/item/detail_preview_bg.png);
  text-align: center;
  width: 240px;
  height: 240px;
  padding: 10px;
}

.itemDetailPanel .Details td {
  padding: 5px;
  font-size: 14px;
  width: 200px;
}

.itemDetailPanel .Controls td {
  padding: 5px;
}

.tagDetailPanel {
  font-size: 12px;
}

.tagDetailPanel .Tags {
  padding-right: 10px;
}

.borderedDialog .tagDetailPanel .LabelLink {
  cursor: pointer;
  text-decoration: underline;
  color: white;
}

.itemSearchBox {
  width: 160px;
  margin-right: 5px;
}

.itemSortLabel {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  padding-left: 15px;
  padding-top: 2px;
  padding-right: 5px;
  width: 50px;
  vertical-align: middle;
}

.itemSortBox {
  width: 116px;
}

.itemRating {
  background: #FFFFFF;
}

.itemRating td {
  padding: 0px;
  height: 16px;
  width: 8px;
}
