/** 
 * $Id$
 *
 * CSS styles for the (shared) Item interfaces.
 */

.tagCloud {
  background: url(/images/item/top_tags.png) no-repeat top;
  font-size: 12px;
  width: 85px;
  height: 200px;
  padding-top: 34px;
}

.tagCloud .Link { 
  padding-left: 5px; 
  padding-right: 5px;
}

.itemDetailPanel { 
  width: 650px;
}

.itemDetailPanel .Box {
  width: 320px;
}

.itemDetailPanel .Box .Name {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  background-image: url(/images/ui/popup/header_tile.png);
  padding: 2px;
}

.itemDetailPanel .Box .Preview {
  background-image: url(/images/item/detail_preview_bg.png);
  width: 320px;
/*  height: 240px; */
  padding: 10px;
}

.itemDetailPanel .Box .Preview img {
  margin-left: auto;
  margin-right: auto;
}

.itemDetailPanel .Box .Extras {
  color: #FFFFFF;
  background: #242424;
  text-align: left;
  padding-left: 10px;
}

.itemDetailPanel .Box .Buttons {
  background: #242424;
  text-align: right;
  width: 1px;
}

.itemDetailPanel .Box .Rating {
  padding: 5px;
}

.itemDetailPanel .Box .Rating table {
  margin-left: auto;
  margin-right: auto;
}

.itemDetailPanel .Details {
  width: 250px;
}

.itemDetailPanel .Details td {
  font-size: 14px;
}

.itemDetailPanel .gwt-Hyperlink {
  display: inline;
}

.itemDetailPanel .LabelLink {
   cursor: pointer;
   text-decoration: underline;
   color: black;
}

.tagDetailPanel {
  font-size: 12px;
}

.tagDetailPanel .Tags {
  padding-right: 10px;
}

.borderedDialog .tagDetailPanel .LabelLink {
  cursor: pointer;
  text-decoration: underline;
  color: white;
}

.itemSearchBox {
  width: 160px;
  margin-right: 5px;
}

.itemRating img {
  display: inline;
}

.creatorContents {
  font-size: 9pt;
  text-align: left;
  font-weight: bold;
}

.itemEditor {
  margin: 5px;
}

.itemActivator img {
  display: inline;
  vertical-align: bottom;
}

.itemActivator .Tip {
  font-size: 10px;
  color: #AABDC8;
  padding-left: 5px;
  display: inline;
}
