/** 
 * $Id$
 *
 * CSS styles for the Mail interfaces.
 */

.App {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
}

.App .Top {
    height: 12em;
}

.Sidebar {
    height: 100%;
    width: 10ex;
    padding: 0;
}

.Sidebar .Header {
  background-image: url(/images/mail/box_tile.png);
  height: 27px;
  width: 100%;
}

.Sidebar .Header .Left {
  background-image: url(/images/mail/button_mail.png);
  width: 20px;
  height: 15px;
}

.Sidebar .Header .Right {
  color: #CFDCE1;
  width: 100%;
}

.Sidebar .Folders {
  color: #000000;
  padding: 10px;
  height: 100%;
}

.Sidebar .Folders A:link {
  color: #000000;
}
.Sidebar .Folders A:visited {
  color: #000000;
}
.Sidebar .Folders A:active {
  color: #000000;
}

.HeaderPanel {
    height: 100%;
    width: 100%;
    padding: 0;
}

.HeaderPanel .Bar {
  background-image: url(/images/mail/box_tile.png);
  height: 27px;
  width: 100%;
}

.HeaderPanel .Bar .Controls {
  float: left;
  height: 21px;
  margin-top: 3px;
}

.HeaderPanel .Bar .Controls .gwt-Button {
  margin-left: 5px;
}

.HeaderPanel .Bar .Pager {
  float: right;
  height: 21px;
  margin-top: 3px;
}

.HeaderPanel .Bar .Pager .gwt-Button {
  margin-right: 5px;
}

.HeaderPanel .Bar .Pager .CurrentPage {
  color: #FFFFFF;
  display: inline;
  margin-right: 6px;
}

.HeaderPanel .Bar .Pager .AnotherPage {
  color: #FFFFFF;
  text-decoration: underline;
  display: inline;
  margin-right: 6px;
}


.mailFolderName {
}

.mailFolderName-unread {
    font-weight: bold;
}

.mailHeaders {
    background: #FFFFFF;
    width: 100%;
}

.mailHeaderHeader {
    width: 14ex;
}

.mailHeaderPager {
    float: right;
}

.mailMessage {
    background: #FFFFFF;
    width: 100%;
    padding: 5px;
}

.mailMessageHeaders {
    width: 100%;
    padding: 5px;
}

.mailMessageButtons {
    padding: 5px;
}

.mailPayload {
    background: #FFFFFF;
    width: 100%;
    padding: 5px;
}

.mailMessagePanel {
    padding: 5px;
}

.mailRow {
    height: 1em;
    padding: 3px;
    color: #000000;
}

.mailRow A:link {
    text-decoration: none;
    color: #000000;
}

.mailRow A:visited {
    text-decoration: none;
    color: #000000;
}

.mailRow A:active {
    text-decoration: none;
    color: #000000;
}

.mailRow-unread {
    padding: 3px;
    font-weight: bold;
}

.mailRowCheckbox {
    width: 20px;
}

.mailRowSubject {
}

.mailRowSender {
    width: 18em;
}

.mailRowDate {
    width: 8em;
}

.mailComposition {
    background: #99CCFF;
    border: 1px solid black;
}

.mailCompositionHeaders {
    background: #6699CC;
    padding: 5px;
    width: 100%;
}

.mailCompositionHeaderHeader {
    width: 14ex;
}

.mailCompositionButtons {
    background: #6699CC;
    padding: 5px;
    width: 100%;
}

.mailCompositionBody {
    background: #6699CC;
    padding: 10px;
}
