/** 
 * $Id$
 *
 * CSS styles for the Mail interfaces.
 */

.mailApp {
    background: #99CCFF;
    width: 100%;
}

.mailFolders {
    background: #6699CC;
    width: 10ex;
    padding: 5px;
}

.mailFolderName {
}

.mailFolderName-unread {
    font-weight: bold;
}

.mailHeaders {
    background: #6699CC;
    width: 100%;
}

.mailHeaderHeader {
    width: 14ex;
}

.mailHeaderPager {
    float: right;
}

.mailMessage {
    background: #6699CC;
    width: 100%;
    padding: 5px;
}

.mailMessageHeaders {
    width: 100%;
    padding: 5px;
}

.mailMessageButtons {
    padding: 5px;
}

.mailPayload {
    background: #CC99CC;
    width: 100%;
    padding: 5px;
}

.mailMessagePanel {
    padding: 5px;
}

.mailRow {
    padding: 3px;
}

.mailRow-unread {
    padding: 3px;
    font-weight: bold;
}

.mailRowCheckbox {
    width: 20px;
}

.mailRowSubject {
}

.mailRowSender {
    width: 18ex;
}

.mailRowDate {
    width: 12ex;
}

.mailComposition {
    background: #99CCFF;
    border: 1px solid black;
}

.mailCompositionHeaders {
    background: #6699CC;
    padding: 5px;
    width: 100%;
}

.mailCompositionHeaderHeader {
    width: 14ex;
}

.mailCompositionButtons {
    background: #6699CC;
    padding: 5px;
    width: 100%;
}

.mailCompositionBody {
    background: #6699CC;
    padding: 10px;
}
