/** 
 * $Id$
 *
 * CSS styles for the Mail interfaces.
 */

.App {
  background: white;
  width: 100%;
}

.App .FoldersBox {
  width: 120px;
}

.App .MessagesBox {
}

.FolderPanel {
  width: 100%;
  padding: 0;
}

.FolderPanel .Header {
  background-image: url(/images/mail/box_tile.png);
  height: 27px;
  width: 100%;
}

.FolderPanel .Header .Left {
  background-image: url(/images/mail/button_mail.png);
  width: 20px;
  height: 15px;
}

.FolderPanel .Header .Right {
  color: #CFDCE1;
  width: 100%;
}

.Folders {
  color: #000000;
  padding: 10px;
}

.Folder-unread {
  font-weight: bold;
}

.Folder-trash {
  margin-top: 1em;
}

.Folder A:link {
  color: #000000;
}
.Folder A:visited {
  color: #000000;
}
.Folder A:active {
  color: #000000;
}

.HeaderPanel {
  width: 100%;
  padding: 0;
}

.HeaderPanel .Bar {
  background-image: url(/images/mail/box_tile.png);
  height: 27px;
  width: 100%;
}

.HeaderPanel .Bar .Controls {
  float: left;
  height: 21px;
  margin-top: 3px;
}

.HeaderPanel .Bar .Controls .gwt-Button {
  margin-left: 5px;
}

.HeaderPanel .Bar .Pager {
  float: right;
  height: 21px;
  margin-top: 3px;
}

.HeaderPanel .Bar .Pager .gwt-Button {
  margin-right: 5px;
}

.HeaderPanel .Bar .Pager .CurrentPage {
  color: #FFFFFF;
  display: inline;
  margin-right: 6px;
}

.HeaderPanel .Bar .Pager .AnotherPage {
  color: #FFFFFF;
  text-decoration: underline;
  display: inline;
  margin-right: 6px;
}

.HeaderPanel .Rows {
  width: 100%;
}

.HeaderPanel .Rows A:link {
  text-decoration: none;
  color: #000000;
}

.HeaderPanel .Rows A:visited {
  text-decoration: none;
  color: #000000;
}

.HeaderPanel .Rows A:active {
  text-decoration: none;
  color: #000000;
}

.HeaderPanel .Row {
  padding: 5px;
}

.HeaderPanel .Row-unread {
  font-weight: bold;
}

.HeaderPanel .Row-selected {
  background: #CAE0EB;
}

.HeaderPanel .Row td {
  white-space: nowrap;
  overflow: hidden;
}

.HeaderPanel .Row .CheckBox {
  width: 20px;
}

.HeaderPanel .Row .Subject {
  margin-left: 5px;
  width: 100%;
}

.HeaderPanel .Row .Sender {
  text-decoration: underline;
  width: 150px;
}

.HeaderPanel .Row .Date {
  width: 80px;
}

.MessagePanel {
  width: 100%;
}

.MessagePanel .Bar {
  background-image: url(/images/mail/box_tile.png);
  height: 27px;
  width: 100%;
}

.MessagePanel .Bar .Star {
  background-image: url(/images/mail/box_left.png);
  height: 27px;
  width: 33px;
  float: left;
}

.MessagePanel .Bar .Controls {
  float: right;
  height: 21px;
  margin-top: 3px;
}

.MessagePanel .Bar .gwt-Button {
  margin-right: 5px;
}

.MessagePanel .Message {
  width: 100%;
}

.Message .Header {
  background: #CAE0EB;
  width: 100%;
  padding-left: 8px;
}

.Message .Header .Subject {
  width: 590px;
  padding-right: 10px;
}

.Message .Header .Sender {
  white-space: nowrap;
  padding-right: 15px;
}

.Message .Header .Date {
  white-space: nowrap;
}

.Message .Payload {
  background: #CAE0EB;
  padding-left: 8px;
}

.Message .Body {
  padding-top: 4px;
  padding-left: 10px;
}
