/**
 * $Id$
 *
 * Styles for Me pages.
 */

/* ------------------------------------
   POPUP PAGE
-------------------------------------*/

.myWhirled .Pop {
  text-align: right;
  font-size: 10px;
  padding: 5px 20px 0px 0px;
  color: #63AAE2;
}

/* ------------------------------------
   WHATS NEXT PAGE
-------------------------------------*/

.whatsNext {
  background: url(/images/me/next_bg.png) no-repeat top left;
  width: 649px;
  height: 341px;
  margin: 0px auto 10px;
  color: #216CA3;
}

.whatsNext .roundBox {
  width: 100%;
  height: 100%;
}

.whatsNext .Play {
  width: 191px;
  padding: 10px 5px 5px 10px;
}

.whatsNext .Explore {
  width: 191px;
  padding: 10px 10px 5px 5px;
}

.whatsNext .Decorate {
  background: none;
  padding: 5px 10px 10px 10px;
  text-align: center;
}

.whatsNext .Decorate .Screen {
  padding-right: 10px;
}

.whatsNext .NoFriends, .whatsNext .Friends {
  width: 217px;
  padding: 5px 10px 10px 10px;
  color: #FFFFFF;
  text-align: center;
}

.whatsNext .Friends .FriendsScroller {
  height: 326px;
  width: 217px;
}

.whatsNext .NoFriends .Title, .whatsNext .Friends .Title {
  font-weight: bold;
}

.whatsNext .NoFriends img {
  margin-left: auto;
  margin-right: auto;
}

.whatsNext .NoFriends .NoFriends {
  height: 60px;
  vertical-align: bottom;
  padding-bottom: 5px;
}

.whatsNext .NoFriends .Or {
  height: 60px;
  vertical-align: middle;
}

.whatsNext .NoFriends .FindTip {
  height: 60px;
  vertical-align: top;
  font-size: 12px;
  padding-top: 5px;
}

.whatsNext .Friends {
  vertical-align: top;
}

.whatsNext .Friends .ClickTip {
  font-size: 12px;
  color: #FFFFFF;
  opacity: 0.6;
}

.whatsNext .Friends .PlaceName {
  color: #3B556E;
  font-size: 14px;
  padding-top: 3px;
  overflow: hidden;
  white-space: nowrap;
}

.whatsNext .Friends .Member {
  background: #DEECF7;
  text-align: left;
  font-size: 14px;
  width: 100%;
}

.whatsNext .Friends .Member .Photo {
  padding: 2px;
  width: 20px;
}

.whatsNext .Friends .Member .Name {
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
}

.whatsNext .Friends .MemberRoom .Name {
  color: #6DA8D2;
}

.whatsNext .Friends .MemberGame .Name {
  color: #E88436;
}

/* ------------------------------------
   ACCOUNTS PAGE
-------------------------------------*/

.editAccount .Header {
  font-weight: bold;
}

.editAccount .Tip {
  width: 400px;
  font-size: 12px;
  text-align: center;
}

.editAccount .PermaName {
  font-weight: bold;
}

.editAccount .Status {
  width: 400px;
}

.editAccount .Error {
  color: red;
}

/* ------------------------------------
   ROOMS PAGE
-------------------------------------*/

.myRooms {
  width: 100%;
}

.myRooms .Room {
  font-size: 12px;
  text-align: center;
}

/* ------------------------------------
   PASSPORT PAGE
-------------------------------------*/
.passport {
  background: #1d5883;
  width: 100%;
  height: 100%;
}

.passport .NextPanel {
  background-image: url(/images/me/passport_header_bg.jpg);
  height: 252px;
  width: 678px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.passport .NextPanel .Description {
  padding-top: 10px;
  padding-right: 10px;
  font-size: 13px;
}

.passport .NextPanel .Icon {
  padding-top: 10px;
  padding-right: 10px;
}

.passport .NextPanel .NextHeader {
  padding-top: 10px;
}

.passport .NextPanel .NextHeaderContent {
  background-image: url(/images/me/passport_header_tile.png);
  width: 100%;
  height: 27px;
}

.passport .NextPanel .NextHeaderText {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding-left: 5px;
}

.passport .NextPanel .NextHeaderContent .gwt-Image {
  padding-right: 5px;
  padding-left: 5px;
}

.passport .NextPanel .NextBadgesPanel {
  background-image: url(/images/me/passport_box_tile.png);
  height: 144px;
  width: 100%;
}

.passport .NextPanel .NextHeader, .passport .NextPanel .NextBadges {
  padding-right: 3px;
  padding-left: 3px;
}

.passport .headerBox {
  width: 673px;
  padding-left: 5px;
  padding-top: 10px;
}

.passport .Contents {
  width: 100%;
  min-height: 50px;
}
