/**
 * $Id$
 *
 * Styles for Me pages.
 */

.myWhirled .Pop {
  text-align: right;
  font-size: 10px;
  padding: 5px 20px 0px 0px;
  color: #63AAE2;
}

.whatsNext {
  background: url(/images/me/next_bg.png) no-repeat top left;
  width: 649px;
  height: 341px;
  margin: 0px auto 10px;
  color: #216CA3;
}

.whatsNext .roundBox {
  width: 100%;
  height: 100%;
}

.whatsNext .Play {
  width: 191px;
  padding: 10px 5px 5px 10px;
}

.whatsNext .Explore {
  width: 191px;
  padding: 10px 10px 5px 5px;
}

.whatsNext .Decorate {
  background: none;
  padding: 5px 10px 10px 10px;
  text-align: center;
}

.whatsNext .Decorate .Screen {
  padding-right: 10px;
}

.whatsNext .NoFriends, .whatsNext .Friends {
  width: 217px;
  padding: 5px 10px 10px 10px;
  color: #FFFFFF;
  text-align: center;
}

.whatsNext .NoFriends .Title, .whatsNext .Friends .Title {
  font-weight: bold;
}

.whatsNext .NoFriends img {
  margin-left: auto;
  margin-right: auto;
}

.whatsNext .NoFriends .NoFriends {
  height: 60px;
  vertical-align: bottom;
  padding-bottom: 5px;
}

.whatsNext .NoFriends .Or {
  height: 60px;
  vertical-align: middle;
}

.whatsNext .NoFriends .FindTip {
  height: 60px;
  vertical-align: top;
  font-size: 12px;
  padding-top: 5px;
}

.whatsNext .Friends {
  vertical-align: top;
}

.whatsNext .Friends .ClickTip {
  font-size: 12px;
  color: #FFFFFF;
  opacity: 0.6;
}

.whatsNext .Friends .PlaceName {
  color: #3B556E;
  font-size: 14px;
  padding-top: 3px;
  overflow: hidden;
  white-space: nowrap;
}

.whatsNext .Friends .Member {
  background: #DEECF7;
  text-align: left;
  font-size: 14px;
  width: 100%;
}

.whatsNext .Friends .Member .Photo {
  padding: 2px;
  width: 20px;
}

.whatsNext .Friends .Member .Name {
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
}

.whatsNext .Friends .MemberRoom .Name {
  color: #6DA8D2;
}

.whatsNext .Friends .MemberGame .Name {
  color: #E88436;
}

.FeedList {
  width: 100%;
  margin-left: 25px;
  margin-right: 25px;
}

.FeedWidget {
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DADADA;
}

.FeedBasic {
  font-size: 12px;
  padding: 3px;
}

.FeedDate {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #AAAAAA;
  padding-top: 10px;
}

.FeedWidget .IconContainer {
  width: 32px;
  height: 20px;
}

.FeedWidget .TextContainer {
  font-size: 12px;
  padding: 3px 3px 3px 6px;
  width: 100%;
  text-align: left;
}

.FeedWidget .ThumbnailContainer {
    height: 32px;
    vertical-align: middle;
}

.FeedWidget .FeedIcon {
  width: 30px;
  height: 20px;
}

.whatIsTheWhirled {
  background-image: url(/images/landing/background.jpg);
  width: 800px;
  height: 630px;
}

.whatIsTheWhirled .Video {
  width: 360px;
  text-align: center;
}

.whatIsTheWhirled .Video .Title {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  height: 30px;
}

.whatIsTheWhirled .Stats {
  color: #FFFFFF;
  width: 75px;
  height: 250px;
}

.whatIsTheWhirled .Stats .Number {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
}

.whatIsTheWhirled .Stats .Label {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

.whatIsTheWhirled .Right .Label {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #2E6F97;
  height: 25px;
  padding-left: 17px;
}

.whatIsTheWhirled .Right .LoginTip {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  height: 20px;
  padding-left: 17px;
  white-space: nowrap;
}

.whatIsTheWhirled .logonPanel {
  color: #FFFFFF;
  font-size: 12px;
  margin: 0px 0px 5px 15px;
  height: 88px;
}

.whatIsTheWhirled .logonPanel .gwt-TextBox,
.whatIsTheWhirled .logonPanel .gwt-PasswordTextBox {
  font-size: 16px;
  width: 175px;
}

.whatIsTheWhirled .Login {
  margin-left: 115px;
}

.whatIsTheWhirled .Bits {
  width: 800px;
  font-size: 14px;
  text-align: center;
  color: #6BA8C5;
  padding-top: 7px;
}

.whatIsTheWhirled .Bits a {
  color: #3E789D;
}

.editAccount .Header {
  font-weight: bold;
}

.editAccount .Tip {
  width: 400px;
  font-size: 12px;
  text-align: center;
}

.editAccount .PermaName {
  font-weight: bold;
}

.editAccount .Status {
  width: 400px;
}

.editAccount .Error {
  color: red;
}

.myRooms {
  width: 100%;
}

.myRooms .Room {
  font-size: 12px;
  text-align: center;
}
