/**
 * $Id$
 *
 * Styles for Me pages.
 */

.myWhirled .Pop {
  text-align: right;
  font-size: 10px;
  padding: 5px 5px 0px 0px;
  color: #63AAE2;
}

.myWhirled .PersonWidget {
  width: 85px;
}

.myWhirled .PersonWidget img {
  cursor: pointer;
}

.myWhirled .PersonWidget .NameLabel {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.FeedList {
  width: 100%;
  margin-left: 25px;
  margin-right: 25px;
}

.FeedWidget {
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DADADA;
}

.FeedBasic {
  font-size: 12px;
  padding: 3px;
}

.FeedDate {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #AAAAAA;
  padding-top: 10px;
}

.FeedWidget .IconContainer {
  width: 32px;
  height: 20px;
}

.FeedWidget .TextContainer {
  font-size: 12px;
  padding: 3px 3px 3px 6px;
  width: 100%;
  text-align: left;
}

.FeedWidget .ThumbnailContainer {
    height: 32px;
    vertical-align: middle;
}

.FeedWidget .FeedIcon {
  width: 30px;
  height: 20px;
}

.whatIsTheWhirled {
  background-image: url(/images/landing/background.jpg);
  width: 800px;
  height: 630px;
}

.whatIsTheWhirled .Logon {
  background-image: url(/images/landing/signin.jpg);
  width: 105px;
  height: 42px;
  border: none;
}

.whatIsTheWhirled .Logon:hover {
  background-image: url(/images/landing/signin_hover.jpg);
}

.whatIsTheWhirled .logonPanel {
  color: #FFFFFF;
  font-size: 14px;
}

.whatIsTheWhirled .logonPanel .gwt-TextBox,
.whatIsTheWhirled .logonPanel .gwt-PasswordTextBox {
  font-size: 16px;
  width: 175px;
}

.whatIsTheWhirled .Stats {
  color: #FFFFFF;
  width: 75px;
  height: 250px;
}

.whatIsTheWhirled .Stats .Number {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
}

.whatIsTheWhirled .Stats .Label {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

.editAccount .Header {
  font-weight: bold;
}

.editAccount .Tip {
  width: 400px;
  font-size: 12px;
  text-align: center;
}

.editAccount .PermaName {
  font-weight: bold;
}

.editAccount .Status {
  width: 400px;
}

.editAccount .Error {
  color: red;
}

.myRooms {
  width: 100%;
}

.myRooms .Room {
  font-size: 12px;
  text-align: center;
}
