/** 
 * $Id$
 *
 * CSS styles for the common Msgs components.
 */

.MailComposer {
    padding: 8px;
}

.MailComposer .Headers {
    background: white;
    padding-top: 3px;
    height: 2em;
    width: 100%;
}

.MailComposer .Label {
    text-align: right;
}

.MailComposer .Value {
    text-align: left;
}

.MailComposer .Headers .SubjectBox {
    width: 100%;
}

.MailComposer .Payload {
    border: none;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.MailComposer .Body {
    padding: 4px;
}

.MailComposer .Bar {
    background-image: url(/images/mail/box_tile.png);
    height: 27px;
    width: 100%;
}

.MailComposer .Bar .Star {
    background-image: url(/images/mail/box_left.png);
    height: 27px;
    width: 33px;
    float: left;
}

.MailControls .gwt-Button {
    margin-right: 5px;
}
