/** 
 * $Id$
 *
 * CSS styles for the common Msgs components.
 */

.MailComposer {
    padding: 8px;
}

.MailComposer .Headers {
    background: white;
    padding-top: 3px;
    height: 2em;
    width: 100%;
}

.MailComposer .Label {
    text-align: right;
    width: 7em;
}

.MailComposer .Value {
    text-align: left;
}

.MailComposer .Headers .SubjectBox {
    width: 100%;
}

.MailComposer .Payload {
    border: none;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.MailComposer .Body {
    padding: 4px;
}

.MailComposer .Bar {
    background-image: url(/images/mail/box_tile.png);
    height: 27px;
    width: 100%;
}

.MailComposer .Bar .Star {
    background-image: url(/images/mail/box_left.png);
    height: 27px;
    width: 33px;
    float: left;
}

.MailControls .gwt-Button {
    margin-right: 5px;
}

.GroupInvitation .JoinButton {
    display: block;
    margin-left: 8em;
}

.friendshipInvitation .AyeButton {
    margin-top: 10px;
    margin-left: 30px;
}

.itemGift {
    width: 100%;
    padding: 5px;
}

.itemGift .Title {
    border-bottom: black solid 2px;
    margin-bottom: 5px;
}

.itemGift .ControlButton {
    margin-left: 4px;
    margin-top: 4px;
    float: right;
}

.forumPanel {
    width: 100%;
}

.forumPanel .Header {
    border: 1px solid #000000;
    background: #4F4F4F;
    color: #FFFFFF;
}

.forumPanel .Header .Title {
    padding: 5px;
    font-weight: bold;
}

.forumPanel .Header .Back {
    background-image: url(/images/item/inventory_up.png);
    height: 20px;
    width: 16px;
    margin-left: 5px;
}

.threadSummaryPanel {
    width: 100%;
}

.threadSummaryPanel .Flags {
    width: 30px;
}

.threadSummaryPanel .Subject {
}

.threadSummaryPanel .LastPost {
    width: 150px;
    font-size: 12px;
}

.messageSummaryPanel {
    width: 100%;
}

.newThreadPanel .Header {
    border: 1px solid #000000;
    background: #4F4F4F;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
}

.newThreadPanel .Content {
    border-left: 1px dotted;
    border-right: 1px dotted;
}

.newThreadPanel .FooterLeft {
    background: #4F4F4F;
    color: #FFFFFF;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    width: 100%;
}
