/** 
 * $Id$
 *
 * CSS styles for the Profile interfaces.
 */

.profile {
  width: 100%;
}

.profile .Profile {
  width: 100%;
}

.profile .Profile .Photo {
  width: 100px;
}

.profile .Profile .Name {
  font-weight: bold;
  font-size: 16px;
}

.profile .Profile .Headline {
  font-style: italic;
}

.profile .Profile .Detail {
  font-size: 14px;
}

.profile .Profile .ControlButton {
  width: 21px;
  height: 15px;
  border: none;
}

.profile .Profile .VisitHome {
  background-image: url(/images/profile/visithome.png);
}

.profile .Profile .SendMail {
  background-image: url(/images/profile/sendmail.png);
}

.profile .Profile .AdminInfo {
  background-image: url(/images/profile/admininfo.png);
}

.profile .Friend, .profile .Group {
  text-align: center;
  font-size: 12px;
  padding: 5px;
}

.ratingWidget {
  height: 44px;
}

.ratingWidget .GameThumb {
  width: 50px;
}

.ratingWidget .GameThumb img {
  margin-left: auto;
  margin-right: auto;
}

.ratingWidget .GameName {
  width: 210px;
}

.ratingWidget .Note {
  text-align: center;
  font-size: 12px;
}

.ratingWidget .Rating {
  width: 80px;
}

.trophiesBlurb {
  width: 100%;
}

.trophiesBlurb .Footer {
  padding-left: 5px;
}

.memberWidget {
  padding: 5px 0px;
  width: 100%;
  height: 89px;
  font-size: 12px;
}

.memberWidget .Photo {
  width: 80px;
  height: 60px;
  vertical-align: middle;
  padding: 0px 10px;
}

.memberWidget .Name {
  padding-top: 2px;
  padding-bottom: 2px;
}

.memberWidget .Headline {
  font-style: italic;
}

.memberWidget .Extras {
  width: 120px;
}

.memberWidget .SendMail {
  background-image: url(/images/profile/sendmail.png);
  width: 21px;
  height: 15px;
}

.memberWidget .Remove {
  background-image: url(/images/profile/remove.png);
  width: 17px;
  height: 17px;
}

.searchControls {
  font-size: 14px;
}

.friendsPanel .Grid {
  border-bottom: 1px solid #DADADA;
}

.sendInvites .Header, .sendInvitesResultsPopup .Header, .invitation .Header {
  font-weight: bold;
}

.sendInvitesResultsPopup .ResultsHeader {
  background: #222222;
  color: #EAEFF1;
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
}
