/**
 * $Id$
 *
 * CSS styles for the Profile interfaces.
 */

.profile {
  width: 100%;
}

.profile .Profile {
  width: 100%;
}

.profile .Profile .Photo {
  width: 100px;
}

.profile .Profile .Name {
  font-weight: bold;
  font-size: 16px;
}

.profile .Profile .Headline {
  font-style: italic;
}

.profile .Profile .Detail {
  font-size: 14px;
  white-space: nowrap;
}

.profile .Interests {
  font-size: 14px;
}

.profile .Interests .Type {
  color: #7E7E7E;
  padding: 0px 25px 0px 5px;
}

.profile .Interests .Text a {
  text-decoration: none;
}

.profile .Interests .Text a:hover {
  text-decoration: underline;
}

.profile .Interests .Editor {
  width: 400px;
}

.profile .Friend, .profile .Group {
  text-align: center;
  font-size: 12px;
  padding: 5px;
}

.profile .Group div {
  margin-left: auto;
  margin-right: auto;
}

.profile .Wall {
  margin-left: 5px;
}

.profile .Wall .TopCell, .profile .Wall .MiddleCell {
  border-bottom: 1px solid #DADADA;
}

.profile .Wall .messagePanel .Scroller {
  width: 550px;
}

.ratingWidget {
  height: 44px;
}

.ratingWidget .GameThumb {
  width: 50px;
}

.ratingWidget .GameThumb img {
  margin-left: auto;
  margin-right: auto;
}

.ratingWidget .GameName {
  width: 210px;
}

.ratingWidget .Note {
  text-align: center;
  font-size: 12px;
}

.ratingWidget .Rating {
  width: 80px;
}

.memberWidget {
  padding: 5px 0px;
  width: 100%;
  height: 89px;
  font-size: 12px;
}

.memberWidget .Photo {
  width: 80px;
  height: 60px;
  vertical-align: middle;
  padding: 0px 10px;
}

.memberWidget .Name {
  padding-top: 2px;
  padding-bottom: 2px;
}

.memberWidget .Headline {
  font-style: italic;
}

.memberWidget .Extras {
  width: 120px;
}

.memberWidget .SendMail {
  background-image: url(/images/profile/sendmail.png);
  width: 21px;
  height: 15px;
}

.memberWidget .Remove {
  background-image: url(/images/profile/remove.png);
  width: 17px;
  height: 17px;
}

.friendsPanel .headerBox, .searchPanel .headerBox {
  margin-left: 10px;
  border-bottom: 10px solid white;
  width: 665px;
}

.searchControls {
  background: url(/images/people/header_bg.png) no-repeat top left;
  width: 679px;
  height: 79px;
  font-size: 14px;
  margin-bottom: 10px;
}

.searchControls .Action {
  width: 190px;
  padding-left: 165px;
  padding-top: 30px;
}

.searchControls .Title {
  font-size: 18px;
  color: white;
}

.searchControls .Tip {
  font-size: 11px;
  white-space: nowrap;
  color: #B4E0F1;
}

.sendInvites {
  color: #316C94;
  font-size: 12px;
}

.sendInvites .roundBox {
  color: white;
}

.sendInvites .gwt-TextBox {
  width: 200px;
}
.sendInvites .gwt-PasswordTextBox {
  width: 130px;
}
.sendInvites .gwt-TextBox, .sendInvites .gwt-PasswordTextBox, .sendInvites .gwt-TextArea {
  border: 1px solid #316C94;
}

.sendInvites .Title {
  font-weight: bold;
}

.sendInvites .Tip {
  font-size: 11px;
  padding-right: 10px;
}

.sendInvites .Header, .sendInvitesResultsPopup .Header, .invitation .Header {
  font-weight: bold;
  font-size: 18px;
}

.sendInvitesResultsPopup .ResultsHeader {
  background: #222222;
  color: #EAEFF1;
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
}

.sendInvitesResultsPopup .ScrollPanel {
  max-height: 300px;
  border: 1px solid black;
  margin-bottom: 10px;
  text-align: left;
}

.sendInvites .InviteList {
  width: 100%;
  border: 1px solid #316C94;
  background: #E9F6FB;
}

.sendInvites .InviteList .Header {
  height: 20px;
  color: #316C94;
  font-weight: normal;
  font-size: 12px;
  border: 0px;
  padding: 5px;
}

.sendInvites .InviteList .Scroll {
  height: 130px;
  background: #FFFFFF;
  width: 100%;
}

.sendInvites .InviteListTable {
  background: #FFFFFF;
  font-size: 12px;
  color: #316C94;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.sendInvites .InviteListTable td {
  padding: 1px 5px;
}

.sendInvites .ImportSupportLink {
  font-size: 10px;
}

.importSupportList {
  padding: 8px;
}
