/** 
 * $Id$
 *
 * CSS styles for the Profile interfaces.
 */

.blurbBox {
  width: 100%;
}

.blurbBox .HeaderLeft {
  width: 33px;
  height: 27px;
  background: url(/images/profile/box_left.png);
}

.blurbBox .HeaderRight {
  width: 31px;
  height: 27px;
  background: url(/images/profile/box_right.png);
}

.blurbBox .Header {
  background: url(/images/profile/box_tile.png);
  color: #EAF4F8;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.blurbBox .Content {
  width: 350px;
}

.profileBlurb .Photo {
  width: 160px;
  height: 120px;
  text-align: center;
  vertical-align: middle;
}

.profileBlurb .Name {
  font-weight: bold;
}

.profileBlurb .Headline {
  font-style: italic;
}

.profileBlurb .EditLabel {
  font-size: 10px;
}

.friendsBlurb {
  padding-top: 5px;
}

.ratingsBlurb {
  padding-top: 5px;
}

.ratingsBlurb .GameName {
}

.ratingsBlurb .GameThumb {
}

.ratingsBlurb .Rating {
  width: 80px;
}

.profileWidget {
  padding-bottom: 10px;
}

.profileWidget .Photo {
  width: 80px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.profileWidget .MemberCardName {
  text-decoration: underline;
  cursor: pointer;
  text-align: left;
  padding-top: 2px;
  padding-bottom: 2px;
}

.profileWidget .MemberCardHeadline {
  font-style: italic;
}

.SearchPanel {
  font-size: 14px;
}
