/** 
 * $Id$
 *
 * CSS styles for the Profile interfaces.
 */

.blurb {
  width: 340px;
}

.profileBlurb .Photo {
  width: 80px;
  height: 60px;
  text-align: center;
  vertical-align: top;
  padding: 5px;
}

.profileBlurb .Name {
  font-weight: bold;
  font-size: 16px;
}

.profileBlurb .Headline {
  font-style: italic;
}

.profileBlurb .EditLabel {
  font-size: 10px;
}

.profileBlurb .ControlButton {
  width: 21px;
  height: 15px;
  border: none;
}

.profileBlurb .VisitHome {
  background-image: url(/images/profile/visithome.png);
}

.profileBlurb .SendMail {
  background-image: url(/images/profile/sendmail.png);
}

.profileBlurb .AdminInfo {
  background-image: url(/images/profile/admininfo.png);
}

.friendsBlurb {
  padding-top: 5px;
}

.friendsBlurb .Empty {
  padding-bottom: 10px;
}

.ratingsBlurb {
  padding-top: 5px;
}

.ratingsBlurb .GameName {
}

.ratingsBlurb .Note {
  text-align: center;
  font-size: 12px;
}

.ratingsBlurb .GameThumb {
}

.ratingsBlurb .Rating {
  width: 80px;
}

.trophiesBlurb {
  padding-top: 5px;
}

.profileWidget {
  padding-bottom: 10px;
}

.profileWidget .Photo {
  width: 80px;
  height: 60px;
  vertical-align: middle;
}

.profileWidget .MemberCardName {
  width: 115px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.profileWidget .MemberCardHeadline {
  font-style: italic;
}

.searchResultsPanel .SearchPanel {
  font-size: 14px;
}

.friendsPanel {
  padding: 5px;
}
