/** 
 * $Id$
 *
 * CSS styles for the Profile interfaces.
 */

.blurbBox {
   background: #99CCFF;
   width: 100%;
}

.blurbBox .Header {
   border: 1px solid;
   font-weight: bold;
}

.profileBlurb .Name {
   font-weight: bold;
}

.profileBlurb .Headline {
   font-style: italic;
}
