/**
 * $Id$
 *
 * CSS styles for the Catalog interfaces.
 */

.shopPanel, .catalogPanel {
  width: 100%;
  height: 100%;
  background: #1D5884 url(/images/shop/background.png) repeat-x;
}

.sideBar {
  margin: 15px 5px 10px 0px
}

.sideBar .Title {
  background: #5CA5DA;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding: 0px 0px 2px 4px;
}

.sideBar .Middle {
  background: #5CA5DA;
}

.sideBar .NaviPanel {
  background: #C6E2F8
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  width: 90px;
  margin-bottom: 10px;
  padding-top: 3px;
}

.sideBar .NaviPanel .Cell {
  background: #C6E2F8 url(/images/shop/navi_bg_cell.png) repeat top;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 3px 0px 0px 5px;
}

.sideBar .NaviPanel .Selected {
  color: #E78917;
}

.sideBar .NaviPanel a {
  color: #27628E;
  text-decoration: none;
}

.listingGrid {
  background: white;
  width: 100%;
  margin-top: 5px;
}

.catalogPanel .sideBar .tagCloud {
  margin-left: 5px;
}

.shopPanel .Bag {
  padding: 0px 30px;
}

.shopPanel .Intro {
  color: #9FB2C0;
  font-size: 14px;
  text-align: right;
  padding-top: 5px;
}

.shopPanel .roundBox {
  width: 100%;
}

.shopPanel .TopListingBox {
  font-size: 12px;
  border-top: solid 10px white;
  margin: 0px 10px;
  width: 150px;
}

.shopPanel .TopListingBox .Thumb {
  padding-left: 15px;
}

.shopPanel .TopListingBox .Ranking {
  font-size: 14px;
  width: 30px;
}

.shopPanel .TopListingBox .Name {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  max-width: 130px;
}

.shopPanel .Creator {
  color: #4C7799;
}

.shopPanel .FeatListingBox {
  font-size: 12px;
  border-top: solid 10px white;
  margin: 0px 10px;
}

.shopPanel .FeatListingBox .Name {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  max-width: 105px;
}

.shopPanel .FeatListingBox .Descrip {
  max-height: 85px;
  overflow: hidden;
}

.catalogPanel .ListingsCell {
  background: #FFFFFF;
  width: 100%;
}

.catalogPanel .Listings {
  background: #1D5884;
  width: 100%;
}

.catalogPanel .Listings .Blurb {
  text-align: center;
  font-size: 14px;
  padding: 0px 15px;
}

.catalogPanel .Listings .Blurb, .catalogPanel .Listings .Blurb a {
  color: #9FB2C0;
}

.catalogPanel .Listings .marquee {
  width: 260px;
  margin-bottom: 5px;
}

.catalogPanel .pagedGrid .Header .SortBy {
  width: 50px;
  padding-right: 5px;
}

.catalogPanel .pagedGrid .Header .TopLeft, .favoritesPanel .pagedGrid .Header .TopLeft {
  background: #1D5884 url(/images/ui/grid_header_left.png) no-repeat left;
}

.catalogPanel .pagedGrid .Header .TopRight, .favoritesPanel .pagedGrid .Header .TopRight {
  background: #1D5884 url(/images/ui/grid_header_right.png) no-repeat right;
}

.listingDetailPanel .Price {
  text-align: right;
}

.listingDetailPanel .shortThickOrangeButton {
  margin-left: auto;
  margin-right: auto;
}

.listingDetailPanel .Info {
  margin-left: auto;
  margin-right: auto;
}

.listingDetailPanel .Info .What {
  font-weight: bold;
}

.listingDetailPanel .Buy table {
  margin-left: auto;
  margin-right: auto;
}

.listingDetailPanel .Bought {
  border: 1px solid #3776A0;
  padding: 5px;
}

.listingDetailPanel .Bought .itemActivator {
  padding: 10px;
}

.listingDetailPanel .Bought .Title {
  font-size: 18px;
  font-weight: bold;
}

.listingDetailPanel .messagePanel .Scroller {
  width: 555px;
}

.favoritesPanel {
  background: #61A9CF url(/images/shop/background.png) repeat-x;
}

.favoritesPanel .pagedGrid {
  margin-top: 15px;
  width: 570px;
}
