/**
 * $Id$
 *
 * CSS styles for the Inventory interfaces.
 */

.itemDetailContent .Status {
  width: 125px;
  font-size: 12px;
}

.itemPanel .pagedGrid .Header .Show {
  white-space: nowrap;
  width: 50px;
  padding-right: 5px;
}

.itemPanel .itemDetailPanel .itemActivator .Tip {
  color: #3776A0;
}

.itemPanel .Contents {
  margin: 10px;
  width: 650px;
}

.itemPanel .Upload {
  background: url(/images/item/upload_bg.png) no-repeat top;
  margin-left: 10px;
  width: 655px;
  height: 89px;
}

.itemPanel .Upload .Header {
  height: 40px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 2px 0px 0px 65px;
}

.itemPanel .Upload .Pitch {
  background-image: none;
  padding-left: 20px;
  font-size: 14px;
}

.itemPanel .itemBox .Name {
  text-align: center;
}

.itemPanel .itemBox .Activator {
  padding-top: 3px;
}

.itemBox .Original {
  font-style: italic;
}

.itemPanel .Upload .Button {
  padding-right: 20px;
}

.subInventoryContents {
  width: 650px;
  margin-top: 5px;
}

.subInventoryContents .itemBox .Ident {
  font-size: 10px;
  padding-bottom: 3px;
}

.mediaUploader {
}

.mediaUploader td {
  padding: 2px;
}

.mediaUploader .Preview {
  width: 160px;
  height: 120px;
  border: 1px solid;
  background-image: url(/images/item/detail_preview_bg.png);
}

.doListItem {
  margin: 10px;
}

.doListItem .Header {
  font-size: 13px;
  font-weight: bold;
  padding-top: 15px;
}

.doListItem .Blurb {
  vertical-align: top;
  font-size: 13px;
}

.doListItem .RarityRow {
  margin-left: 40px;
  margin-top: 5px;
}

.doListItem .PriceRow {
  margin-left: 40px;
  margin-top: 10px;
}

.PriceRow .Price {
  display: inline;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.doListItem .Status {
  padding-top: 5px;
}

.favoritesPanel .Contents {
  margin: 10px;
  width: 650px;
}
