/** 
 * $Id$
 *
 * CSS styles for the Swiftly interfaces.
 */

html {
  height: 100%;
}

body {
  height: 100%;
}

.swiftlyPanel {
  width: 100%;
  height: 100%;
}

.projectEdit {
  width: 400px;
  height: 100px;
}

.projectEdit td {
  vertical-align: top;
}

.projectEdit .LabelLink {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.projectEdit .MenuTitle {
    font-weight: bold;
    background-color: transparent;
}

.projectSelectionPanel {
  width: 750px;
  padding: 10px;
}

.projectSelectionPanel .Header {
  font-size: 14px;
  font-weight: bold;
}

.projectSelectionPanel td {
  vertical-align: top;
}
