/** 
 * $Id$
 *
 * CSS styles for the Swiftly interfaces.
 */

html {
  height: 100%;
}

body {
  height: 100%;
}

.swiftlyPanel {
  border: 1px solid;
  width: 100%;
  height: 100%;
}

.projectEdit .LabelLink {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.projectEdit .MenuTitle {
    font-weight: bold;
    background-color: transparent;
}
