/** 
 * $Id$
 *
 * CSS styles for the Group interfaces.
 */

/* GroupView specific formatting */
.groupView td {
    vertical-align: top;
}

.groupView .Back {
    padding: 5px;
}

.groupView .Name {
    font-size: 22px;
    font-weight: bold;
}

.groupView .Blurb, .groupView .Charter, .groupView .PeoplePanel {
    font-size: 12px;
}

.groupView .PeoplePanel {
    width: 200px;
}

.groupView .PeoplePanel a {
    white-space: nowrap;
}

.groupView .Blurb {
    margin-bottom: 5px;
}

.groupView .DescriptionPanel {
    margin: 5px 0px 0px 0px;
}

.groupView .DescriptionPanel p {
    margin: 0px 0px 5px 0px;
}

.groupView .LogoPanel {
    margin: 5px;
    font-size: 12px;
    width: 100px;
}

.groupView .LogoPanel .Links {
    font-weight: 600;
}

.groupView .Established, .groupView .LogoPanel .Policy {
    font-size: 12px;
    font-style: italic;
}

.groupView .LogoPanel .Policy {
    margin: 7px;
}

.groupView .Established a {
    font-style: normal;
}

.groupView .LabelLink {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

.groupView .gwt-Hyperlink {
    display: inline;
}

/* GroupList specific formattting */
.groupList {
    padding: 0px 5px;
    font-size: 12px;
    width: 680px;
}

.groupList .Intro {
    padding-bottom: 10px;
    vertical-align: top;
}

.groupList .PopularTags {
    vertical-align: top;
    padding-right: 10px;
}

.groupList .PopularTags a {
    font-style: italic;
    color: #696969;
}

.groupList .PopularTags .Label {
    font-weight: bold;
}

.groupList .PopularTags #moreLink {
    color: #CD853F;
}

.groupList .GroupWidget {
    font-size: 13px;
}

.groupList .GroupWidget .Logo {
    width: 80px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.groupList .GroupWidget .EstablishedDate {
    font-style: italic;
}

.featuredWhirled {
  width: 475px;
}

.featuredWhirled .Name {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.featuredWhirled .Shot {
  padding-right: 10px;
}

.featuredWhirled .MoreInfo {
  font-size: 12px;
  text-align: center;
}

.featuredWhirled .Online, .featuredWhirled .Go {
  font-weight: bold;
  color: #5F96AC;
  font-size: 16px;
}

.featuredWhirled .Go {
  text-align: center;
}

.featuredWhirled .Info {
  vertical-align: top;
  padding-right: 10px;
  font-size: 12px;
}

.featuredWhirled .Info .BitLabel {
  padding-right: 5px;
}

.featuredWhirled .Buttons {
  vertical-align: top;
  width: 103px;
}
