/** 
 * $Id$
 *
 * CSS styles for the Whirled interfaces.
 */

/* GroupView specific formatting */
.whirledDetail {
  width: 100%;
}

.whirledDetail .Whirled {
  border: 1px solid #408AB9;
}

.whirledDetail .Enter {
  background: url(/images/group/enter_bg.png) center no-repeat;
  height: 19px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #408AB9;
}

.whirledDetail .Bits .Name {
  font-size: 18px;
  font-weight: bold;
  color: #204260;
}

.whirledDetail .Bits .Blurb {
  font-size: 12px;
}

.whirledDetail .Bits .Established {
  font-size: 12px;
  font-style: italic;
}

.whirledDetail .Member {
  width: 100%;
  margin: 5px;
}

.whirledDetail .Member .Photo {
  padding-right: 5px;
}

.whirledDetail .Member .Name {
  width: 100%;
}

.whirledDetail .Member .Edit {
  color: #999999;
  font-size: 12px;
  padding: 0px 10px;
}

.whirledDetail .Charter {
  margin: 0px 10px;
}

/* GroupList specific formattting */
.galaxy {
  padding: 0px 5px;
  width: 680px;
}

.galaxy .Intro {
  font-size: 16px;
  padding: 10px;
  vertical-align: top;
}

.galaxy .Title {
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

.galaxy .PopularTags {
  vertical-align: top;
  padding-right: 10px;
  font-size: 12px;
}

.galaxy .PopularTags a {
  font-style: italic;
  color: #696969;
}

.galaxy .PopularTags .Label {
  font-weight: bold;
}

.galaxy .PopularTags #moreLink {
  color: #CD853F;
}

.galaxy .itemBox .Name {
  text-align: center;
}

.galaxy .itemBox .Population {
  font-size: 12px;
}

.featuredWhirled {
  width: 424px;
}

.featuredWhirled .Name {
  font-weight: bold;
  font-size: 16px;
}

.featuredWhirled .MoreInfo {
  font-size: 12px;
  text-align: center;
}
