/**
 * $Id$
 *
 * Styles for MyWhirled and The Whirled.
 */

/**********  My Whirled ************/
.PeopleContainer, .PlacesContainer, .GamesContainer {
  margin: 7px;
}

.PeopleContainer {
  width: 539px;
}

.PeopleContainer .PageHeader {
  background-image: url(/images/whirled/people_tile.png);
  height: 20px;
  font-weight: bold;
  font-size: 12px;
}

.PlacesContainer, .GamesContainer {
  width: 264px;
}

.PlacesContainer .HeaderLeft, .PlacesContainer .HeaderRight {
  background-image: url(/images/whirled/places_star.png);
  width: 20px;
  height: 20px;
}

.PlacesContainer .Header {
  background-image: url(/images/whirled/places_tile.png);
  height: 20px;
}

.PlacesContainer .HeaderCenter {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.GamesContainer {
  margin-left: auto;
}

.GamesContainer .HeaderLeft, .GamesContainer .HeaderRight {
  background-image: url(/images/whirled/games_star.png);
  width: 20px;
  height: 20px;
}

.GamesContainer .Header {
  background-image: url(/images/whirled/games_tile.png);
  height: 20px;
}

.GamesContainer .HeaderCenter {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.MePanelContainer {
  vertical-align: top;
}

.MePanel {
  width: 118px;
  margin: 0px;
  border-bottom: 1px dotted;
}

.MePanel .Description {
  width: 119px;
  background-color: #B5C9D4;
  border-bottom: 1px dotted;
  font-size: 10px;
  text-align: center;
  padding: 5px 15px 5px 15px;
}

.MePanel .Whirledwide {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0px 3px 0px;
}

.MePanel .Whirledwide a {
  color: black;
}

.MePanel .borderedBox {
  width: 119px;
  border-left: 1px dotted;
  border-right: 1px dotted;
  border-color: black;
  /** We can't scale background images, so here we're tiling it across the top, then filling in
   * the rest with the gradient's end color. */
  background-image: url(/images/whirled/bg_gradient.png);
  background-repeat: repeat-x;
  background-color: #F4F3F4;
}

.MePanel .SectionHeaderContainer {
  background-image: url(/images/whirled/default_tile.png);
  height: 20px;
  width: 119px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #1D6393;
}

.MePanel .SectionHeader {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.MePanel .PictureBox {
  width: 100%;
  height: 88px;
}

.MePanel .PictureBox img {
  display: block;
}

.MePanel .RoomsBox, .MePanel .ChatsBox {
  font-size: 10px;
  color: #A9A8AD;
}

.MePanel .borderedBox a {
  color: #A9A8AD;
}

.PersonWidget {
  width: 85px;
}

.PersonWidget img {
  cursor: pointer;
}

.PersonWidget .NameLabel {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.PersonWidget .Room {
  color: #355B6E;
}

.PersonWidget .Game {
  color: #E98932;
}

.SceneList {
  border-left: 1px dotted;
  border-right: 1px dotted;
  border-bottom: 1px dotted;
  width: 264px;
  height: 245px;
}

.SceneListContainer { 
  width: 100%;
}

.SceneWidget {
  width: 100%;
  height: 60px;
  background-image: url(/images/whirled/bg_gradient.png);
  background-repeat: repeat-x;
  background-color: #F4F3F4;
  border-bottom: 1px solid #DADADA;
}

.SceneWidget .LogoContainer {
  width: 80px;
  height: 60px;
}

.SceneWidget .LogoContainer img {
  display: block;
  cursor: pointer;
}

.SceneWidget .Text {
  width: 183px;
  padding: 3px 22px 2px 12px;
  text-align: left;
  font-size: 10px;
}

.Fake {
  font-size: 12px;
  padding: 5px;
}

.SceneWidget .SceneName {
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 2px;
}

.SceneWidget .GrayName {
  font-size: 10px;
  color: #A9A8AD;
}

.SceneWidget .OrangeName {
  font-size: 10px;
  color: #E98932;
}

.SceneWidget .Underline {
  text-decoration: underline;
  cursor: pointer;
}

/**********  Whirledwide  ************/
.TopGamesContainer {
  width: 124;
}

.TopGamesContainer .HeaderLeft, .TopGamesContainer .HeaderRight {
  background-image: url(/images/whirled/games_star.png);
  width: 20px;
  height: 19px;
}

.TopGamesContainer .Header {
  background-image: url(/images/whirled/games_tile.png);
  height: 19px;
}

.TopGamesContainer .HeaderCenter {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.TopGamesList {
  width: 124px;
  height: 481px;
  border-left: 1px dotted;
  border-right: 1px dotted;
  background-color: #DCDCDC;
}

.AllGames {
  width: 124px;
  height: 20px;
  background-color: #84939F;
  border-bottom: 1px dotted;
  border-left: 1px dotted;
  border-right: 1px dotted;
  padding: 3px 2px 1px 1px;
}

.AllGames img {
  display: block;
  cursor: pointer;
}

.PlayersContainer {
  width: 124px;
}

.PlayersContainer .HeaderLeft, .PlayersContainer .HeaderRight {
  background-image: url(/images/whirled/people_star.png);
  width: 20px;
  height: 19px;
}

.PlayersContainer .Header {
  background-image: url(/images/whirled/people_tile.png);
  height: 19px;
}

.PlayersContainer .HeaderCenter {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.PlayersList {
  width: 124px;
  height: 501px;
  border-left: 1px dotted;
  border-right: 1px dotted;
  border-bottom: 1px dotted;
  background-color: #DCDCDC;
}

.GameWidget, .TopGame {
  font-size: 10px;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid #BFBFBF;
}

.GameWidget img, .TopGame img {
  display: block;
  cursor: pointer;
}

.TopGame {
  font-size: 12px;
  font-weight: bold;
  height: 100px;
}

.GameWidget {
  height: 48px;
}

.GameWidget .NameLabel {
  width: 68px;
  text-align: left;
}

.GameWidget .LogoContainer {
  width: 50px;
}

.Spacer {
  height: 100%;
}

.PlayerWidget {
  width: 122px;
  height: 100px;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 0px 3px 0px;
}

.NameLabel {
  padding: 0px 2px 0px 2px;
}

/** Temp */
.FeaturedPlaceContainer {
  height: 520px;
}

.FeaturedPlace img {
  display: block;
}

.PopulationDisplay {
  font-size: 10px;
  color: #A9A8AD;
}
