/**
 * $Id$
 *
 * Styles for MyWhirled and The Whirled.
 */

.PeopleContainer, .PlacesContainer, .GamesContainer {
  margin: 7px;
}

.PeopleContainer .PageHeader {
  background-image: url(/images/whirled/people_tile.png);
  height: 20px;
  font-weight: bold;
  font-size: 12px;
}

.PlacesContainer, .GamesContainer {
  width: 264px;
}

.PlacesContainer .HeaderLeft, .PlacesContainer .HeaderRight {
  background-image: url(/images/whirled/places_star.png);
  width: 20px;
  height: 20px;
}

.PlacesContainer .Header {
  background-image: url(/images/whirled/places_tile.png);
  height: 20px;
}

.PlacesContainer .HeaderCenter {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.GamesContainer {
  margin-left: auto;
}

.GamesContainer .HeaderLeft, .GamesContainer .HeaderRight {
  background-image: url(/images/whirled/games_star.png);
  width: 20px;
  height: 20px;
}

.GamesContainer .Header {
  background-image: url(/images/whirled/games_tile.png);
  height: 20px;
}

.GamesContainer .HeaderCenter {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.SceneList {
  border-left: 1px dotted;
  border-right: 1px dotted;
  border-bottom: 1px dotted;
  width: 264px;
  height: 245px;
}

.MePanelContainer {
  vertical-align: top;
}

.MePanel {
  width: 118px;
  margin: 0px;
  border-bottom: 1px dotted;
}

.MePanel .Description {
  background-color: #B5C9D4;
  border-bottom: 1px dotted;
  font-size: 10px;
  text-align: center;
  padding: 5px 15px 5px 15px;
}

.MePanel .borderedBox {
  width: 118px;
  border-left: 1px dotted;
  border-right: 1px dotted;
  /** We can't scale background images, so here we're tiling it across the top, then filling in
   * the rest with the gradient's end color. */
  background-image: url(/images/whirled/bg_gradient.png);
  background-repeat: repeat-x;
  background-color: #F4F3F4;
}

.MePanel .SectionHeaderContainer {
  background-image: url(/images/whirled/default_tile.png);
  height: 20px;
  width: 118px;
}

.MePanel .SectionHeader {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.MePanel .PictureBox {
  width: 100%;
  height: 88px;
}

.MePanel .PictureBox img {
  display: block;
}
