/**
 * $Id$
 *
 * CSS styles for the Whirled interfaces.
 */

/* ------------------------------------
   SINGLE WHIRLED DETAIL
-------------------------------------*/

.whirledDetail {
  width: 100%;
  background: #509bd2 url(/images/group/detail_bg.png) top left repeat-x;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  min-height: 100%;
}

.whirledDetail .MainDetails {
  height: 250px;
  width: 100%;
}

.whirledDetail .MainDetails .TitleBox {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 250px;
  height: 80px;
  background: transparent url(/images/group/title_bg.png) top left no-repeat;
  padding: 5px;
}
.whirledDetail .MainDetails .TitleBox,
.whirledDetail .MainDetails .TitleBox a {
  color: #3f82af;
}

.whirledDetail .MainDetails .TitleBox .Logo {
  float: left;
  width: 40px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.whirledDetail .MainDetails .TitleBox .Name {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #24598d;
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
}

.whirledDetail .MainDetails .TitleBox .Established {
  clear: both;
  white-space: nowrap;
  overflow: hidden;
  width: 235px;
  margin-bottom: 2px;
  font-style: italic;
}

.whirledDetail .MainDetails .EnterButton {
  position: absolute;
  top: 97px;
  left: 25px;
}

.whirledDetail .MainDetails .DiscussionsButton {
  position: absolute;
  top: 97px;
  left: 155px;
}

.whirledDetail .MainDetails .Actions {
  position: absolute;
  top: 135px;
  left: 10px;
  color: #FFFFFF;
}

.whirledDetail .MainDetails .Actions .actionLabel {
  text-decoration: none;
  width: 135px;
  border-bottom: solid #5384ad 1px;
  margin-bottom: 5px;
  padding-bottom: 2px;
}
.whirledDetail .MainDetails .Actions .actionLabel:hover,
.whirledDetail .MainDetails .Actions .actionLabel:active {
  text-decoration: underline;
}

.whirledDetail .MainDetails .Actions .ManagerActions .actionLabel {
  border-bottom: none;
  width: auto;
}

.whirledDetail .MainDetails .ScreenshotBox {
  position: absolute;
  top: 0px;
  left: 275px;
  width: 360px;
  min-height: 250px;
  background: transparent url(/images/group/screenshot_bg.png) top center no-repeat;
  text-align: center;
}

.whirledDetail .MainDetails .ScreenshotBox .Screenshot {
  margin-top: 10px;
  margin-bottom: 15px;
}

/* adjust the flash box */
.whirledDetail .MainDetails .ScreenshotBox .Screenshot .gwt-HTML {
  margin-left: 15px;
}

.whirledDetail .MainDetails .ScreenshotBox .Online {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.whirledDetail .MainDetails .ScreenshotBox .Blurb {
  font-size: 14px;
  color: #88c3ed;
}

.whirledDetail .ContentPanel {
  margin-left: 5px;
  width: 525px;
}

.whirledDetail .ContentPanel .ContentPanelTitle {
  width: 525px;
  height: 25px; /* total image height = 30px*/
  padding-top: 5px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #FFFFFF;
  text-align: center;
  background: transparent url(/images/group/content_title_bg.png) bottom center no-repeat;
}

.whirledDetail .ContentPanel .ContentPanelContainer {
  background-color: #FFFFFF;
  min-height: 400px;
}

.whirledDetail .ContentPanel .ContentPanelContent {
  padding: 10px;
}

.whirledDetail .ContentPanel .ContentBackButton {
  text-align: right;
  padding: 10px;
}

.whirledDetail .ContentPanel .ContentBackButton a {
  text-decoration: none;
}

.whirledDetail .ContentPanel .ContentBackButton a:hover,
.whirledDetail .ContentPanel .ContentBackButton a:active {
  text-decoration: underline;
}

/* ------------------------------------
   SINGLE WHIRLED DETAIL - TOP MEMBERS
-------------------------------------*/

.whirledDetail .TopMembersPanel {
  margin-left: 10px;
  width: 140px;
}

.whirledDetail .TopMembersPanel .Title {
  background: transparent url(/images/group/sidebar_bg.png) bottom center no-repeat;
  width: 140px;
  height: 25px; /* total image height = 30px*/
  padding-top: 5px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #FFFFFF;
  text-align: center;
}

.whirledDetail .TopMembersPanel .Content {
  background-color: #FFFFFF;
  padding: 5px;
}
.whirledDetail .TopMembersPanel .Content,
.whirledDetail .TopMembersPanel .Content a {
  color: #174c74;
}

.whirledDetail .TopMembersPanel .SeeAll {
  text-decoration: underline;
  font-style: italic;
  text-align: right;
}

.whirledDetail .TopMembersPanel .Icon {
  padding-right: 5px;
  height: 35px;
}

.whirledDetail .TopMembersPanel .Manager {
  padding-top: 5px;
  font-weight: bold;
}

/* ------------------------------------
   SINGLE WHIRLED DETAIL - RECENT DISCUSSIONS
-------------------------------------*/

.whirledDetail .WhirledDiscussionPanel {
  padding-bottom: 30px;
}

/* positioned absolutely to the page */
.whirledDetail .WhirledDiscussionPanel .RSS {
  position: absolute;
  left: 350px;
  top: 290px;
  width: 180px;
  text-align: right;
}
.whirledDetail .WhirledDiscussionPanel .RSS .RssText {
  width: 130px;
  text-align: right;
  padding-top: 3px;
  padding-right: 5px;
  float: left;
}

.whirledDetail .WhirledDiscussionPanel .RSS a.RssText {
  font-size: 11px;
  color: #2a6891;
  text-decoration: none;
}
.whirledDetail .WhirledDiscussionPanel .RSS a:hover.RssText,
.whirledDetail .WhirledDiscussionPanel .RSS a:active.RssText {
  text-decoration: underline;
}

.whirledDetail .WhirledDiscussionPanel .RSS img {
  border: none;
  width: 38px;
  height: 38px;
  float: right;
}

.whirledDetail .WhirledDiscussionPanel .NoThreads {
  color: #2a6891;
  font-size: 15px;
  margin: 11px;
}

.whirledDetail .WhirledDiscussionPanel .NoThreads {
  color: #2a6891;
  font-size: 15px;
  margin: 10px;
}

.whirledDetail .Thread,
.whirledDetail .Thread a {
  font-size: 13px;
  color: #2a6891;
}

.whirledDetail .Thread .Date {
  color: #78a3c5;
  margin: 15px 0 0 0px;
}

.whirledDetail .Thread .Subject {
  float: left;
  width: 500px;
  padding: 2px 0 5px 0px;
}
.whirledDetail .Thread .Subject a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.whirledDetail .Thread .Text {
  background: #dfedfa url(/images/group/thread_text_bg.png) no-repeat top left;
  width: 450px;
  min-height: 50px;
  max-height: 700px;
  clear: both;
  margin: 5px 5px 5px 0;
  padding: 10px 10px 10px 40px;
  overflow: auto;
}

.whirledDetail .Thread .PostedByIcon {
  float: left;
  margin: 0 5px 0 20px;
}

.whirledDetail .Thread .PostedBy {
  float: left;
  margin: 7px 0 0 0;
}

.whirledDetail .Thread .Replies {
  float: right;
  margin: 7px 10px 0 0;
}

.whirledDetail .WhirledDiscussionPanel .Divider {
  clear: both;
  background: transparent url(/images/group/thread_divider_bg.png) repeat-x bottom left;
  height: 15px;
}

/* ------------------------------------
   GALAXY GROUP LIST
-------------------------------------*/

.galaxy {
  width: 685px;
  overflow-x: hidden;
}

.galaxy .Title {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.galaxy .Features {
  background: url(/images/group/featured_bg.png) no-repeat top left;
  width: 100%;
  height: 326px;
}

.galaxy .Features .Intro {
  width: 142px;
  font-size: 14px;
  vertical-align: top;
  color: #316C94;
  padding: 45px 25px 0px 25px;
}

.galaxy .Browse {
  width: 100%;
  padding-left: 5px;
}

.galaxy .Browse .Title {
  font-size: 18px;
  color: #316C94;
}

.galaxy .Browse .Search {
  padding-right: 10px;
}

.galaxy .Contents {
  width: 660px;
  margin: 0px 10px;
}

.galaxy .clickBox .Name {
  text-align: center;
}

.galaxy .clickBox .Population {
  font-size: 12px;
}

.galaxy .Create {
  background: url(/images/item/upload_bg.png) no-repeat top left;
  margin-left: 10px;
  width: 655px;
  height: 89px;
}

.galaxy .Create .Header {
  height: 28px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 12px 0px 0px 65px;
  background: none;
  vertical-align: top;
}

.galaxy .Create .Pitch {
  padding-left: 20px;
  font-size: 14px;
  color: #2E729F;
  background: none;
}

.galaxy .Create .Button {
  padding-right: 20px;
}

/* ------------------------------------
   GALAXY GROUP LIST - FEATURED WHIRLED
-------------------------------------*/

.galaxy .FeaturedWhirled {
  color: #FFFFFF;
}

.galaxy .FeaturedWhirled .Title {
  height: 25px;
  padding-top: 5px;
  font-weight: bold;
}

.galaxy .FeaturedWhirled .LiveViewOverlay {
  position: absolute;
  top: 210px;
  left: 380px;
}

.galaxy .FeaturedWhirled .FeaturedWhirledName {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-top: 10px
}

.galaxy .FeaturedWhirled .FeaturedWhirledName a {
  color: #FFFFFF;
}

.galaxy .FeaturedWhirled .OnlineBox {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
}

.galaxy .FeaturedWhirled .Blurb {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #5FA5D8;
  text-align: center;
  margin-top: 10px;
}

.galaxy .FeaturedWhirled .PrevButton {
  position: absolute;
  top: 250px;
  left: 260px;
}

.galaxy .FeaturedWhirled .NextButton {
  position: absolute;
  top: 250px;
  left: 570px;
}

/* ------------------------------------
   MY WHIRLEDS
-------------------------------------*/

.myWhirleds {
  background-color: #1d5884;
  min-height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.myWhirleds .WhirledsGrid {
  width: 665px;
  margin: 10px 0 0 10px;
}

.myWhirleds .WhirledsGrid .Header {
  background-position: top center;
}

.myWhirleds .WhirledsGrid .Header .TopLeft,
.myWhirleds .WhirledsGrid .Header .TopRight {
  background-color: #1d5884;
  height: 29px;
}

.myWhirleds .WhirledsGrid .Header .SortBy {
  padding-right: 5px;
  width: 50px;
}

.myWhirleds .WhirledsGrid .Header td.Info {
  width: 350px;
}

.myWhirleds .WhirledsGrid .Headers div {
  float: left;
  height: 17px;
  background-color: #5683a4;
  border: solid #1d5884 1px;
  border-right: none;
  padding-top: 5px;
  text-align: center;
  color: #FFFFFF;
}

.myWhirleds .WhirledsGrid .Headers div.WhirledNameHeader {
  border-left: none;
  width: 227px;
}

.myWhirleds .WhirledsGrid .Headers div.LatestPostHeader {
  width: 340px;
}

.myWhirleds .WhirledsGrid .Headers div.ThreadsHeader {
  width: 50px;
}

.myWhirleds .WhirledsGrid .Headers div.PostsHeader {
  width: 45px;
}

.myWhirleds .WhirledWidget {
  height: 80px;
  text-align: left;
  background: transparent url(/images/group/mywhirleds_row_bg.png) repeat-y top left;
  margin-bottom: 5px;
}
.myWhirleds .WhirledWidget,
.myWhirleds .WhirledWidget a {
  color: #073859;
}

.myWhirleds .LogoBox {
  position: absolute;
  top: 10px;
  left: 5px;
}
/* vertical centering not supported in ie */
.myWhirleds .LogoBox div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.myWhirleds .Name {
  position: absolute;
  top: 10px;
  left: 90px;
  width: 130px;
  height: 45px;
  overflow: hidden;
}
.myWhirleds .Name a {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #6692af;
}

.myWhirleds .MembersOnline {
  color: #6692af;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 60px;
  left: 90px;
}

.myWhirleds .LatestThreadSubject,
.myWhirleds .NoThreads {
  position: absolute;
  top: 10px;
  left: 235px;
  width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}
.myWhirleds .LatestThreadSubject a {
  font-size: 14px;
}

.myWhirleds .PostedBy {
  position: absolute;
  top: 30px;
  left: 235px;
  width: 325px;
}

.myWhirleds .Date {
  position: absolute;
  top: 60px;
  left: 360px;
  width: 200px;
  text-align: right;
}

.myWhirleds .Date .Time {
  color: #6692af;
}

.myWhirleds .NumThreads,
.myWhirleds .NumPosts {
  position: absolute;
  top: 10px;
  font-size: 15px;
  width: 50px;
  height: 40px; /* plus 20 padding */
  padding-top: 20px;
  text-align: center;
  cursor: pointer;
}
.myWhirleds .NumThreads a,
.myWhirleds .NumPosts a {
  text-decoration: none;
}

.myWhirleds .NumThreads a:hover,
.myWhirleds .NumPosts a:hover,
.myWhirleds .NumThreads a:active,
.myWhirleds .NumPosts a:active {
  text-decoration: underline;
}

.myWhirleds .NumThreads {
  left: 570px;
}

.myWhirleds .NumPosts {
  left: 617px;
}

.myWhirleds .ManagerStar {
  margin-left: 5px;
}

/* ------------------------------------
   EDIT WHIRLED
-------------------------------------*/

.groupEditor .tagDetailPanel {
    padding: 10px;
    border: solid black 1px;
}

.photoChoiceBox .Preview {
  width: 40px;
  height: 30px;
  padding-right: 5px;
}

/* ------------------------------------
   DISCUSSION THREADS - MESSAGES PANEL
-------------------------------------*/

.messagePanel .ToolBar {
  float: right;
}

.messagePanel .ActionButtons {
  float: right;
  width: 75px;
}
