/** 
 * $Id$
 *
 * CSS styles for the Admin pages.
 */

.title {
  font-size: 18px;
  font-weight: bold;
}

.dashboardPanel {
  width: 100%;
}

.dashboardPanel .Title {
  font-weight: bold;
  text-align: left;
}

.dashboardPanel .gwt-Button {
  display: block;
  margin-bottom: 5px;
}

.invitePlayersPopup {
  padding: 10px;
}

.invitePlayersPopup .Tip {
  width: 400px;
}

/** Review Panel **/
.reviewPanel {
  padding: 10px;
  font-size: 12px;
}

.reviewPanel .Item {
  padding-top: 10px;
}

/*** Item transactions and review panel tables ***/
.itemTransactions .Table .row1, .reviewPanel .Table .row1 {
  background: #dbeffc;
}

.itemTransactions .Table .header, .reviewPanel .Table .header {
  background: #ff992b;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.itemTransactions .Table .col2 /* Description */,
.reviewPanel .Table .col1 /* Comment */ {
  width: 50%;
}

.reviewPanel .Table .col1 {
  vertical-align: top;
}

.reviewPanel .Table .Comment .CommentText {
  border-top: thin dotted gray;
  padding-top: 3px;
}

.reviewPanel .Table .Comment .EmptyCommentText {
  font-style: italic;
}

/*** Player Browser ***/
.playerBrowser .PlayerList {
  text-align: center;
  border-spacing: 0px;
  empty-cells: hide;
}

.playerBrowser .PlayerList .Title {
  border-style: none;
  font-weight: bold;
  font-size: 18px;
  padding: 2px;
}

.playerBrowser .PlayerList .Buttons td {
  border-style: none;
  padding: 3px;
}

.playerBrowser .PlayerList .Buttons .Shim {
  background-color: black;
  border-style: none;
}

.playerBrowser .PlayerList td {
  border-style: solid none none solid;
  border-width: 1px;
  padding: 0px;
}

.playerBrowser .PlayerList .Bottom td {
  border-bottom-style: solid;
}

.playerBrowser .PlayerList .Last {
  border-right-style: solid;
} 

.playerBrowser .PlayerList .Separator td {
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.playerBrowser .PlayerList .Clickable {
  cursor: pointer;
}

.playerBrowser .PlayerList .gwt-Label {
  /* non-highlighted labels. */
  border-width: 2px;
  border-style: solid;
  border-color: white;
}

.playerBrowser .PlayerList .Header {
  padding: 3px;
}

.playerBrowser .PlayerList .Highlighted {
  border-color: red;
}

.playerBrowser .PlayerList .HighlightedHeader {
  border-color: blue;
}

.playerBrowser .PlayerList .DataRow td {
  font-size: 10px;
}

.spamPlayers { 
  margin: 10px;
}

.memberInfo .Name {
  font-size: 18px;
}

.memberInfo .Label {
  vertical-align: top;
  text-align: right;
  white-space: nowrap;
}

.CharityDescription {
  width: 400px;
}

/* ------------------------------------
   A/B TESTS
-------------------------------------*/

.abTestListPanel {
  padding: 10px;
}

.abTestListPanel .Tests {
  border: solid black 1px;
  margin: 10px auto;
  width: 100%;
}

.abTestListPanel .Tests .Header {
  background-color: #C8DFED;
}

.abTestEditorDialog {
  padding: 10px;
}

.abTestEditorDialog .Label {
  clear: both;
  float: left;
  width: 150px;
}

.abTestEditorDialog .Element {
  float: left;
  margin-bottom: 10px;
}

.abTestEditorDialog .ButtonPair {
  clear: both;
}

/* ------------------------------------
   Affiliate Mapping
-------------------------------------*/
/* NOT WORKING
.affiliateMapPanel {
  width: 650px;
}
*/

.cashOutWidget {
  padding: 5px 0px;
  width: 100%;
  font-size: 10pt;
}

.cashOutWidget .Name {
  padding-top: 2px;
  padding-bottom: 2px;
}

.cashOutWidget .PopupPanel {
  font-size: 12pt;
  font-weight: bold;
  padding-top: 10px;
}

.cashOutWidget .PopupPanel .PopupCell {
  font-size: 12pt;
  font-weight: bold;
  vertical-align: top;
}

.cashOutWidget .PopupPanel .PopupButton {
  margin-left: 3px;
  margin-right: 3px;
}

.cashOutWidget .PopupPanel .Reason {
  width: 450px;
  height: 50px;
}

.cashOutWidget .Extras .sideButton {
  width: 120px;
}

.cashOutWidget .SendMail {
  background-image: url(/images/profile/sendmail.png);
  width: 21px;
  height: 15px;
}

.cashOutWidget .Remove {
  background-image: url(/images/profile/remove.png);
  width: 17px;
  height: 17px;
}

.requestedCashOutWidget {
  height: 89px;
}

.charityCashOutWidget {
  height: 60px;
}

/** PromotionEditor */
.promoEditor {
  border-top: 15px white solid;
}

.promoEditor .Promos .Header {
  font-weight: bold;
  border-bottom: 1px solid;
}

.promoEditor .Promos {
  font-size: 12px;
}

/* ------------------------------------
   ContestsEditor
-------------------------------------*/

.contestsEditor {
  border-top: 15px white solid;
}

.contestsEditor .Contests .Header {
  font-weight: bold;
  border-bottom: 1px solid;
}

.contestsEditor .Contests {
  font-size: 12px;
}

.contestsEditor .contestBox {
  border: 3px solid #CCCCCC;
}

.contestsEditor .contestBox-past {
  background-color: #61ABD0;
}

/* ------------------------------------
   StatsPanel
-------------------------------------*/

.statsPanel {
  padding: 5px;
}

.statsPanel .Controls {
  padding: 5px;
}

.statsPanel .Controls div, .statsPanel .Controls select {
  margin-right: 5px;
}

.panopticonStatus {
  font-size: 10pt;
}

.panopticonStatus .header {
  font-weight: bold;
}

.panopticonStatus .statusText {
  white-space: pre !important;
}
