/**
 * Overrides some default Underwire styles.
 */

/** underwire.css overrides. */
.uTitledBox {
  background: #FFFFFF;
}

.uTitledBox .Caption {
  text-align: center;
  font-weight: bold;
  background: none;
  border: none;
  white-space: nowrap;
}

.uTitledBox .TopLeft {
  width: 2px;
  height: 2px;
  background-image: url(/images/ui/quads/nw_in.png);
}

.uTitledBox .Top {
  width: 2px;
  height: 2px;
  background-image: url(/images/ui/quads/n.png);
}

.uTitledBox .TopRight {
  width: 2px;
  height: 2px;
  background-image: url(/images/ui/quads/ne_in.png);
}

.uTitledBox .Right {
  width: 2px;
  height: 2px;
  background-image: url(/images/ui/quads/e.png);
}

.uTitledBox .BottomRight {
  height: 2px;
  width: 2px;
  background-image: url(/images/ui/quads/se_in.png);
}

.uTitledBox .Bottom {
  width: 2px;
  height: 2px;
  background-image: url(/images/ui/quads/s.png);
}

.uTitledBox .BottomLeft {
  width: 2px;
  height: 2px;
  background-image: url(/images/ui/quads/sw_in.png);
}

.uTitledBox .Left {
  width: 2px;
  height: 2px;
  background-image: url(/images/ui/quads/w.png);
}

.uInfoPopup {
  background: #FFFFFF;
}

.uInputPopup {
  background: #FFFFFF;
  text-align: left;
}

.uMessagePanel {
  width: 90%;
}

/** admin.css overrides. */
.uEventsTable .unclaimed {
  font-size: small;
}

.uEventsTable .claimed {
  font-size: small;
}

.uEventsTable .closed {
  font-size: small;
}

.uAccountPanel {
  width: 100%;
}
