/**
 * Overrides some default Underwire styles.
 */

/** underwire.css overrides. */
.uDialogBox {
  border: 1px solid #0D4163;
  background: #FFFFFF;
}

.uDialogBox .Caption {
  text-align: center;
  font-weight: bold;
  background: none;
  border: none;
  white-space: nowrap;
}

.uDialogBox .TopLeft {
  width: 2px;
  height: 2px;
  background-image: url(/images/ui/quads/nw_in.png);
}

.uDialogBox .Top {
  width: 2px;
  height: 2px;
  background-image: url(/images/ui/quads/n.png);
}

.uDialogBox .TopRight {
  width: 2px;
  height: 2px;
  background-image: url(/images/ui/quads/ne_in.png);
}

.uDialogBox .Right {
  width: 2px;
  height: 2px;
  background-image: url(/images/ui/quads/e.png);
}

.uDialogBox .BottomRight {
  height: 2px;
  width: 2px;
  background-image: url(/images/ui/quads/se_in.png);
}

.uDialogBox .Bottom {
  width: 2px;
  height: 2px;
  background-image: url(/images/ui/quads/s.png);
}

.uDialogBox .BottomLeft {
  width: 2px;
  height: 2px;
  background-image: url(/images/ui/quads/sw_in.png);
}

.uDialogBox .Left {
  width: 2px;
  height: 2px;
  background-image: url(/images/ui/quads/w.png);
}

.uInfoPopup {
  background: #FFFFFF;
}

.uInputPopup {
  background: #FFFFFF;
  text-align: left;
}

.uMessagePanel {
  width: 90%;
}

/** admin.css overrides. */
.uEventsTable .unclaimed {
  font-size: small;
}

.uEventsTable .claimed {
  font-size: small;
}

.uEventsTable .closed {
  font-size: small;
}

.uAccountPanel {
  width: 100%;
}
