/** 
 * $Id$
 *
 * CSS styles for the Room interfaces.
 */

/* ROOMS PANEL */

.roomsPanel {
  width: 100%;
}

.roomsPanel .Intro {
  color: #216CA3;
  font-size: 14px;
  padding-top: 5px;
  width: 500px;
}

.roomsPanel .Info {
  width: 100%;
  padding: 0 8px 24px;
}

.roomsPanel .marquee {
  width: 260px;
}

.roomsPanel .TourButton {
  background-image: url(/images/rooms/tour.png);
  width: 120px;
  height: 97px;
}

.roomsPanel .TourButton-up-hovering {
  background-image: url(/images/rooms/tour_over.png);
}

.roomsPanel .TourButton-down-hovering {
  background-image: url(/images/rooms/tour_down.png);
}

/* ROOM DETAIL PANEL */

.roomDetailPanel {
  width: 100%;
}

.roomDetailPanel .Title {
  font-weight: bold;
  font-size: 22px;
}
