data/swiftly/whirled_sdk/lib/
dist
etc/build_settings.properties
etc/burl-server.conf
etc/burl-server.properties
etc/msoy-server.conf
etc/msoy-server.properties
extlibs
lib/flex_sdk
lib/gwt
log/*.log
package
pages/clients/
pages/crossdomain.xml
pages/gwt/
pages/index.html
pages/js/facebook.js
pages/media/????????????????????????????????????????.???
pages/media/MediaStub.swf
projects/thane
src/as/com/threerings/msoy/applets/*.cache
src/as/com/threerings/msoy/client/*.cache
src/as/com/threerings/msoy/client/DeploymentConfig.as
src/gwt/client/*/*Messages.java
src/java/com/threerings/msoy/data/all/DeploymentConfig.java
tools
