dist
etc/test/*.properties
etc/test/*.conf
etc/prod/*.properties
etc/prod/*.conf
log/*.log
pages/clients/
pages/crossdomain.xml
pages/gwt/
pages/index.html
pages/js/facebook.js
pages/media/????????????????????????????????????????.???
pages/media/MediaStub.swf
src/as/com/threerings/msoy/applets/*.cache
src/as/com/threerings/msoy/client/*.cache
src/as/com/threerings/msoy/client/DeploymentConfig.as
src/gwt/client/*/*Messages.java
src/java/com/threerings/msoy/data/all/DeploymentConfig.java
