#
# $Id$
#
# Configuration for a MetaSOY! server installation

#
# Defines the name for this server installation.

server_name = msoy

#
# The hostname used by the client to connect to the game server

server_host = game.metasoy.com

#
# The port on which the server listens for client and HTTP connections.

# server_ports = 47624, 443
http_port = 8080

#
# The directory from which the server is run. Used to put log files in the
# proper location and things like that.

server_root = /export/msoy

#
# Defines the directory into which any web applications will be installed. (And
# where they will locate their site-data directory).

webapp_dir = /export/threerings/webapps

#
# Defines the directory into which uploaded media will be stored (in addition
# to S3, if that is enabled) and the URL from which media will be downloaded.

media_dir = /export/msoy/pages/media
media_url = http://localhost:8080/media/
static_media_url = http://localhost:8080/media/static/

#
# Auto-restart server if code changes (used on dev server)

# auto_restart = false

#
# S3-backed media storage configuration.

# media_s3enable = true
# media_s3bucket = media.metasoy.com
# media_s3id = AWS ID
# media_s3key = SECRET KEY

#
# This is where ToyBox looks for uploaded game jar files

toybox.resource_dir = /export/msoy/pages/media

#
# The default database mapping; all other definitions will inherit from
# this and need only be specified in cases where they differ from the
# defaults

db.default.driver = com.mysql.jdbc.Driver
db.default.url = jdbc:mysql://DBHOST:3306/msoy?useServerPrepStmts=false
db.default.username = USERNAME
db.default.password = PASSWORD

#
# An example of an overridden database configuration

# db.userdb.username = USERNAME
# db.userdb.password = PASSWORD
# db.userdb.url = jdbc:mysql://USERDBHOST:3306/USERDB?useServerPrepStmts=false
# db.sitedb.url = jdbc:mysql://USERDBHOST:3306/USERDB?useServerPrepStmts=false

#
# Bits for the OOO authenticator

oooauth.login_url = /register/register.wm?from=%R
oooauth.access_denied_url = /register/access_denied.wm

#
# Used for signing our Java client code

# cert_dir = /export/threerings
