# -*- mode: sh -*-
#
# $Id$
#
# Local configuration for this MetaSOY installation.

# Database server configuration
DBSERVER=localhost
DBUSER=msoy
DBPASSWD=PASSWORD

# General configurations
MSOY_USER=msoy
LOG_EMAIL=msoy-logs@DOMAIN
LOGLEVEL=info

# The node names for this server instance: "msoy1 msoy2" or just "msoy1" for example
NODES=msoy1

# These are passed to the various JVMs
SERVER_MEMORY=384M
TOOL_MEMORY=384M

# The host via which to send mail
SMTP_HOST=localhost

# Locate the mail program
MAIL=/usr/bin/mail
if [ ! -f $MAIL ]; then
    MAIL=/bin/mail
fi
