#
# $Id$
#
# Configuration for a MetaSOY! server installation

#
# Is this a development deployment?

dev_deployment = true

#
# The public URL that should be used to access this Whirled installation

# server_url = http://first.whirled.com

#
# The hostname used by the client to connect to the game server

server_host = game.metasoy.com

#
# The port on which the world server listens to Flash's socket policy requests.
socket_policy_port = 47623

#
# The port on which the server listens for client and HTTP connections.

# server_ports = 47624, 443
http_port = 8080

#
# The lowest port on which to host game server instances; ports above this port
# may also be used if multiple game servers are running at the same time

game_server_port = 47625

#
# When running in clustered mode, we must override the server_host for each
# node and we can optionally override the ports on which this node listens for
# Presents and HTTP connections

# msoy1.server_host = game1.metasoy.com
# msoy1.socket_policy_port = 47623
# msoy1.server_ports = 47624
# msoy1.http_port = 80

# msoy2.server_host = game2.metasoy.com
# msoy1.socket_policy_port = 47623
# msoy2.server_ports = 47624
# msoy2.http_port = 80

#
# If this server is running as a part of a cluster, this value should be set to
# a shared secret that will be used to authenticate with other servers in the
# cluster. If it is left commented out, the server will run standalone.

# server_secret = Is it secret? Is it safe?

#
# The directory from which the server is run. Used to put log files in the
# proper location and things like that.

server_root = /export/msoy

#
# Whether or not to log HTTP requests to log/access_NODE.log.yyyy_mm_dd

# log_http_requests = false

#
# Auto-restart server if code changes (used on dev server)

# auto_restart = false

#
# Configures the group used to determine who is eligible for issue assignment

# issue_group_id = 0

#
# Defines the directory into which uploaded media will be stored (in addition
# to S3, if that is enabled) and the URL from which media will be downloaded.

media_dir = /export/msoy/pages/media
media_url = http://localhost:8080/media/
static_media_url = http://localhost:8080/media/static/

#
# S3-backed media storage configuration.

# media_s3enable = true
# media_s3bucket = media.metasoy.com
# media_s3id = AWS ID
# media_s3key = SECRET KEY

#
# This is where ToyBox looks for uploaded game jar files

toybox.resource_dir = /export/msoy/pages/media

#
# The class name of a Depot cache adapter to use. If this value is not supplied
# no caching is done.

# depot.cache.adapter = com.samskivert.jdbc.depot.EHCacheAdapter

#
# Whether or not to lazily initialize our persistent records.

# depot.lazy_init = true

#
# The default database mapping; all other definitions will inherit from
# this and need only be specified in cases where they differ from the
# defaults

db.default.driver = com.mysql.jdbc.Driver
db.default.url = jdbc:mysql://DBHOST:3306/msoy?useServerPrepStmts=false
db.default.username = USERNAME
db.default.password = PASSWORD

#
# Bits for the OOO authenticator

oooauth.login_url = /register/register.wm?from=%R
oooauth.access_denied_url = /register/access_denied.wm

#
# Used for signing our Java client code

# cert_dir = /export/threerings

#
# Facebook Application configuration

# facebook.api_key =
# facebook.secret =

#
# Hostname and port of the event log server.

# event_log_url = http://logdb.metasoy.com

#
# Jabber component configuration
#
# jabber.host = localhost
# jabber.port = 5275
# jabber.secret = secret
# jabber.gateways = aim,msn,yahoo,icq

#
# User the managers of the whirled specified with issue_group_id as the pool
# to assign issue owners
#
# issue_group_id = 1
