/**
 * $Id$
 *
 * Styles for Me pages.
 */

/* ------------------------------------
   ME / MY WHIRLED PAGE
-------------------------------------*/

.myWhirled {
  width: 100%;
}

.myWhirled .NewsAndFriends {
  width: 665px;
  margin: 0 auto;
  padding: 10px 0px;
}

.myWhirled .RightBits {
  margin-left: 10px;
}

.myWhirled .RightBits .QuickNav {
  font-size: 12px;
  width: 182px;
  color: #216CA3;
}

.myWhirled .RightBits .QuickNav a {
  color: #216CA3;
}

.myWhirled .NewsTitle {
  color: #216CA3;
  background: url(/images/me/me_news_title_bg.png) repeat-x bottom left;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}

/* FeedBox also appears on profile; base styles in person.css */
.myWhirled .FeedBox {
  background-color: #d8d8d8;
  width: 470px;
  color: #777777;
}

.myWhirled .promoBox {
  width: 470px;
}

.FeedBox a {
  color: #216CA3;
}

.myWhirled .FeedBox .FeedWidget {
    width: 460px;
}

.myWhirled .FeedBox .FeedBasic {
    padding: 5px;
    width: 450px;
}

.myWhirled .FeedBox .FeedCategoryHeader {
  font-size: 13px;
  padding: 10px 0 5px 0;
  background-color: #d8d8d8;
  color: #333333;
}

.myWhirled .FeedBox .FeedShowMore {
  margin-right: 10px;
  float: right;
}

/* ------------------------------------

-------------------------------------*/

.meFriendsPanel {
  background: #7DB5DB url(/images/me/me_friends_header.png) no-repeat;
  width: 182px;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
}

.meFriendsPanel .Title {
  font-size: 15px;
  padding: 6px 0 1px 0;
}

.meFriendsPanel .TitleSub {
  color: #326383;
  font-size: 11px;
  margin-bottom: 15px;
}

.meFriendsPanel .GreeterTitleSub {
  color: #326383;
  font-size: 11px;
  padding: 15px 0 1px 0;
}

.meFriendsPanel .Invite img {
  margin: 10px auto;
}

.meFriendsPanel .Or {
  margin: 10px;
}

.meFriendsPanel .SearchTitle {
  font-size: 15px;
  margin-bottom: 5px;
}

.meFriendsPanel .Search input {
  margin: 0 5px 5px 10px;
}

.meFriendsPanel .FriendsList {
  width: 166px;
  padding: 3px;
  margin: hidden;
  text-align: left;
  background-color: #FFFFFF;
  margin-left: 5px;
  overflow: hidden;
}

.meFriendsPanel .PlaceName {
  color: #7d7d7d;
  font-weight: bold;
  padding: 10px 0 3px 0;
  white-space: nowrap;
}

.meFriendsPanel .Member {
  font-size: 12px;
  padding-left: 5px;
  width: 100%;
}

.meFriendsPanel .Member .Photo {
  width: 40px;
}

.meFriendsPanel .Name a {
  color: #6DA8D2;
  padding-left: 4px;
}

/* ------------------------------------
   ACCOUNTS PAGE
-------------------------------------*/

.editAccount .Header {
  font-weight: bold;
}

.editAccount .Tip {
  width: 400px;
  font-size: 12px;
  text-align: center;
}

.editAccount .PermaName {
  font-weight: bold;
}

/* ------------------------------------
   ROOMS PAGE
-------------------------------------*/

.myRooms {
  width: 100%;
}

.myRooms .Room {
  font-size: 12px;
  text-align: center;
}

/* ------------------------------------
   PASSPORT PAGE
-------------------------------------*/
.passport {
  background: #1d5883;
  width: 100%;
  min-height: 100%;
  padding-bottom: 5px;
}

.passport .NextPanel {
  background-image: url(/images/me/passport_header_bg.jpg);
  height: 252px;
  width: 678px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.passport .NextPanel .Description {
  padding-top: 10px;
  padding-right: 10px;
  font-size: 13px;
}

.passport .NextPanel .Icon {
  padding-top: 10px;
  padding-right: 10px;
}

.passport .NextPanel .NextHeader {
  padding-top: 10px;
}

.passport .NextPanel .NextHeaderContent {
  background-image: url(/images/me/passport_header_tile.png);
  width: 100%;
  height: 27px;
}

.passport .NextPanel .NextHeaderText {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding-left: 5px;
}

.passport .NextPanel .NextHeaderContent .gwt-Image {
  padding-right: 5px;
  padding-left: 5px;
}

.passport .NextPanel .NextBadgesPanel {
  background-image: url(/images/me/passport_box_tile.png);
  height: 144px;
  width: 652px;
}

.passport .NextPanel .NextBadgesPanel .BadgeDivider {
  padding-top: 5px;
}

.passport .headerBox {
  width: 673px;
  padding-left: 5px;
  padding-top: 10px;
}

.passport .headerBox .Contents {
  width: 100%;
}

.passport .headerBox .Contents .tongueBox {
  padding-top: 10px;
}

.passport .headerBox .Contents .EmptyLabel {
  width: 100%;
  text-align: center;
  font-style: italic;
}

/* ------------------------------------
   BADGE DISPLAYS ANYWHERE
-------------------------------------*/
.badgeDisplay {
  position: relative;
  width: 156px;
  height: 141px;
}

.badgeDisplay .StampImage {
  position: absolute;
  left: 7px;
  top: 7px;
  margin-left: 0;
}

.badgeDisplay .StampName {
  position: absolute;
  left: 90px;
  top: 8px;
  width: 57px;
  color: #1c4c74;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
}

.badgeDisplay .CoinReward {
  position: absolute;
  left: 90px;
  top: 48px;
  font-size: 12px;
  color: black;
}

.badgeDisplay .CoinReward img {
  float: left;
  padding-top: 1px;
}

.badgeDisplay .CoinReward div {
  float: left;
  padding-left: 3px;
}

.badgeDisplay .StampDescription {
  position: absolute;
  top: 69px;
  left: 7px;
  width: 142px;
  height: 43px;
  color: #4a7595;
  font-size: 12px;
  text-align: center;
}

.badgeDisplay .WhenEarned, .badgeDisplay .ProgressBar {
  position: absolute;
  top: 118px;
  left: 7px;
}

.badgeDisplay .ProgressLabel {
  position: absolute;
  top: 118px;
  left: 31px;
}

.badgeDisplay .WhenEarned {
  width: 142px;
  font-size: 12px;
  text-align: center;
}

.badgeDisplay .ProgressBar .Fill {
  background-repeat: repeat;
}

.badgeDisplay .GoButton {
  position: absolute;
  top: 118px;
  right: 7px;
}

.BoxedBadge {
  border-color: #d6e8f6;
  border-style: solid;
  border-width: 1px;
  float: left;
  margin-left: 3px;
  margin-top: 3px;
}

.badgeDisplay a.external {
  padding-right: 11px;
  color: #4a7595;
}

/* ------------------------------------
   MONEY / TRANSACTIONS
-------------------------------------*/

.transactions .Blurb {
  width: 100%;
}

.transactions .Blurb .roundBox {
  margin-right: 15px;
}

.transactions .Blurb .roundBox .Center {
  width: 100%;
  text-align: center;
}

.transactions .Blurb .Billing {
  width: 200px;
}

.transactions .Blurb .BillingTip {
  font-size: small;
  text-align: center;
  padding-bottom: 5px;
}

.transactions .Balance .row1 {
  background: #dbeffc;
}

.transactions .Balance .header {
  background: #ff992b;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.transactions .Balance .col1 { /* Description */
  width: 100%;
}

.transactions .Balance .col2, .Balance .col3, .Balance .col4 { /* Debit, credit, balance */
  text-align: right;
}

.transactions .Balance .ReportFilter {
  width: 50px;
  padding-right: 5px;
}

/* ------------------------------------
   BLING
-------------------------------------*/

.bling {
    font-size: 10pt;
}

.bling .header {
    font-weight: bold;
}

.bling .Error {
    color: red;
}

.bling .Success {
    color: green;
}

/* ------------------------------------
   ALL CONTESTS PANEL
-------------------------------------*/

.contestsPanel {
  background: #61ABD0 url(/images/whirled/bg_gradient_long_blue.png) repeat-x;
  width: 100%;
  min-height: 100%;
}
.contestsPanel, .contestsPanel table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.contestsPanel .Header {
  width: 100%;
  height: 100px;
}

.contestsPanel .Header .Intro {
  color: #c1e1f2;
  width: 320px;
}

.contestsPanel .CurrentTitle,
.contestsPanel .PastTitle {
  background: url(/images/me/contests_dots_bg.png) repeat-x left bottom;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #114E73;
}

.contestsPanel .CurrentContests {
  margin: 0 15px;
}

.contestsPanel .Contest {
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 10px;
}

.contestsPanel .Contest .ContestInfo {
  width: 370px;
  overflow: hidden;
  margin: 0 10px;
}

.contestsPanel .Contest .ContestName {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.contestsPanel .Contest .ContestName, 
.contestsPanel .Contest .ContestName a {
  color: #4c8db9;
}

.contestsPanel .Contest .ContestText {
  margin-bottom: 10px;
}
.contestsPanel .Contest .ContestText,
.contestsPanel .Contest .ContestText a {
  color: #868585;
}

.contestsPanel .Contest .Status,
.contestsPanel .Contest .Status a {
  color: #ff0000;
}

.contestsPanel .Contest .Prizes {
  text-align: center;
  width: 155px;
  overflow: hidden;
}

.contestsPanel .Contest .PrizesTitle {
  color: #868585;
  font-size: 16px;
  margin-bottom: 10px;
}

.contestsPanel .Contest .PrizesText {
  line-height: 18px;
}

.contestsPanel .PastContests {
  margin: 20px;
}

.contestsPanel .PastContest {
  color: #FFFFFF;
}
.contestsPanel .PastContest a {
  color: #FFFFFF;
}