//
// $Id$

package com.threerings.msoy.item.server.persist;

import com.samskivert.depot.Key;
import com.samskivert.depot.annotation.TableGenerator;
import com.samskivert.depot.expression.ColumnExp;

/** Catalog Records for Templates. */
@TableGenerator(name="catalogId", pkColumnValue="TEMPLATE_CATALOG")
public class TemplateCatalogRecord extends CatalogRecord
{
}
