//
// $Id$

package com.threerings.msoy.item.server.persist;

import com.google.inject.Inject;
import com.google.inject.Singleton;

import com.samskivert.io.PersistenceException;
import com.samskivert.jdbc.depot.PersistenceContext;
import com.samskivert.jdbc.depot.annotation.Entity;

import com.threerings.msoy.server.persist.TagHistoryRecord;
import com.threerings.msoy.server.persist.TagRecord;

import static com.threerings.msoy.Log.log;

/**
 * Manages the persistent store of {@link TemplateRecord} items.
 */
@Singleton
public class TemplateRepository extends ItemRepository<TemplateRecord>
{
    @Entity(name="TemplateTagRecord")
    public static class TemplateTagRecord extends TagRecord
    {
    }

    @Entity(name="TemplateTagHistoryRecord")
    public static class TemplateTagHistoryRecord extends TagHistoryRecord
    {
    }

    @Inject public TemplateRepository (PersistenceContext ctx)
    {
        super(ctx);
    }

    @Override
    protected Class<TemplateRecord> getItemClass ()
    {
        return TemplateRecord.class;
    }

    @Override
    protected Class<CatalogRecord> getCatalogClass ()
    {
        return coerceCatalog(TemplateCatalogRecord.class);
    }

    @Override
    protected Class<CloneRecord> getCloneClass ()
    {
        return coerceClone(TemplateCloneRecord.class);
    }

    @Override
    protected Class<RatingRecord> getRatingClass ()
    {
        return coerceRating(TemplateRatingRecord.class);
    }

    @Override
    protected TagRecord createTagRecord ()
    {
        return new TemplateTagRecord();
    }

    @Override
    protected TagHistoryRecord createTagHistoryRecord ()
    {
        return new TemplateTagHistoryRecord();
    }
}
