//
// $Id$

package com.threerings.msoy.item.server.persist;

import com.samskivert.Key;
import com.samskivert.annotation.Column;
import com.samskivert.annotation.TableGenerator;
import com.samskivert.expression.ColumnExp;

import com.threerings.msoy.money.data.all.Currency;

/** Clone records for Templates. */
@TableGenerator(name="cloneId", pkColumnValue="TEMPLATE_CLONE")
public class TemplateCloneRecord extends CloneRecord
{
    public static final int SCHEMA_VERSION = 1 + BASE_SCHEMA_VERSION * BASE_MULTIPLIER;

    @Override
    public void initialize (ItemRecord parent, int newOwnerId, Currency currency, int amountPaid)
    {
        super.initialize(parent, newOwnerId, currency, amountPaid);

        // TODO: copy anything needed from the original
    }
}
