//
// $Id$

package com.threerings.msoy.item.data.all;

import com.threerings.msoy.data.all.MediaDesc;

/**
 * Contains the runtime data for a Template item.
 */
public class Template extends Item
{
    // TODO: add custom item fields

    @Override // from Item
    public byte getType ()
    {
        return TEMPLATE;
    }

    @Override // from Item
    public MediaDesc getPreviewMedia ()
    {
        return getThumbnailMedia();
    }

    @Override // from Item
    public boolean isConsistent ()
    {
        return super.isConsistent(); // TODO: check consistency
    }
}
