/**
 * $Id: me.css 8235 2008-03-14 20:06:11Z mdb $
 *
 * Styles for Account pages.
 */

/* ------------------------------------
   CREATE ACCOUNT
-------------------------------------*/

.createAccount {
  background: #89c6e3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  min-width: 100%;
  min-height: 100%;
}
.createAccount,
.createAccount a {
  color: #d0e6f7;
}

.createAccount .Content {
  margin: 0 auto;
  background: url(/images/account/create_bg.png) no-repeat;
  width: 657px;
  height: 508px;
}

.createAccount .logonPanel {
  margin: 0 0 0 10px;
}

.createAccount .Intro {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 10px;
}

.createAccount .Coins {
  margin: 0 0 20px 10px;
}

.createAccount .Promo {
  float: right;
  margin-right: 25px;
}

.createAccount .Label {
  padding: 3px 5px 0 3px;
  width: 150px;
  float: left;
  text-align: right;
}

.createAccount .Box {
  position: relative;
  margin-bottom: 10px;
}

.createAccount .gwt-TextBox, .createAccount .gwt-PasswordTextBox {
  width: 175px;
}

.createAccount .Tip {
  background: url(/images/ui/tip_balloon_opaque.png) no-repeat;
  position: absolute;
  width: 250px;
  height: 55px;
  vertical-align: middle;
  font-size: 12px;
  color: #23678E;
}

.createAccount .Tip td {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 25px;
  padding-right: 10px;
}

.createAccount .Status {
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
}

.createAccount .dateFields div {
  color: #FFFFFF;
}

.createAccount .roundBox .tipLabel {
  width: 100px;
}

.createAccount .gwt-TextBox, .createAccount .gwt-PasswordTextBox, .createAccount .gwt-ListBox {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #1D5884;
  border: solid #5c5d61 1px;
}

.createAccount .AdWordsFrame {
  width: 100%;
  border: 0px inset;
}

/* ------------------------------------
   LOGON PAGE
-------------------------------------*/

.logonPagePanel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 0px 10px 10px 20px;
}

.logonPagePanel .Header {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0px 15px;
}

.logonPagePanel .Button {
  margin: 0px 15px 15px 85px;
}

.logonPagePanel .rightLabel {
  padding: 3px 3px 0 0;
}

.logonPagePanel .gwt-TextBox,
.logonPagePanel .gwt-PasswordTextBox {
  width: 175px;
  height: 20px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #1D5884;
  border: solid #5c5d61 1px;
}

/* ------------------------------------
   WELCOME / COINS PAGE
-------------------------------------*/

.welcome {
  background: url(/images/ui/gradient_bg.jpg) repeat-x top  #63ABD3;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 10px;
}

.welcome div {
  text-align: center;
}

.welcome table {
  margin-left: auto;
  margin-right: auto;
}

.welcome .Box {
  color: #80BEEF;
  text-align: center;
}

.welcome .Box .Title {
  font-size: 28px;
  color: white;
}

.welcome .Bits .Title {
  color: #2C7EA4;
  text-align: center;
}

.welcome .Bits .Explain {
  font-size: 24px;
  color: #194960;
}

.welcome .Bits .HowMuchArrow {
  padding-left: 30px;
}

.welcome .Tip {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #165882;
  padding-top: 5px;
  text-align: left;
}

.welcome .FreeTitle {
  font-size: 20px;
  color: white;
}

.welcome .FreeTitle .Free {
  font-size: 24px;
}

.welcome .Next .Title { 
  font-size: 18px;
  color: #1B5982;
}

.welcome .Next .NextArrow { 
  padding-right: 10px;
}

.optout .Header {
  font-weight: bold;
  font-size: 18px;
}
