/**
 * $Id$
 */

.mapApp {
    backgroundAlpha: 0;
}

.mapCanvas {
    horizontalAlign: center;
    horizontalCenter: 0;
}

.mapTitle {
    textAlign: left;
    color: #000000;
    fontSize: 16px;
    fontFamily: Georgia;
    fontAntiAliasType: true;
}

.mapEntry {
    paddingTop: 2px;
    paddingBottom: 2px;

    color: #606060;
    textAlign: left;
    fontFamily: Arial;
    fontAntiAliasType: true;
}

.mapLogo {
}

.mapName {
    fontSize: 16px;
    textDecoration: underline;
    fontAntiAliasType: true;
}

.mapPopulation {
    fontSize: 14px;
    fontAntiAliasType: true;
}

.mapHomeBits {
    horizontalGap: 2px;
    verticalAlign: middle;
}

.mapHomeSpacer {
}

.mapHomeText {
    color: #000000;
    fontSize: 16px;
    fontFamily: Georgia;
    fontAntiAliasType: true;
}

.mapHomeIcon {
    backgroundImage: Embed(source="menu_home.png");
    backgroundSize: "100%";
}
