/** Make GWT display some sensible defaults. */

.gwt-TabBar .gwt-TabBarItem {
   border: 1px solid;
   padding: 5px;
   background: #FFCC99;
}

.gwt-TabBar .gwt-TabBarItem-selected {
   border: 2px solid;
   background: #CCFF99;
}

.gwt-TabPanel .Bottom { 
   border: 1px solid;
   background: #CCFF99;
   padding: 5px;
}

.itemPopup {
   border: 2px solid red;
   background: brown;
   padding: 5px;
}

.itemDetailErrors {
   font-weight: bold;
   background: brown;
}

.headerRow {
   font-style: italic;
   background: #7B3F00;
}

.dataRow {
   background: #6F4242;
}
