/** Make GWT display some sensible defaults. */

.gwt-TabBar .gwt-TabBarItem {
   border: 1px solid;
   padding: 5px;
   background: #CCCCFF;
}

.gwt-TabBar .gwt-TabBarItem-selected {
   border: 2px solid;
   background: #6699CC;
}

.gwt-TabPanel .Bottom { 
   border: 1px solid;
   background: #CCFF99;
   padding: 5px;
}

.itemPopup {
   border: 2px solid #0066FF;
   background: #6699CC;
   padding: 5px;
}

.itemDetailErrors {
   font-weight: bold;
   background: #FFFFFF;
}

.headerRow {
   font-style: italic;
   background: #6699CC;
}

.dataRow {
   background: #99CCFF;
}
