.item_editor_title {
   font-weight: bold;
}

.item_editor_button {
   font-weight: bold;
}

.inventory_item { 
   border: 1px solid;
}

.inventory_contents { 
   border: 1px solid;
   padding: 10px;
   margin-bottom: 10px;
}

.item_thumb_image {
  border: 1px solid;
  padding: 5px;
}

.item_thumb_text {
  font-size: small;
}
