.mailApp {
    background: #99CCFF;
    width: 100%;
}

.mailFolders {
    background: #6699CC;
    width: 10ex;
    padding: 5px;
}

.mailFolderName {
}

.mailFolderName-unread {
    font-weight: bold;
}

.mailHeaders {
    background: #6699CC;
    width: 100%;
}

.mailMessage {
    background: #6699CC;
    width: 100%;
    padding: 5px;
}

.mailMessageHeaders {
    width: 100%;
    padding: 5px;
}

.mailMessageButtons {
    padding: 5px;
}

.mailMessagePanel {
    padding: 5px;
}

.mailRow {
    padding: 3px;
}

.mailRow-unread {
    padding: 3px;
    font-weight: bold;
}

.mailRowSubject {
}

.mailRowSender {
    width: 10ex;
}

.mailRowDate {
    width: 6ex;
}


.mailComposition {
    background: #99CCFF;
    border: 1px solid black;
}

.mailCompositionHeaders {
    background: #6699CC;
    padding: 5px;
    width: 100%;
}

.mailCompositionButtons {
    background: #6699CC;
    padding: 5px;
    width: 100%;
}

.mailCompositionBody {
    background: #6699CC;
    padding: 10px;
}
