<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Adobe AIR</string>
	<key>CFBundleGetInfoString</key>
	<string>Adobe AIR 1.0 Beta 3</string>
	<key>CFBundleIconFile</key>
	<string>Adobe AIR</string>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.AIR</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.6</string>
	<key>CFBundleVersion</key>
	<string>1.0.6.4000</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2007 Adobe Systems Inc.</string>
</dict>
</plist>
