/**
 * $Id$
 */

.friendBar {
  background: url(/images/facebook/friend_bar_background.png);
  font-family: Arial, Helvetica, sans-serif;
  width: 760px;
  height: 189px;
}

.friendBar .title {
  width: 760px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding-top: 3px;
}

.friendBar .fbscrollLeft {
  left: 12px;
  top: 98px;
}

.friendBar .fbscrollRight {
  right: 12px;
  top: 98px;
}

.friendBar .friendInfo {
  top: 34px;
}

.friendBar .friendInfo[column="1"] {
  left: 60px;
}

.friendBar .friendInfo[column="2"] {
  left: 167px;
}

.friendBar .friendInfo[column="3"] {
  left: 274px;
}

.friendBar .friendInfo[column="4"] {
  left: 381px;
}

.friendBar .friendInfo[column="5"] {
  left: 488px;
}

.friendBar .friendInfo[column="6"] {
  left: 595px;
}

.friendInfo {
  font-size: 9px;
  text-align: center;
  width: 104px;
  height: 146px;
  white-space: nowrap;
  overflow: hidden;
  padding: 1px;
}

.friendInfoOdd {
  background: url(/images/facebook/friend_background_odd.png) no-repeat;
}

.friendInfoEven {
  background: url(/images/facebook/friend_background_even.png) no-repeat;
}

.friendInfoEmpty {
  background: url(/images/facebook/friend_background_empty.png) no-repeat;
}

.friendInfo .Name {
  width: 104px;
  height: 20px;
  font-size: 12px;
  color: #FFFFFF;
  padding-top: 2px;
  left: 0px;
}

.friendInfo .Rank {
  width: 25px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  right: 0px;
  padding-top: 2px;
}

.friendInfo .Photo {
  width: 50px;
  height: 50px;
  top: 24px;
  left: 27px;
}

.friendInfo .Level {
  width: 104px;
  height: 11px;
  font-size: 9px;
  color: #3b5998;
  bottom: 61px;
  left: 0px;
}

.friendInfo .thumbBox {
  position: absolute;
  left: 32px;
  bottom: 25px;
}

.friendInfo .Trophies {
  width: 22px;
  height: 11px;
  font-size: 9px;
  color: #3b5998;
  right: 1px;
  bottom: 23px;
}

.friendInfo .TrophyIcon {
  background: url(/images/facebook/trophy.png) no-repeat;
  width: 17px;
  height: 11px;
  right: 22px;
  bottom: 24px;
}

.friendInfo .Game {
  width: 104px;
  height: 20px;
  font-size: 12px;
  color: black;
  bottom: 1px;
  left: 0px;
  text-align: center;
}

.friendInfo .RankIcon {
  background-repeat: no-repeat;
  width: 21px;
  height: 28px;
  right: 3px;
  top: 1px;
}

.friendInfo .RankIcon[gamerank="1"] {
  background-image: url(/images/facebook/medal_1.png)
}

.friendInfo .RankIcon[gamerank="2"] {
  background-image: url(/images/facebook/medal_2.png)
}

.friendInfo .RankIcon[gamerank="3"] {
  background-image: url(/images/facebook/medal_3.png)
}

.friendInfo .InviteButton {
  background: url(/images/facebook/friend_bar_invite.png) no-repeat;
  bottom: 42px;
  left: 13px;
  width: 79px;
  height: 30px;
}

.friendInfo .InviteButton-up-hovering, .friendInfo .InviteButton-down-hovering {
  background-position: 0 -30px;
  cursor: pointer;
}

.friendInfo .InviteTip {
  width: 98px;
  height: 34px;
  bottom: 4px;
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
  white-space: normal;
}

