/**
 * $Id$
 */

.friendBar {
  background: url(/images/facebook/friend_bar_background.png);
  font-family: Arial, Helvetica, sans-serif;
  width: 760px;
  height: 189px;
}

.friendBar .title {
  position: absolute;
  width: 760px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding-top: 3px;
}

.friendBar .FriendBarTable {
  position: absolute;
  top: 30px;
  width: 100%;
}

.friendBar .FriendBarTable .FriendCell {
  width: 105px;
  height: 146px;
  overflow: hidden;
  white-space: nowrap;
}

.friendBar .FriendBarTable .NavCell {
  width: 8%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.friendInfo {
  font-size: 9px;
  text-align: center;
  width: 104px;
  height: 146px;
  white-space: nowrap;
  overflow: hidden;
  padding: 1px;
}

.friendInfoOdd {
  background: url(/images/facebook/friend_background_odd.png) no-repeat;
}

.friendInfoEven {
  background: url(/images/facebook/friend_background_even.png) no-repeat;
}

.friendInfoEmpty {
  background: url(/images/facebook/friend_background_empty.png) no-repeat;
}

.friendInfo .Name {
  position: absolute;
  width: 104px;
  height: 20px;
  font-size: 12px;
  color: #FFFFFF;
  padding-top: 2px;
}

.friendInfo .Rank {
  position: absolute;
  width: 25px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  right: 0px;
  padding-top: 2px;
}

.friendInfo .Photo {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 24px;
  left: 16px;
}

.friendInfo .Coins {
  position: absolute;
  width: 32px;
  height: 11px;
  font-size: 9px;
  color: #3b5998;
  right: 1px;
  bottom: 74px;
}

.friendInfo .CoinIcon {
  background: url(/images/facebook/coin_stack.png) no-repeat;
  position: absolute;
  width: 16px;
  height: 11px;
  right: 32px;
  bottom: 75px;
}

.friendInfo .thumbBox {
  position: absolute;
  left: 16px;
  bottom: 25px;
}

.friendInfo .Trophies {
  position: absolute;
  width: 22px;
  height: 11px;
  font-size: 9px;
  color: #3b5998;
  right: 1px;
  bottom: 23px;
}


.friendInfo .TrophyIcon {
  background: url(/images/facebook/trophy.png) no-repeat;
  position: absolute;
  width: 17px;
  height: 11px;
  right: 22px;
  bottom: 24px;
}

.friendInfo .Game {
  position: absolute;
  width: 104px;
  height: 20px;
  font-size: 12px;
  color: black;
  bottom: 1px;
  left: 0px;
  text-align: center;
}

.friendInfo .RankIcon {
  position: absolute;
  background-repeat: no-repeat;
  width: 21px;
  height: 28px;
  right: 3px;
  top: 1px;
}

.friendInfo .RankIcon[gamerank="1"] {
  background-image: url(/images/facebook/medal_1.png)
}

.friendInfo .RankIcon[gamerank="2"] {
  background-image: url(/images/facebook/medal_2.png)
}

.friendInfo .RankIcon[gamerank="3"] {
  background-image: url(/images/facebook/medal_3.png)
}

.friendInfo .InviteButton {
  background: url(/images/facebook/friend_bar_invite.png) no-repeat;
  position: absolute;
  bottom: 42px;
  left: 13px;
  width: 79px;
  height: 30px;
}

.friendInfo .InviteButton-up-hovering, .friendInfo .InviteButton-down-hovering {
  background: url(/images/facebook/friend_bar_invite_over.png) no-repeat;
  cursor: pointer;
}

.friendInfo .InviteTip {
  position: absolute;
  width: 98px;
  height: 34px;
  bottom: 4px;
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
  white-space: normal;
}

