#
# $Id$
#
# Configuration for the Whirled build

#
# Where to find the Flex 3 SDK (absolute path or relative to project root)

flexsdk.dir = flex3

#
# Indicates whether or not GWT should build OBFuscated or PRETTY JavaScript. We
# always use OBF in dev and production builds, but sometimes this can aid in
# tracking down a bug that only happens in browser.

gwt_style = OBF
# gwt_style = PRETTY
