#
# $Id$
#
# Configuration for a MetaSOY! burl server installation

#
# Is this a development deployment?

dev_deployment = true

#
# The hostname used by the client to connect to the game server

server_host = game.whirled.com

#
# The directory from which the server is run. Used to put log files in the
# proper location and things like that.

server_root = /export/msoy

#
# The world and game servers will auto restart if code changes (used on dev server)

world_server_will_auto_restart = false

#
# The default database mapping; all other definitions will inherit from
# this and need only be specified in cases where they differ from the
# defaults

db.default.driver = com.mysql.jdbc.Driver
db.default.url = jdbc:mysql://DBHOST:3306/msoy?useServerPrepStmts=false
db.default.username = USERNAME
db.default.password = PASSWORD

# Keys for operating bureau launchers

# bureau_secret = you can't guess this
# window_secret = only the computer knows

# Maximum kilobytes to allow a single bureau process to output in one log rolling period
# (usually one day, configured by relevant log4j properties file)
max_log_kb = 10240

# Number of minutes between summary posts to both the bureau launcher log and the bureau
# log. This keeps the logs rolling over and summarizing on a regular basis.
summary_interval_mins = 30
