# TODO: auto-generate this file from data in server.properties; when it comes
# to config files "There Can Be Only One"

hibernate.dialect org.hibernate.dialect.MySQLDialect
#hibernate.dialect org.hibernate.dialect.MySQLInnoDBDialect
#hibernate.dialect org.hibernate.dialect.MySQLMyISAMDialect
hibernate.connection.driver_class com.mysql.jdbc.Driver
hibernate.connection.url jdbc:mysql://localhost:3306/msoy
hibernate.connection.username USERNAME
hibernate.connection.password PASSWORD

hibernate.show_sql true
hibernate.format_sql true

hibernate.hbm2ddl.auto create-drop
hibernate.cache.provider_class org.hibernate.cache.HashtableCacheProvider
