#
# $Id$
#
# Configuration for a MetaSOY! server installation

#
# Is this a development deployment?

dev_deployment = true

#
# The public URL that should be used to access this Whirled installation. This
# URL *must* end in a slash.

# server_url = http://www.whirled.com/

#
# The hostname used by the client to connect to the game server

server_host = game.whirled.com

#
# The port on which the world server listens to Flash's socket policy requests.

socket_policy_port = 47623

#
# The port on which the server listens for client and HTTP connections.

server_ports = 47624
http_port = 8080

#
# The lowest port on which to host game server instances; ports above this port
# may also be used if multiple game servers are running at the same time

game_server_port = 47630

#
# A regular expression used to extract the node id from our hostname. In
# production we use this instead of explicit node names to determine our node
# id and name. Developer installations should leave this commented out.

# host_node_pattern = whirled([0-9]+).luna.threerings.net

#
# A pattern used to generate the server_host value for nodes based on their
# node id using printf-style formatting. In production we would use:
#
# server_host_pattern = whirled%d.whirled.com
#
# A developer installation should leave this value commented out.

# server_host_pattern = whirled%d.whirled.com

#
# If uncommented, this value will be used to adjust the server_ports, http_port
# and game_server_port settings for each node by adding this offset and the
# node's id to the default values for those configurations like so:
#
# node_value = default_value + node_port_offset + node_id
#
# So if you set http_port to 8080 and node_port_offset to -1 then:
#
# msoy1.http_port = 8080 (default) + -1 (offset) + 1 (node id) = 8080
# msoy1.http_port = 8080 (default) + -1 (offset) + 2 (node id) = 8081
# etc.
#
# The same goes for the server_ports values and the game_server_port value.
# This is only useful for local developer's deployments where they run multiple
# servers on the same machine.

# node_port_offset = -1

#
# If this server is running as a part of a cluster, this value should be set to
# a shared secret that will be used to authenticate with other servers in the
# cluster. If it is left commented out, the server will run standalone.

# server_secret = Is it secret? Is it safe?

#
# The directory from which the server is run. Used to put log files in the
# proper location and things like that.

server_root = /export/msoy

#
# Whether or not to log HTTP requests to log/access_NODE.log.yyyy_mm_dd

# log_http_requests = false

#
# Auto-restart server if code changes (used on dev server)

# auto_restart = false

#
# Configures the group used to determine who is eligible for issue assignment

# issue_group_id = 0

#
# Configures the group used for global announcements

# announce_group_id = 0

#
# Defines the directory into which uploaded media will be stored (in addition
# to S3, if that is enabled) and the URL from which media will be downloaded.
# These URLs *must* end in a slash.

media_dir = /export/msoy/pages/media
media_url = http://localhost:8080/media/
static_media_url = http://localhost:8080/media/static/

#
# S3-backed media storage configuration.

# media_s3enable = true
# media_s3bucket = media.whirled.com
# media_s3id = AWS ID
# media_s3key = SECRET KEY

#
# This is where ToyBox looks for uploaded game jar files

toybox.resource_dir = /export/msoy/pages/media

#
# The class name of a Depot cache adapter to use. If this value is not supplied
# no caching is done.

# depot.cache.adapter = com.samskivert.jdbc.depot.EHCacheAdapter

#
# Whether or not to lazily initialize our persistent records.

# depot.lazy_init = true

#
# The default database mapping; all other definitions will inherit from
# this and need only be specified in cases where they differ from the
# defaults

db.default.driver = com.mysql.jdbc.Driver
db.default.url = jdbc:mysql://DBHOST:3306/msoy?useServerPrepStmts=false
db.default.username = USERNAME
db.default.password = PASSWORD

#
# Bits for the OOO authenticator

oooauth.login_url = /register/register.wm?from=%R
oooauth.access_denied_url = /register/access_denied.wm

#
# Facebook Application configuration

# facebook.api_key =
# facebook.secret =

#
# Connection details for the event log server. The spool directory is relative
# to the server_root unless it starts with /.

# event_log_host = logdb.whirled.com
# event_log_port = 47615
# event_log_username = username
# event_log_password = password
# event_log_spool_dir = run

#
# Jabber component configuration
#
# jabber.host = localhost
# jabber.port = 5275
# jabber.secret = secret
# jabber.gateways = aim,msn,yahoo,icq

#
# Keys for accessing the reCAPTCHA verification service

# recaptcha_public = RECAPTCHA_PUBLIC_KEY
# recaptcha_private = RECAPTCHA_PRIVATE_KEY

# Keys for operating bureau launchers

local_bureaus = true
# bureau_secret = you can't guess this
# window_secret = only the computer knows
