/**
 * $Id$
 *
 * CSS styles for the (shared) Item editor interfaces.
 */

.itemEditor {
  background-color: #195f85;
  min-height: 100%;
  width: 100%;
}

.itemEditor .RoundedTop {
  padding-top: 15px;
  margin: auto;
}

.itemEditor .Header {
  width: 670px;
  height: 80px;
  margin: auto;
  background-color: #ffffff;
}

.itemEditor .Header .Title {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #154D72;
  font-size: 24px;
}

.itemEditor .Header .WikiLink {
  font-size: 15px;
  text-align: right;
  width: 400px;
}
.itemEditor .Header .WikiLink,
.itemEditor .Header .WikiLink a {
  color: #779AB0;
}

.itemEditor .Header .Blurb {
  font-size: 13px;
  width: 620px;
}
.itemEditor .Header .Blurb,
.itemEditor .Header .Blurb a {
  color: #154D72;
}

.itemEditor .Content {
  margin: auto;
  width: 670px;
  background-color: #ffffff;
  padding: 10px;
}

.itemEditor .RoundedBottom {
  padding-bottom: 10px;
  margin: auto;
}

.itemEditor .ItemPreview {
  background-image: url(/images/item/detail_preview_bg.png);
  width: 160px;
  height: 120px;
  border: 1px solid #000000;
}
