/**
 * $Id$
 *
 * CSS styles used by our top-level frame and header.
 */

/* ------------------------------------
   HEADER
-------------------------------------*/

.frameHeader {
  color: #EAEFF1;
  background: #000000;
  height: 50px;
}

.frameHeader .Logo .gwt-Image {
  width: 126px;
}

.frameHeader .NaviButton {
  height: 32px;
  margin-left: 0px;
  margin-right: 4px;
  padding-top: 18px;
}

.frameHeader .Right {
  background: url(/images/header/header_right.png) no-repeat right;
  width: 100%;
  vertical-align: bottom;
}

.frameHeader .Button {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0px;
  height: 30px;
}

.frameHeader .LogonButton {
  background: url(/images/header/logon_button.png) no-repeat bottom;
  width: 129px;
}

.frameHeader .SignupButton {
  background: url(/images/header/signup_button.png) no-repeat bottom;
  width: 155px;
}

.frameHeader .LogonButton-up-hovering, .frameHeader .LogonButton-down-hovering,
.frameHeader .SignupButton-up-hovering, .frameHeader .SignupButton-down-hovering {
  padding-top: 10px;
  cursor: pointer;
}

/* ------------------------------------
   HEADER STATUS PANEL
-------------------------------------*/

.statusPanel {
  padding-right: 40px;
}

.statusPanel .InviteFriends {
  width: 89px;
  height: 21px;
  background-image: url(/images/header/status_invite_friends.png);
}

.statusPanel .InviteFriends-up-hovering,
.statusPanel .InviteFriends-down-hovering {
  background-image: url(/images/header/status_invite_friends_over.png);
}

.statusPanel .TopBoxLinks {
  background: url(/images/header/status_bg_middle.png) repeat-x top;
  color: #a8cbe8;
  height: 23px; /* plus padding = 27 */
  padding: 4px 5px 0 5px;
  font-size: 12px;
  white-space: nowrap;
  margin-bottom: 4px;
}
.statusPanel .TopBoxLinks a {
  color: #a8cbe8;
}

.statusPanel .TopBoxLinks .Mail img {
  margin-right: 3px;
}

.statusPanel .Name,
.statusPanel .Name a {
  color: #bddbf4;
}

.statusPanel .TopBoxLinks .Spacer {
  color: #4378a6;
  margin: 0 5px;
}

.statusPanel .Levels {
  color: #AAB5B9;
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin-left: 110px;
}

.statusPanel .Levels .Coins,
.statusPanel .Levels .Bars,
.statusPanel .Levels .Level {
  margin-left: 15px;
  cursor: pointer;
}

.statusPanel .Levels .gwt-Label {
  margin-left: 3px;
  padding-top: 2px;
}

.statusPanel .Levels .Coins:hover,
.statusPanel .Levels .Bars:hover,
.statusPanel .Levels .Level:hover {
  text-decoration: underline;
}

.statusPanel .Levels div.BuyBars {
  font-size: 10px;
  color: #f3a613;
  padding-left: 5px;
  font-weight: normal;
}

/* ------------------------------------
   PAGE STYLES
-------------------------------------*/

.pageIFrame {
  border: none;
  background: #FFFFFF;
}

.pageTitle {
  background: #000000 url(/images/header/titlebar.png) no-repeat bottom left;
}

.pageTitle .Title {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  height: 34px;
  color: white;
  white-space: nowrap;
  max-width: 300px;
  overflow: hidden;
  opacity: 0.6; /* Firefox and Safari */
  filter: alpha(opacity=60); /* IE */
}

.pageTitle .SubNavi {
  font-size: 12px;
  color: white;
  white-space: nowrap;
  vertical-align: bottom;
  text-align: right;
  padding: 0px 5px 5px 0px;
}

.pageTitle .SubNavi a {
  color: white;
}

.pageTitle .SubNavi img, .pageTitle .SubNavi div {
  display: inline;
  vertical-align: bottom;
}

.pageTitle .Close {
  padding-bottom: 12px;
  padding-left: 5px;
}

/** Home icon shown when we have no client */
.noclient {
  padding-top: 200px;
}

.noclient .Bits {
  display: table;
  margin: auto;
  text-align: center;
  color: #999999;
}

/* ------------------------------------
   BROWSER TEST DIALOG
-------------------------------------*/

.browserTest {
  z-index: 10;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  text-align: left;
}

.browserTest .Message {
  background: url(/images/landing/browser_test_bg.png) no-repeat top center;
  width: 576px;
  height: 138px; /* 218 minus 80 padding */
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 40px;
  color: #000000;
}

.browserTest .Message .Center {
  padding: 15px;
}

.browserTest .Title {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #3e6f98;
}

.browserTest .actionLabel {
  float: left;
  margin-top: 15px;
  margin-right: 10px;
}
