body {
  font-size: small;
  font-family: sans-serif;
}

a:link {text-decoration: none;}
a:hover {text-decoration: underline;}
a:visited {text-decoration: none;}

ul {
  list-style-type: none;
  padding: 2px 0px;
}

ul.events {
  font-weight: bold;
}

ul.methods {
  font-weight: normal;
}

ul.subcontrols {
  font-weight: normal;
}

p.ctrlhdr {
  background: #D0D0D0;
  width: 100%;
  padding: 1px 3px;
  margin: 1px 0px;
}
