body {
  font-size: small;
}

ul {
  padding-left: 15px;
}

.events {
  list-style-type: square;
  font-weight: bold;
}

.methods {
  list-style-type: circle;
  font-weight: normal;
}

.subcontrols {
  list-style-type: disc;
  font-weight: bold;
}
