/**
 * $Id$
 *
 * Styles for notifications pages.
 */

.notifications, .notifications .Absolute {
  width: 758px;
  height: 78px;
}

.notifications {
  border: 1px solid gray;
}

.notifications .Close {
  width: 16px;
  height: 16px;
  right: 8px;
  top: 8px;
  background: url(/images/facebook/notifications_close.png) no-repeat;
}

.notifications .Close-up-hovering, .notifications .Close-down-hovering {
  background-position: 0px -16px;
}

.notifications .Cycle {
  width: 16px;
  height: 16px;
  right: 26px;
  top: 8px;
  background: url(/images/facebook/notifications_cycle.png) no-repeat;
}

.notifications .Cycle-up-hovering, .notifications .Cycle-down-hovering {
  background-position: 0px -16px;
}

.notifications .notification {
  height: 74px;
  width: 686px;
  left: 2px;
  top: 2px;
}

.notifications .easyButton {
  width: 120px;
  height: 20px;
  left: 555px;
  background-color: #d8dfea;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  padding-top: 4px;
}

.notifications .easyButton-up-hovering, .notifications .easyButton-down-hovering {
  background-color: #aeb4bd;
  text-decoration: underline;
}

.notifications .easyButton[slot="1"] {
  top: 10px;
}

.notifications .easyButton[slot="2"] {
  top: 25px;
}

.notifications .easyButton[slot="3"] {
  top: 40px;
}

.notifications .Bookmark .Reminder {
  width: 525px;
  font-size: 14px;
  font-weight: bold;
  top: 15px;
  left: 15px;
}

.notifications .PublishTrophy .Thumbnail {
  left: 15px;
}

.notifications .PublishTrophy .Tip {
  width: 455px;
  font-size: 14px;
  font-weight: bold;
  top: 15px;
  left: 85px;
}

