/**
 * Styles for Account pages.
 */

/* ------------------------------------
   CREATE ACCOUNT
-------------------------------------*/

.createAccount {
  background: #89c6e3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  min-width: 100%;
  min-height: 100%;
}

.createAccount, .createAccount a, .createAccount .actionLabel {
  color: #d0e6f7;
}

.createAccount .Content {
  background: url(/images/account/create_bg_mid.png) #287099 no-repeat bottom;
  margin: 0 auto;
  width: 657px;
}

.createAccount .logonPanel {
  margin: 0 0 0 10px;
}

.createAccount .Intro {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 10px;
}

.createAccount .Coins {
  margin: 0 0 10px 10px;
}

.createAccount .register {
  margin-left: 40px;
}

/*.createAccount .gwt-TextBox, .createAccount .gwt-PasswordTextBox {
  width: 175px;
}*/

.createAccount .gwt-TextBox, .createAccount .gwt-PasswordTextBox, .createAccount .gwt-ListBox {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #1D5884;
  border: solid #5c5d61 1px;
}

/* ------------------------------------
   EDIT ACCOUNT
-------------------------------------*/

.editAccount .Header {
  font-weight: bold;
}

.editAccount .rightLabel {
  width: 140px;
}

.editAccount .Tip {
  font-size: 12px;
}

.editAccount .Info {
  font-size: 14px;
}

.editAccount .Warning {
  font-weight: bold;
  color: #990000;
}

.editAccount .FBLink img {
  margin: 0;
}

.editAccount .PermaName {
  font-weight: bold;
}

.editAccount .charityDescription {
  width: 400px;
  font-size: 12px;
}

/* ------------------------------------
   LOGON PAGE
-------------------------------------*/

.logonPagePanel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 0px 10px 10px 20px;
}

.logonPagePanel .Header {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0px 15px;
}

.logonPagePanel .Button {
  margin: 0px 15px 15px 85px;
}

.logonPagePanel .rightLabel {
  padding: 3px 3px 0 0;
}

.logonPagePanel .gwt-TextBox,
.logonPagePanel .gwt-PasswordTextBox {
  width: 175px;
  height: 20px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #1D5884;
  border: solid #5c5d61 1px;
}

/* ------------------------------------
   WELCOME / COINS PAGE
-------------------------------------*/

.welcome {
  background: url(/images/ui/gradient_bg.jpg) repeat-x top  #63ABD3;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 10px;
}

.welcome div {
  text-align: center;
}

.welcome table {
  margin-left: auto;
  margin-right: auto;
}

.welcome .Box {
  color: #80BEEF;
  text-align: center;
}

.welcome .Box .Title {
  font-size: 28px;
  color: white;
}

.welcome .Bits .Title {
  color: #2C7EA4;
  text-align: center;
}

.welcome .Bits .Explain {
  font-size: 24px;
  color: #194960;
}

.welcome .Bits .HowMuchArrow {
  padding-left: 30px;
}

.welcome .Tip {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #165882;
  padding-top: 5px;
  text-align: left;
}

.welcome .FreeTitle {
  font-size: 20px;
  color: white;
}

.welcome .Next .Title {
  font-size: 18px;
  color: #1B5982;
}

.welcome .Next .NextArrow {
  padding-right: 10px;
}

/* ------------------------------------
   OptOutPanel
-------------------------------------*/

.optout .Header {
  font-weight: bold;
  font-size: 18px;
}
