/** 
 * CSS styles for the Billing interfaces.
 */

/* -------------------------------
  BillingPanel
 --------------------------------- */

.billing {
  font-family: Helvetica, Arial, sans-serif;
  background: url(/images/ui/gradient_bg.jpg) repeat-x top  #63ABD3;
  min-height: 100%;
  padding: 0px 50px;
}

.billing .Header {
  padding-top: 15px;
}

.billing .Intro {
  width: 410px;
}

/* -------------------------------
  SubscribePanel
 --------------------------------- */

.subscribe .Features, .subscribe .GoBuy {
  color: #FFFFFF;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 16px;
}

.subscribe .roundBox {
  padding-top: 10px;
}

.subscribe .GoBuy {
  padding-right: 10px;
}

.subscribe .roundBox em {
  font-size: 20px;
  font-style: normal;
}

/* -------------------------------
  AboutBarsPanel
 --------------------------------- */
 
.aboutBars .Subscription,
.aboutBars .Methods {
  margin: 20px 0;
}

.aboutBars .SubscriptionStar {
  margin: 5px 0 0 0;
}

.aboutBars .SubscriptionText {
  margin: 0 15px;
  width: 525px;
  text-align: center;
  color: #0D496D;
}

.aboutBars .SubscriptionText a {
  color: #0D496D;
}

.aboutBars .MethodButtons {
  width: 550px;
  margin: 10px auto;
  cursor: pointer;
}

.aboutBars .stretchButton table {
  margin: 0 auto;
}

/* -------------------------------
  BillingIframePanel
 --------------------------------- */
 
.billingIframe {
  background: #C7E4F6 url(/images/billing/billing_content_bg.png) repeat-x center top;
  width: 100%;
  min-height: 100%;
}
