/**
 * CSS styles for the issues interfaces.
 */

.issuePanel {
  padding: 10px;
}

.issuePanel .Header {
  color: #000000;
  background: #FFFFFF;
  border: none;
  border-bottom: 1px solid #000000;
  font-weight: bold;
}

.issuePanel .Header .Column {
  width: 90px;
  font-size: 12px;
  vertical-align: bottom;
  white-space: nowrap;
  text-align: center;
}

.issuePanel .Header .Created {
  width: 80px;
  font-size: 12px;
  vertical-align: bottom;
  white-space: nowrap;
}

.issueSummaryPanel {
  width: 100%;
}

.issueSummaryPanel .Description {
  padding-left: 5px;
}

.issueSummaryPanel .Description a {
  text-decoration: none;
}

.issueSummaryPanel .Description a:hover {
  text-decoration: underline;
}

.issueSummaryPanel .Type {
  width: 30px;
}

.issueSummaryPanel .Owner {
  width: 90px;
  font-size: 12px;
  text-align: center;
}

.issueSummaryPanel .Created {
  width: 80px;
  font-size: 12px;
  padding: 2px 0px;
}

.ispPriority0 {
  background: #99CCFF;
}

.ispPriority10 {
  background: #FFFFCC;
}

.ispPriority20 {
  background: #FF9999;
}

.issueMessageLink {
  font-size: 12px;
  color: #999999;
  display: inline;
  margin-left: 5px;
}

.editIssuePanel .Title {
  font-weight: bold;
  font-size: 18px;
}

.editIssuePanel .Label, .editIssuePanel .SubTitle {
  font-weight: bold;
}

.editIssuePanel .Label {
  width: 90px;
  vertical-align: top;
}

.editIssuePanel .SubTitle {
  padding-top: 10px;
}

.editIssuePanel .gwt-TextArea, .editIssuePanel .gwt-TextBox {
  width: 575px;
}
