/**
 * Styles for Me pages.
 */

/* ------------------------------------
   ME / MY WHIRLED PAGE
-------------------------------------*/

.myWhirled {
  width: 100%;
}

.myWhirled .MustValidate {
  padding: 10px;
  border: 2px solid #FF0000;
  margin-bottom: 10px;
}

.myWhirled .MustValidate div {
  display: inline;
}

.myWhirled .NewsAndFriends {
  width: 665px;
  margin: 0 auto;
  padding: 10px 0px;
}

.myWhirled .RightBits {
  margin-left: 10px;
}

.myWhirled .RightBits .QuickNav {
  font-size: 12px;
  width: 182px;
}

.myWhirled .NewsBar {
  background: url(/images/me/me_news_title_bg.png) repeat-x bottom left;
  margin: 5px;
  padding: 5px;
  position: relative;
}

.myWhirled .NewsTitle {
  color: #216CA3;
  font-size: 20px;
}

.myWhirled .NewsLink {
  position: absolute; /* hackity hack */
  right: 0;
  font-size: 11px;
  top: 14px;
}

/* FeedBox also appears on profile; base styles in person.css */
.myWhirled .FeedBox {
  width: 470px;
}

.myWhirled .promoBox {
  width: 470px;
}

.myWhirled .FeedBox .FeedWidget {
  width: 463px;
}

.myWhirled .FeedBox .FeedCategoryHeader {
  font-size: 13px;
  padding: 10px 0 5px 0;
  background-color: #d8d8d8;
  color: #333333;
}

.myWhirled .FeedBox .FeedShowMore {
  margin-right: 10px;
  float: right;
}

.myWhirled .Newbie {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
}

.myWhirled .Newbie a {
  color: #777777;
}

.myWhirled .Newbie img {
  width: 75px;
}

.myWhirled .Stream {
}

.myWhirled .Stream .messagePanel .Scroller {
  width: 415px;
}

.myWhirled .Stream .Reply .Scroller {
  width: 370px;
}

.myWhirled .Stream .CommentsExpand, .myWhirled .Stream .CommentsLoading {
  width: 473px;
}

/* ------------------------------------

-------------------------------------*/

.meFriendsPanel {
  background: #7DB5DB url(/images/me/me_friends_header.png) no-repeat;
  width: 182px;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
}

.meFriendsPanel .Title {
  font-size: 15px;
  padding: 6px 0 1px 0;
}

.meFriendsPanel .TitleSub {
  color: #326383;
  font-size: 11px;
  margin-bottom: 15px;
}

.meFriendsPanel .GreeterTitleSub {
  padding: 15px 0 1px 0;
}

.meFriendsPanel .GreeterTitleSub, .meFriendsPanel .GreeterTitleSub a {
  color: #326383;
  font-size: 11px;
}

.meFriendsPanel .Invite img {
  margin: 10px auto;
}

.meFriendsPanel .Or {
  margin: 10px;
}

.meFriendsPanel .SearchTitle {
  font-size: 15px;
  margin-bottom: 5px;
}

.meFriendsPanel .Search input {
  margin: 0 5px 5px 10px;
}

.meFriendsPanel .FriendsList {
  width: 166px;
  padding: 3px;
  margin: hidden;
  text-align: left;
  background-color: #FFFFFF;
  margin-left: 5px;
  overflow: hidden;
}

.meFriendsPanel .PlaceName {
  color: #7d7d7d;
  font-weight: bold;
  padding: 10px 0 3px 0;
}

.meFriendsPanel .Member {
  font-size: 12px;
  padding-left: 5px;
  width: 100%;
}

.meFriendsPanel .Member .Photo {
  width: 40px;
}

.meFriendsPanel .Name a {
  color: #6DA8D2;
  padding-left: 4px;
}

/* ------------------------------------
   ROOMS PAGE
-------------------------------------*/

.myRooms {
  width: 100%;
}

.myRooms .Room {
  font-size: 12px;
  text-align: center;
}

/* ------------------------------------
   PASSPORT PAGE
-------------------------------------*/
.passport {
  background: #1d5883;
  width: 100%;
  min-height: 100%;
  padding-bottom: 5px;
}

.passport .NextPanel {
  background-image: url(/images/me/passport_header_bg.jpg);
  height: 252px;
  width: 678px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.passport .NextPanel .Description {
  padding-top: 10px;
  padding-right: 10px;
  font-size: 13px;
}

.passport .NextPanel .Icon {
  padding-top: 10px;
  padding-right: 10px;
}

.passport .NextPanel .NextHeader {
  padding-top: 10px;
}

.passport .NextPanel .NextHeaderContent {
  background-image: url(/images/me/passport_header_tile.png);
  width: 100%;
  height: 27px;
}

.passport .NextPanel .NextHeaderText {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding-left: 5px;
}

.passport .NextPanel .NextHeaderContent .gwt-Image {
  padding-right: 5px;
  padding-left: 5px;
}

.passport .NextPanel .NextBadgesPanel {
  background-image: url(/images/me/passport_box_tile.png);
  height: 144px;
  width: 652px;
}

.passport .NextPanel .NextBadgesPanel .BadgeDivider {
  padding-top: 5px;
}

.passport .headerBox {
  width: 673px;
  padding-left: 5px;
  padding-top: 10px;
}

.passport .headerBox .Contents {
  width: 100%;
}

.passport .headerBox .Contents .tongueBox {
  padding-top: 10px;
}

.passport .headerBox .Contents .EmptyLabel {
  width: 100%;
  text-align: center;
  font-style: italic;
}

.passport .SectionLinks {
  color: white;
  height: 19px;
  width: 670px;
  text-align: right;
  font-size: 12px;
  position: relative;
  padding-top: 12px;
}

.passport .SectionLink {
  display: inline;
  margin-top: 20px;
}

.passport .Instructions {
  display: inline;
  float: left;
  padding-left: 10px;
}

.passport .MedalDisplay {
  width: 211px;
}

.passport .MedalDisplay .AwardName {
  width: 109px;
}

.passport .MedalDisplay .AwardDescription, .passport .MedalDisplay .WhenEarned {
  width: 196px;
}

.passport .MedalContents .tongueBox .THeader .Base {
  cursor: pointer;
}

/* ------------------------------------
   BADGE DISPLAYS ANYWHERE
-------------------------------------*/
.awardDisplay {
  position: relative;
  width: 156px;
  height: 141px;
}

.awardDisplay .AwardIcon {
  position: absolute;
  left: 7px;
  top: 7px;
  margin-left: 0;
}

.awardDisplay .AwardName {
  position: absolute;
  left: 90px;
  top: 8px;
  width: 57px;
  color: #1c4c74;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
}

.awardDisplay .CoinReward {
  position: absolute;
  left: 90px;
  top: 48px;
  font-size: 12px;
  color: black;
}

.awardDisplay .CoinReward img {
  float: left;
  padding-top: 1px;
}

.awardDisplay .CoinReward div {
  float: left;
  padding-left: 3px;
}

.awardDisplay .AwardDescription {
  position: absolute;
  top: 69px;
  left: 7px;
  width: 142px;
  height: 43px;
  color: #4a7595;
  font-size: 12px;
  text-align: center;
}

.awardDisplay .WhenEarned, .awardDisplay .ProgressBar {
  position: absolute;
  top: 118px;
  left: 7px;
}

.awardDisplay .ProgressLabel {
  position: absolute;
  top: 118px;
  left: 31px;
}

.awardDisplay .WhenEarned {
  width: 142px;
  font-size: 12px;
  text-align: center;
}

.awardDisplay .ProgressBar .Fill {
  background-repeat: repeat;
}

.awardDisplay .GoButton {
  position: absolute;
  top: 118px;
  right: 7px;
}

.BoxedAward {
  border-color: #d6e8f6;
  border-style: solid;
  border-width: 1px;
  float: left;
  margin-left: 3px;
  margin-top: 3px;
}

.awardDisplay a.external {
  padding-right: 11px;
  color: #4a7595;
}

.awardDisplay .Delete {
  position: absolute;
  top: 46px;
  left: 90px;
  width: 109px;
  text-align: center;
  font-size: 12px;
}

.deleteConfirmation {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  background-color: white;
}

.deleteConfirmation .ButtonRow {
  display: inline;
}

.deleteConfirmation .Inner {
  padding: 10px;
}

/* ------------------------------------
   MONEY / TRANSACTIONS
-------------------------------------*/

.transactions .Blurb {
  width: 100%;
}

.transactions .Blurb .roundBox {
  margin-right: 15px;
}

.transactions .Blurb .roundBox .Center {
  width: 100%;
  text-align: center;
}

.transactions .Blurb .Billing {
  width: 200px;
}

.transactions .Blurb .BillingTip {
  font-size: small;
  text-align: center;
  padding-bottom: 5px;
}

.transactions .Blurb .BillingTip .orangeButton {
  margin: 10px auto 0px auto;
}

.transactions .Balance .row1 {
  background: #dbeffc;
}

.transactions .Balance .header {
  background: #ff992b;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.transactions .Balance .col1 { /* Description */
  width: 100%;
}

.transactions .Balance .col2, .Balance .col3, .Balance .col4 { /* Debit, credit, balance */
  text-align: right;
}

.transactions .Balance .ReportFilter {
  width: 50px;
  padding-right: 5px;
}

/* ------------------------------------
   BLING
-------------------------------------*/

.bling {
    font-size: 10pt;
}

.bling .header, .bling .warning {
    font-weight: bold;
}

.bling .Error {
    color: red;
}

.bling .Success {
    color: green;
}

/* ------------------------------------
   ALL CONTESTS PANEL
-------------------------------------*/

.contestsPanel {
  background: #61ABD0 url(/images/whirled/bg_gradient_long_blue.png) repeat-x;
  width: 100%;
  min-height: 100%;
}
.contestsPanel, .contestsPanel table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.contestsPanel .Header {
  width: 100%;
  height: 100px;
}

.contestsPanel .Header .Intro {
  color: #c1e1f2;
  width: 320px;
}

.contestsPanel .CurrentTitle,
.contestsPanel .PastTitle {
  background: url(/images/me/contests_dots_bg.png) repeat-x left bottom;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #114E73;
}

.contestsPanel .CurrentContests {
  margin: 0 15px;
}

.contestsPanel .PastContests {
  margin: 20px;
}

.contestsPanel .PastContest {
  color: #FFFFFF;
}
.contestsPanel .PastContest a {
  color: #FFFFFF;
}

/* ------------------------------------
  HALLOWEEN DESIGN YOUR WHIRLED CONTEST (OCT 2009)
-------------------------------------*/

.contestOctPanel {
  background: #000000 url(/images/me/contests/contest_halloween09_header.jpg) center top no-repeat;
  width: 100%;
  min-height: 100%;
}

.contestOctPanel, .contestOctPanel table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.contestOctPanel .Content {
  width: 634px;
  padding-top: 370px;
  margin: 0 auto;
}

.contestOctPanel .Content .roundBox {
  margin: 10px 0;
}

.contestOctPanel .Content .roundBox .Center {
  padding: 10px;
}

.contestOctPanel .Content p {
  margin: 10px 20px;
  line-height: 20px;
}

.contestOctPanel .Content .Title,
.contestOctPanel .Content .TitleAlt {
  font-size: 26px;
  font-weight: bold;
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  color: #ff752a;
  margin: 0 0 10px 0;
}

.contestOctPanel .Content .TitleAlt {
  color: #3595b7;
}
