/**
 * CSS styles for the Profile interfaces.
 */

.profile {
  width: 100%;
}

.profile .Error {
  padding: 15px;
  font-size: 18px;
}

.profile .ProfileTongue .TContent {
  padding: 0;
}

.profile .Profile {
  width: 100%;
}

.profile .Profile .Photo {
  margin: 15px 0px 10px 5px;
  text-align: center;
}

.profile .Profile .Photo a {
  padding-top: 5px;
  font-size: 12px;
}

.profile .Profile .Photo .thumbBox {
  margin: auto auto;
}

.profile .Profile .Photo .gwt-Hyperlink {
  display: block;
}

.profile .Profile .Info {
  margin: 10px 0px 0px 0px;
}

.profile .Profile .Details {
  padding: 0px 10px 0px 0px;
}

.profile .Profile .Details .Level {
  background: url(/images/profile/level_bg.png) top left no-repeat;
  width: 79px;
  height: 40px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-align: center;
  margin: 0px 0px 5px 105px;
  font-weight: bold;
}

.profile .Profile .Details .Level .Label {
  font-size: 10px;
}
.profile .Profile .Details .Level .Value {
  padding-left: 15px;
  font-size: 18px;
}

.profile .Profile .Buttons {
  margin: 2px 0px 10px 0px;
}

.profile .Profile .Buttons .actionLabel, .profile .Profile .Buttons a {
  font-size: 12px;
  color: #3382AD;
  white-space: nowrap;
}

.profile .Profile .Buttons img {
  padding-right: 3px;
  vertical-align: baseline;
}

.profile .Profile .Buttons .Link {
  margin-right: 15px;
}

.profile .Profile .Name {
  font-weight: bold;
  font-size: 20px;
}

.profile .Profile .Status {
  font-style: italic;
}

.profile .Profile .LesserInfo {
  font-size: 14px;
}

.profile .Profile .Status, .profile .Profile .Name, .profile .Profile .LesserInfo {
  max-width: 350px;
  overflow: hidden;
}

.profile .Profile .Detail {
  font-size: 14px;
  white-space: nowrap;
}

.profile .Interests {
  font-size: 12px;
}

.profile .Interests .Type {
  color: #7E7E7E;
  padding: 0px 70px 0px 30px;
  white-space: nowrap;
  vertical-align: top;
}

.profile .Interests .Editor {
  width: 400px;
}

.profile .Gallery {
  width: 100px;
  float: left;
}

.profile .Gallery .thumbBox {
  margin: auto;
}

.profile .Friend, .profile .Group, .profile .Gallery {
  text-align: center;
  font-size: 12px;
  padding: 5px;
}

.profile .Group div {
  margin-left: auto;
  margin-right: auto;
}

.profile .Wall {
  margin-left: 5px;
  margin-top: -10px;
}

.profile .Wall .messagePanel .Scroller {
  width: 580px;
}

.profile .Wall .Reply .Scroller {
  width: 535px;
}

.profile .Wall .CommentsPanel .commentControls {
  margin-top: 0;
}

.profile .Wall .CommentsExpand, .profile .Wall .CommentsLoading {
  width: 638px;
}

.profile .SimpleBadgeDisplay {
  width: 110px;
}

.profile .SimpleBadgeDisplay .BadgeName {
  font-size: 14px;
}

.profile .AwardBox {
  position: relative;
  border: 1px solid #bebebc;
  font-size: 12px;
  height: 66px;
  width: 272px;
}

.profile .AwardBox .Name {
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  color: #1c4c74;
  left: 88px;
  top: 6px;
}

.profile .AwardBox .Type {
  position: absolute;
  left: 88px;
  top: 24px;
}

.profile .AwardBox .WhenEarned {
  position: absolute;
  left: 88px;
  top: 42px;
}

.profile .AwardBox .Icon {
  position: absolute;
  left: 3px;
  top: 3px;
}

.profile .AwardPanel img {
  float: left;
  margin-right: 10px;
}

.ratingWidget {
  height: 44px;
}

.ratingWidget .GameThumb {
  width: 50px;
}

.ratingWidget .GameThumb img {
  margin-left: auto;
  margin-right: auto;
}

.ratingWidget .GameName {
  width: 210px;
}

.ratingWidget .Note {
  text-align: center;
  font-size: 12px;
}

.ratingWidget .Rating {
  width: 80px;
}

.memberWidget {
  padding: 5px 0px;
  width: 100%;
  height: 89px;
  font-size: 12px;
}

.memberWidget .Photo {
  width: 80px;
  height: 60px;
  vertical-align: middle;
  padding: 0px 10px;
}

.memberWidget .Name {
  padding-top: 2px;
  padding-bottom: 2px;
}

.memberWidget .Status {
  font-style: italic;
}

.memberWidget .Extras {
  width: 120px;
}

.memberWidget .SendMail {
  background-image: url(/images/profile/sendmail.png);
  width: 21px;
  height: 15px;
}

.memberWidget .Remove {
  background-image: url(/images/profile/remove.png);
  width: 17px;
  height: 17px;
}

.friendsPanel .headerBox, .searchPanel .headerBox, .greetersPanel .headerBox {
  margin-left: 10px;
  border-bottom: 10px solid white;
  width: 665px;
}

.searchControls {
  background: url(/images/people/header_bg.png) no-repeat top left;
  width: 679px;
  height: 79px;
  font-size: 14px;
  margin-bottom: 10px;
}

.searchControls .Action {
  width: 190px;
  padding-left: 165px;
  padding-top: 30px;
}

.searchControls .Title {
  font-size: 18px;
  color: white;
}

.searchControls .Tip, .searchControls .SeeGreeters a {
  font-size: 11px;
  white-space: nowrap;
  color: #B4E0F1;
}

/* -------------------------------
  RoomsPanel
 --------------------------------- */

.roomsPanel .Room .gwt-Image {
  margin: 0px; /* undo centering */
}

/* -------------------------------
  LinkToWhirledPanel
 --------------------------------- */

.linkToWhirled {
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.linkToWhirled .Title {
  background: url(/images/whirled/orange_header.png) no-repeat;
  width: 233px;
  height: 38px; /* 41 - padding */
  color: #FFFFFF;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 26px;
  text-align: center;
  padding-top: 3px;
  margin-bottom: 10px;
}

.linkToWhirled .ImageGridLabel {
  color: #3382AD;
  font-weight: bold;
  font-size: 14px;
  padding: 15px 0 5px;
}

.linkToWhirled .Instructions {
  width: 100%;
  padding: 15px 0 10px;
}

.linkToWhirled .LogoImagePanel {
  text-align: center;
}

.linkToWhirled .ImageGridCell {
  text-align: center;
  font-size: 1px;
  padding: 8px 0 8px;
}

.linkToWhirled .LogoImage {
  text-align: center;
  font-size: 1px;
  display: inline;
}

.linkToWhirled hr {
  color: #dfdfdf;
  background-color: #dfdfdf;
  width: 80%;
  height: 1px;
  border: none;
}

/* -------------------------------
  EmailListPanel
 --------------------------------- */

.emailListPanel {
  font-size: 12px;
}

.emailListPanel .WebMailControls .gwt-Image {
  margin-right: none;
}

.emailListPanel .Toggle {
  text-align: right;
  padding-bottom: 5px;
}

.emailListPanel .gwt-TextArea, .emailListPanel .gwt-TextBox {
  border: 1px solid #cccccc;
}

.emailListPanel .gwt-TextArea {
  width: 100%;
}

.emailListPanel .InviteList {
  width: 100%;
  border: 1px solid #316C94;
  background: #E9F6FB;
  margin-bottom: 5px;
}

.emailListPanel .InviteList .Header {
  height: 20px;
  color: #316C94;
  font-weight: normal;
  font-size: 12px;
  border: 0px;
  padding: 5px;
}

.emailListPanel .InviteList .Scroll {
  height: 130px;
  background: #FFFFFF;
  width: 100%;
}

.emailListPanel .InviteListTable {
  background: #FFFFFF;
  font-size: 12px;
  color: #316C94;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.emailListPanel .InviteListTable td {
  padding: 1px 5px;
}

.emailSupported {
  padding: 8px;
}

/* -------------------------------
  InvitePanel
 --------------------------------- */

.invitePanel {
}

.invitePanel .Intro {
  font-weight: bold;
  font-size: 14px;
}

.invitePanel .InviteVia {
  font-size: 18px;
  font-weight: bold;
}

.invitePanel .Bold {
  color: #2356bf;
  font-weight: bold;
  font-size: 14px;
}

.invitePanel .IM {
  font-size: 14px;
}

.invitePanel .IM .gwt-TextBox {
  border: 2px solid black;
  width: 100%;
}

.inviteHeader .Title {
  font-size: 16px;
}

.inviteResultsPopup .ScrollPanel {
  max-height: 300px;
  margin-bottom: 10px;
  text-align: left;
}

/* -------------------------------
  GameInvitePanel
 --------------------------------- */

.gameInvite {
  border: 10px solid white;
}

.gameInvite .Whirled {
  font-size: 12px;
}

.gameInvite .whirled .memberName {
  max-width: 165px; /* Overflow doesn't work without this */
  overflow: hidden;
  white-space: nowrap;
}

.gameInvite .labelparen {
  color: #303030;
  font-size: 10px;
  width: 90%;
}

/* -------------------------------
  FindFriendsPanel
 --------------------------------- */

.findFriends .Header {
  font-size: 12px;
}

/* -------------------------------
  ConfigureProfilePanel
 --------------------------------- */

.configProfile {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 15px;
}

.configProfile .Title {
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding: 0 0 15px 30px;
}

.configProfile .DynamicContent {
  padding: 20px 30px 30px 30px;
}

.configProfile .Instructions {
  font-size: 12px;
}

.configProfile .ConfigAndPreview {
  margin-top: 20px;
}

.configProfile .Config {
  width: 250px;
  height: 80px;
  margin: 30px 0 0 20px;
  font-weight: bold;
}

.configProfile .Config input {
  width: 100%;
}

.configProfile .PreviewContainer {
  position: relative;
  float: right;
  width: 288px;
  height: 145px;
  margin-right: 20px;
  background: transparent url(/images/people/confprof_preview_bg.png) center center no-repeat;
}

.configProfile .Preview .Name {
  font-size: 16px;
  font-weight: bold;
}

.configProfile .Preview {
  position: absolute;
  top: 35px;
  left: 19px;
  border: 1px solid;
  background-color: #FFFFFF;
}

.configProfile .stretchButton .orangeThick {
  font-size: 18px;
  margin: 25px auto 0 auto;
}
