/**
 * CSS styles for the Catalog interfaces.
 */

/* ------------------------------------
   MAIN SHOP PAGE
-------------------------------------*/

.shopPanel {
  width: 100%;
  min-height: 100%;
  background: #61abd0 url(/images/whirled/bg_gradient_long_blue.png) repeat-x;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.shopPanel .ShopTitle {
  background: url(/images/whirled/orange_header.png) no-repeat;
  width: 233px;
  height: 38px; /* 41 - padding */
  margin-left: 7px;
  color: #FFFFFF;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 26px;
  text-align: center;
  padding-top: 3px;
  margin-bottom: 10px;
}

.shopPanel .Search {
  position: absolute;
  top: 10px;
  left: 265px;
  background: url(/images/stuff/search_bg.png) no-repeat;
  width: 411px;
  height: 31px;
}

.shopPanel .Search .SearchTitle {
  color: #b8daf0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

.shopPanel .Search select,
.shopPanel .Search input {
  font-size: 13px;
}

.shopPanel .Intro {
  color: #9FB2C0;
  font-size: 14px;
  margin: 0 30px 10px 30px;
}

.shopPanel .Intro a {
  color: #9FB2C0;
  font-weight: bold;
}

.shopPanel .TopContents {
  width: 565px;
}

.shopPanel .roundBox {
  width: 100%;
}

.shopPanel .TopListingBox {
  font-size: 12px;
  border-top: solid 10px white;
  margin: 0px 10px;
  width: 145px;
}

.shopPanel .TopListingBox .Thumb {
  padding-left: 15px;
}

.shopPanel .TopListingBox .Ranking {
  font-size: 14px;
  width: 30px;
}

.shopPanel .TopListingBox .Name {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  width: 130px;
}

.shopPanel .Creator {
  color: #4C7799;
}

.shopPanel .FeatListingBox {
  font-size: 12px;
  border-top: solid 10px white;
  margin: 0px 10px;
}

.shopPanel .FeatListingBox .Name {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  max-width: 105px;
}

.shopPanel .FeatListingBox .Descrip {
  max-height: 85px;
  max-width: 115px;
  overflow: hidden;
}

.shopPanel .sideBar, .catalogPanel .sideBar, .favoritesPanel .sideBar {
  margin: 15px 15px 0px 0px;
}

.shopPanel .pagedGrid .Header .TopLeft {
  background: #0D496D url(/images/ui/grid_header_left.png) no-repeat left;
}

.shopPanel .pagedGrid .Header .TopRight {
  background: #0D496D url(/images/ui/grid_header_right.png) no-repeat right;
}

/* ------------------------------------
   SHOP CATEGORY PAGE
-------------------------------------*/

.catalogPanel {
  width: 100%;
  height: 100%;
  background: #61abd0 url(/images/whirled/bg_gradient_long_blue.png) repeat-x;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.listingGrid {
  background: white;
  width: 100%;
  margin-top: 5px;
}

.catalogPanel .sideBar .tagCloud {
  margin-left: 5px;
}

.catalogPanel .Listings {
  width: 560px;
}

.catalogPanel .Listings .Blurb {
  text-align: center;
  font-size: 14px;
  padding: 0px 15px;
}

.catalogPanel .Listings .Blurb, .catalogPanel .Listings .Blurb a {
  color: #9FB2C0;
}

.catalogPanel .Listings .Blurb a {
  font-weight: bold;
}

.catalogPanel .Listings .marquee {
  width: 260px;
  margin-bottom: 5px;
}

.buyRemixPanel {
  width: 300px;
  padding: 15px;
}

.catalogPanel .pagedGrid .miniNowLoadingWidget {
  background-image: url(/images/ui/dot_bluematte.gif);
}

.catalogPanel .pagedGrid, .favoritesPanel .pagedGrid {
  min-height: 307px;
}

.catalogPanel .pagedGrid .Header .SortBy {
  width: 50px;
  padding-right: 5px;
}

.catalogPanel .pagedGrid .Header .TopLeft, .favoritesPanel .pagedGrid .Header .TopLeft {
  background: #0D496D url(/images/ui/grid_header_left.png) no-repeat left;
}

.catalogPanel .pagedGrid .Header .TopRight, .favoritesPanel .pagedGrid .Header .TopRight {
  background: #0D496D url(/images/ui/grid_header_right.png) no-repeat right;
}

.listingDetailPanel .shortThickOrangeButton {
  margin-left: auto;
  margin-right: auto;
}

.listingDetailPanel .longThinOrangeButton {
  margin-left: auto;
  margin-right: auto;
}

.listingDetailPanel .Info {
  margin-left: auto;
  margin-top: 10px;
  font-size: x-small;
}

.listingDetailPanel .Info .What {
  text-align: right;
  padding-right: 5px;
}

.listingDetailPanel .Bought .itemActivator {
  padding: 10px;
}

.listingDetailPanel .Bought .Title {
  font-size: 18px;
  font-weight: bold;
}

.listingDetailPanel .messagePanel .Scroller {
  width: 585px;
}

.listingDetailPanel .Reply .Scroller {
  width: 540px;
}

.listingDetailPanel .CommentsExpand, .listingDetailPanel .CommentsLoading {
  width: 643px;
}

.listingDetailPanel .controls {
  margin-top: 10px;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
}

.favoritesPanel {
  height: 100%;
}

.favoritesPanel .pagedGrid {
  margin-top: 15px;
  width: 570px;
}

.favoritesPanel .pagedGrid .miniNowLoadingWidget {
  background-image: url(/images/ui/dot_bluematte.gif);
}

.nowLoadingWidget {
  color: white;
}
