/**
 * $Id$
 *
 * CSS styles for the Apps interfaces.
 */

 
.appsList {
}

.editApp .Header {
  width: 100%;
}

.editApp .Header .Title {
  color: #154D72;
}

.editApp .Title {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  white-space: nowrap;
}
