/**
 * $Id$
 *
 * CSS styles for the (shared) Item interfaces.
 */

.itemThumbnail {
  padding-left: 5px;
  width: 80px;
}

.itemThumbnail .Image {
  height: 60px;
  text-align: center;
  vertical-align: middle;
}

.itemThumbnail .Text {
  font-size: small;
  text-align: center;
}

.ratingText {
  font-size: 14px;
  font-weight: bold;
}

.favorite {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.favorite .gwt-ToggleButton {
  background: #FFFFFF;
}

.tagCloud {
  background: url(/images/item/top_tags.png) no-repeat top;
  font-size: 12px;
  width: 85px;
  height: 200px;
  padding-top: 36px;
}

.tagCloud .Link {
  padding: 0px 8px 4px 8px;
}

.itemDetailPanel .headerBox .Title {
  font-size: 18px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.itemDetailPanel .headerBox .Preview {
  background-image: url(/images/item/detail_preview_bg.png);
  padding: 10px;
}

.itemDetailPanel .headerBox .Rating {
  padding: 5px;
}

.itemDetailPanel .headerBox .Rating table {
  margin-left: auto;
  margin-right: auto;
}

.itemDetailPanel .Details {
  width: 320px;
  font-size: 14px;
  color: #3776A0;
}

.itemDetailPanel .Details a {
  color: #3776A0;
}

.itemDetailPanel .Description {
  width: 100%;
  color: #000000;
}

.itemDetailPanel .Extras {
  width: 100%;
  margin-top: 10px;
}

.itemDetailPanel .remixLabel {
  color: #56abd7;
  font-weight: bold;
  font-size: small;
}

.itemDetailPanel .gwt-Hyperlink {
  display: inline;
}

.itemDetailPanel .LabelLink {
 cursor: pointer;
 text-decoration: underline;
}

.tagDetailPanel {
  font-size: 12px;
}

.tagDetailPanel .Tags {
  padding-right: 10px;
}

.borderedDialog .tagDetailPanel .LabelLink {
  cursor: pointer;
  text-decoration: underline;
  color: white;
}

.itemSearchBox {
  width: 160px;
  margin-right: 5px;
}

.creatorContents {
  font-size: 9pt;
  text-align: left;
  font-weight: bold;
}

.itemActivator img {
  display: inline;
  vertical-align: bottom;
}

.itemActivator .Tip {
  font-size: 10px;
  color: #AABDC8;
  padding-left: 5px;
  display: inline;
}

/** ListingBox styles */
.itemBox .Creator {
  font-size: 12px;
  padding-top: 2px;
  color: #AABDC8;
}

.itemBox .Rating {
  width: 60px;
}

.itemBox .Cost {
  font-size: 12px;
}

.remixableLabel .inlineL {
  vertical-align: top;
}

.remixButton {
  background-image: url(/images/item/remix.png);
  width: 38px;
  height: 39px;
}

.remixButton-up-hovering {
  background-image: url(/images/item/remix_over.png);
}

.remixButton-down-hovering {
  background-image: url(/images/item/remix_down.png);
}

/* ------------------------------------
   NAVIGATION BARS
-------------------------------------*/

.sideBar .NaviPanel {
  margin-bottom: 20px;
}

.sideBar .NaviPanel .Cell {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  display: inline;
  vertical-align: top;
}

.sideBar .NaviPanel .Selected {
  color: #E78917;
}

.sideBar .NaviPanel .Cell a {
  color: #FFFFFF;
  text-decoration: none;
}

.sideBar .NaviPanel .Cell a:hover {
  color: #0C3A5C;
}

.sideBar .NaviPanel img {
  display: inline;
  margin: 2px 5px 0px 4px;
}

.sideBar .NaviPanel .Separator, .sideBar .NaviPanel .BlankSep {
  width: 90px;
  height: 1px;
}

.sideBar .NaviPanel .Separator {
  background: #245774;
}
