/**
 * $Id$
 *
 * CSS styles for the Profile interfaces.
 */

.profile {
  width: 100%;
}

.profile .Error {
  padding: 15px;
  font-size: 18px;
}

.profile .ProfileTongue .TContent {
  padding: 0;
}

.profile .Profile {
  width: 100%;
}

.profile .Profile .Photo {
  margin: 15px 0px 10px 5px;
  text-align: center;
}

.profile .Profile .Photo a {
  padding-top: 5px;
  font-size: 12px;
}

.profile .Profile .Photo .gwt-Image {
  margin-left: auto;
  margin-right: auto;
}

.profile .Profile .Info {
  margin: 10px 0px 0px 0px;
}

.profile .Profile .Details {
  padding: 0px 10px 0px 0px;
}

.profile .Profile .Details .Level {
  background: url(/images/profile/level_bg.png) top left no-repeat;
  width: 79px;
  height: 40px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-align: center;
  margin: 0px 0px 5px 105px;
  font-weight: bold;
}

.profile .Profile .Details .Level .Label {
  font-size: 10px;
}
.profile .Profile .Details .Level .Value {
  padding-left: 15px;
  font-size: 18px;
}

.profile .Profile .Buttons {
  margin: 2px 0px 10px 0px;
}

.profile .Profile .Buttons .actionLabel, .profile .Profile .Buttons a {
  font-size: 12px;
  text-decoration: none;
  color: #3382AD;
  white-space: nowrap;
}

.profile .Profile .Buttons .actionLabel:hover, .profile .Profile .Buttons a:hover {
  text-decoration: underline;
}

.profile .Profile .Buttons img {
  display: inline;
  padding-right: 3px;
}

.profile .Profile .Buttons .Link {
  margin-right: 15px;
  display: inline;
}

.profile .Profile .Name {
  font-weight: bold;
  font-size: 20px;
}

.profile .Profile .Status {
  font-style: italic;
}

.profile .Profile .LesserInfo {
  font-size: 14px;
}

.profile .Profile .Detail {
  font-size: 14px;
  white-space: nowrap;
}


.profile .Interests {
  font-size: 12px;
}

.profile .Interests .Type {
  color: #7E7E7E;
  padding: 0px 70px 0px 30px;
  white-space: nowrap;
  vertical-align: top;
}

.profile .Interests .Text a {
  text-decoration: none;
}

.profile .Interests .Text a:hover {
  text-decoration: underline;
}

.profile .Interests .Editor {
  width: 400px;
}

.profile .Gallery {
  width: 100px;
  float: left;
}

.profile .Gallery .thumbBox {
  margin: auto;
}

.profile .Friend, .profile .Group, .profile .Gallery {
  text-align: center;
  font-size: 12px;
  padding: 5px;
}

.profile .Group div {
  margin-left: auto;
  margin-right: auto;
}

.profile .Wall {
  margin-left: 5px;
}

.profile .Wall .TopCell, .profile .Wall .MiddleCell {
  border-bottom: 1px solid #DADADA;
}

.profile .Wall .messagePanel .Scroller {
  width: 550px;
}

.profile .SimpleBadgeDisplay {
  width: 110px;
}

.profile .SimpleBadgeDisplay .BadgeName {
  font-size: 14px;
}

.profile .AwardBox {
  position: relative;
  border: 1px solid #bebebc;
  font-size: 12px;
  height: 66px;
  width: 272px;
}

.profile .AwardBox .Name {
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  color: #1c4c74;
  left: 88px;
  top: 6px;
}

.profile .AwardBox .Type {
  position: absolute;
  left: 88px;
  top: 24px;
}

.profile .AwardBox .WhenEarned {
  position: absolute;
  left: 88px;
  top: 42px;
}

.profile .AwardBox .Icon {
  position: absolute;
  left: 3px;
  top: 3px;
}

.ratingWidget {
  height: 44px;
}

.ratingWidget .GameThumb {
  width: 50px;
}

.ratingWidget .GameThumb img {
  margin-left: auto;
  margin-right: auto;
}

.ratingWidget .GameName {
  width: 210px;
}

.ratingWidget .Note {
  text-align: center;
  font-size: 12px;
}

.ratingWidget .Rating {
  width: 80px;
}

.memberWidget {
  padding: 5px 0px;
  width: 100%;
  height: 89px;
  font-size: 12px;
}

.memberWidget .Photo {
  width: 80px;
  height: 60px;
  vertical-align: middle;
  padding: 0px 10px;
}

.memberWidget .Name {
  padding-top: 2px;
  padding-bottom: 2px;
}

.memberWidget .Status {
  font-style: italic;
}

.memberWidget .Extras {
  width: 120px;
}

.memberWidget .SendMail {
  background-image: url(/images/profile/sendmail.png);
  width: 21px;
  height: 15px;
}

.memberWidget .Remove {
  background-image: url(/images/profile/remove.png);
  width: 17px;
  height: 17px;
}

.friendsPanel .headerBox, .searchPanel .headerBox, .greetersPanel .headerBox {
  margin-left: 10px;
  border-bottom: 10px solid white;
  width: 665px;
}

.searchControls {
  background: url(/images/people/header_bg.png) no-repeat top left;
  width: 679px;
  height: 79px;
  font-size: 14px;
  margin-bottom: 10px;
}

.searchControls .Action {
  width: 190px;
  padding-left: 165px;
  padding-top: 30px;
}

.searchControls .Title {
  font-size: 18px;
  color: white;
}

.searchControls .Tip, .searchControls .SeeGreeters a {
  font-size: 11px;
  white-space: nowrap;
  color: #B4E0F1;
}

.invite {
  color: #316C94;
  font-size: 12px;
}

.invite .Banner {
  background: url(/images/people/invite_header.png) no-repeat top left;
  width: 322px;
  height: 58px;
  padding: 20px 20px 10px 310px;
  text-align: center;
  color: #FFFFFF;
}

.invite .FindFriends .Title {
  font-size: 24px;
}

.invite .roundBox {
  color: white;
}

.invite .gwt-TextBox {
  width: 200px;
}
.invite .gwt-PasswordTextBox {
  width: 130px;
}
.invite .gwt-TextBox, .invite .gwt-PasswordTextBox, .invite .gwt-TextArea {
  border: 1px solid #316C94;
}
.invite td.skip {
  text-align: right;
  padding: 5px 2px 0 0;
}

.invite .Title {
  font-weight: bold;
}

.invite .Tip {
  font-size: 11px;
  padding-right: 10px;
}

.invite .Header, .invitation .Header {
  font-weight: bold;
  font-size: 18px;
}

.inviteResultsPopup .ScrollPanel {
  max-height: 300px;
  margin-bottom: 10px;
  text-align: left;
}

.invite .InviteList {
  width: 100%;
  border: 1px solid #316C94;
  background: #E9F6FB;
}

.invite .InviteList .Header {
  height: 20px;
  color: #316C94;
  font-weight: normal;
  font-size: 12px;
  border: 0px;
  padding: 5px;
}

.invite .InviteList .Scroll {
  height: 130px;
  background: #FFFFFF;
  width: 100%;
}

.invite .InviteListTable {
  background: #FFFFFF;
  font-size: 12px;
  color: #316C94;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.invite .InviteListTable td {
  padding: 1px 5px;
}

.invite .ImportSupportLink {
  font-size: 10px;
}

.importSupportList {
  padding: 8px;
}

.roomsPanel .Room .gwt-Image {
  margin: 0px; /* undo centering */
}

.share .roundBox {
  width: 100%;
}
.share .MainHeaderText, .share .SubHeaderText {
  font-size: 14px;
  padding-left: 10px;
}
.share .SubHeaderText, .share .SubHeaderText a {
  color: white;
}
.linkToWhirled {
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}
.linkToWhirled .Title {
  background: url(/images/whirled/orange_header.png) no-repeat;
  width: 233px;
  height: 38px; /* 41 - padding */
  color: #FFFFFF;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 26px;
  text-align: center;
  padding-top: 3px;
  margin-bottom: 10px;
}
.linkToWhirled td.IntroCell {
  width: 60%;
}
.linkToWhirled .Intro, .linkToWhirled .ImageGridLabel {
  color: #3382AD;
  font-weight: bold;
}
.linkToWhirled .Intro {
  text-align: center;
  vertical-align: center;
  margin-bottom: 10px;
  font-size: 16px;
}
.linkToWhirled .ImageGridLabel {
  font-size: 14px;
  padding: 15px 0 5px;
}
.linkToWhirled .Instructions {
  width: 100%;
  padding: 10px 0 10px;
}
.linkToWhirled .LogoImagePanel {
  text-align: center;
}
.linkToWhirled .ImageGridCell {
  text-align: center;
  font-size: 1px;
  padding: 8px 0 8px;
}
.linkToWhirled .LogoImage {
  text-align: center;
  font-size: 1px;
  display: inline;
}
.linkToWhirled hr {
  color: #dfdfdf;
  background-color: #dfdfdf;
  width: 80%;
  height: 1px;
  border: none;
}
