/**
 * $Id$
 *
 * CSS styles for the Profile interfaces.
 */

.profile {
  width: 100%;
}

.profile .Error {
  padding: 15px;
  font-size: 18px;
}

.profile .ProfileTongue .TContent {
  padding: 0;
}

.profile .Profile {
  width: 100%;
}

.profile .Profile .Photo {
  margin: 15px 0px 10px 5px;
  text-align: center;
}

.profile .Profile .Photo a {
  padding-top: 5px;
  font-size: 12px;
}

.profile .Profile .Photo .gwt-Image {
  margin-left: auto;
  margin-right: auto;
}

.profile .Profile .Info {
  margin: 10px 0px 0px 0px;
}

.profile .Profile .Details {
  padding: 0px 10px 0px 0px;
}

.profile .Profile .Details .Level {
  background: url(/images/profile/level_bg.png) top left no-repeat;
  width: 79px;
  height: 40px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-align: center;
  margin: 0px 0px 5px 105px;
  font-weight: bold;
}

.profile .Profile .Details .Level .Label {
  font-size: 10px;
}
.profile .Profile .Details .Level .Value {
  padding-left: 15px;
  font-size: 18px;
}

.profile .Profile .Buttons {
  margin: 2px 0px 10px 0px;
}

.profile .Profile .Buttons .actionLabel, .profile .Profile .Buttons a {
  font-size: 12px;
  text-decoration: none;
  color: #3382AD;
  white-space: nowrap;
}

.profile .Profile .Buttons .actionLabel:hover, .profile .Profile .Buttons a:hover {
  text-decoration: underline;
}

.profile .Profile .Buttons img {
  display: inline;
  padding-right: 3px;
}

.profile .Profile .Buttons .Link {
  margin-right: 15px;
  display: inline;
}

.profile .Profile .Name {
  font-weight: bold;
  font-size: 20px;
}

.profile .Profile .Status {
  font-style: italic;
}

.profile .Profile .LesserInfo {
  font-size: 14px;
}

.profile .Profile .Detail {
  font-size: 14px;
  white-space: nowrap;
}


.profile .Interests {
  font-size: 12px;
}

.profile .Interests .Type {
  color: #7E7E7E;
  padding: 0px 70px 0px 30px;
  white-space: nowrap;
  vertical-align: top;
}

.profile .Interests .Text a {
  text-decoration: none;
}

.profile .Interests .Text a:hover {
  text-decoration: underline;
}

.profile .Interests .Editor {
  width: 400px;
}

.profile .Gallery {
  width: 100px;
  float: left;
}

.profile .Gallery .thumbBox {
  margin: auto;
}

.profile .Friend, .profile .Group, .profile .Gallery {
  text-align: center;
  font-size: 12px;
  padding: 5px;
}

.profile .Group div {
  margin-left: auto;
  margin-right: auto;
}

.profile .Wall {
  margin-left: 5px;
}

.profile .Wall .TopCell, .profile .Wall .MiddleCell {
  border-bottom: 1px solid #DADADA;
}

.profile .Wall .messagePanel .Scroller {
  width: 550px;
}

.profile .SimpleBadgeDisplay {
  width: 110px;
}

.profile .SimpleBadgeDisplay .BadgeName {
  font-size: 14px;
}

.profile .AwardBox {
  position: relative;
  border: 1px solid #bebebc;
  font-size: 12px;
  height: 66px;
  width: 272px;
}

.profile .AwardBox .Name {
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  color: #1c4c74;
  left: 88px;
  top: 6px;
}

.profile .AwardBox .Type {
  position: absolute;
  left: 88px;
  top: 24px;
}

.profile .AwardBox .WhenEarned {
  position: absolute;
  left: 88px;
  top: 42px;
}

.profile .AwardBox .Icon {
  position: absolute;
  left: 3px;
  top: 3px;
}

.profile .AwardPanel img {
  float: left;
  margin-right: 10px;
}

.ratingWidget {
  height: 44px;
}

.ratingWidget .GameThumb {
  width: 50px;
}

.ratingWidget .GameThumb img {
  margin-left: auto;
  margin-right: auto;
}

.ratingWidget .GameName {
  width: 210px;
}

.ratingWidget .Note {
  text-align: center;
  font-size: 12px;
}

.ratingWidget .Rating {
  width: 80px;
}

.memberWidget {
  padding: 5px 0px;
  width: 100%;
  height: 89px;
  font-size: 12px;
}

.memberWidget .Photo {
  width: 80px;
  height: 60px;
  vertical-align: middle;
  padding: 0px 10px;
}

.memberWidget .Name {
  padding-top: 2px;
  padding-bottom: 2px;
}

.memberWidget .Status {
  font-style: italic;
}

.memberWidget .Extras {
  width: 120px;
}

.memberWidget .SendMail {
  background-image: url(/images/profile/sendmail.png);
  width: 21px;
  height: 15px;
}

.memberWidget .Remove {
  background-image: url(/images/profile/remove.png);
  width: 17px;
  height: 17px;
}

.friendsPanel .headerBox, .searchPanel .headerBox, .greetersPanel .headerBox {
  margin-left: 10px;
  border-bottom: 10px solid white;
  width: 665px;
}

.searchControls {
  background: url(/images/people/header_bg.png) no-repeat top left;
  width: 679px;
  height: 79px;
  font-size: 14px;
  margin-bottom: 10px;
}

.searchControls .Action {
  width: 190px;
  padding-left: 165px;
  padding-top: 30px;
}

.searchControls .Title {
  font-size: 18px;
  color: white;
}

.searchControls .Tip, .searchControls .SeeGreeters a {
  font-size: 11px;
  white-space: nowrap;
  color: #B4E0F1;
}

.invite {
  color: #316C94;
  font-size: 12px;
}

.invite .Banner {
  background: url(/images/people/invite_header.png) no-repeat top left;
  width: 322px;
  height: 58px;
  padding: 20px 20px 10px 310px;
  text-align: center;
  color: #FFFFFF;
}

.invite .FindFriends .Title {
  font-size: 24px;
}

.invite .roundBox {
  color: white;
}

.invite .gwt-TextBox {
  width: 200px;
}
.invite .gwt-PasswordTextBox {
  width: 130px;
}
.invite .gwt-TextBox, .invite .gwt-PasswordTextBox, .invite .gwt-TextArea {
  border: 1px solid #316C94;
}
.invite td.skip {
  text-align: right;
  padding: 5px 2px 0 0;
}

.invite .Title {
  font-weight: bold;
}

.invite .Tip {
  font-size: 11px;
  padding-right: 10px;
}

.invite .Header, .invitation .Header {
  font-weight: bold;
  font-size: 18px;
}

.inviteResultsPopup .ScrollPanel {
  max-height: 300px;
  margin-bottom: 10px;
  text-align: left;
}

.invite .InviteList, .gameInvitePanel .email .InviteList {
  width: 100%;
  border: 1px solid #316C94;
  background: #E9F6FB;
}

.invite .InviteList .Header, .gameInvitePanel .email .InviteList .Header {
  height: 20px;
  color: #316C94;
  font-weight: normal;
  font-size: 12px;
  border: 0px;
  padding: 5px;
}

.invite .InviteList .Scroll, .gameInvitePanel .email .InviteList .Scroll {
  height: 130px;
  background: #FFFFFF;
  width: 100%;
}

.invite .InviteListTable, .gameInvitePanel .email .InviteListTable {
  background: #FFFFFF;
  font-size: 12px;
  color: #316C94;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.invite .InviteListTable td, .gameInvitePanel .email .InviteListTable td {
  padding: 1px 5px;
}

.invite .ImportSupportLink {
  font-size: 10px;
}

.importSupportList {
  padding: 8px;
}

.roomsPanel .Room .gwt-Image {
  margin: 0px; /* undo centering */
}

.share .roundBox {
  width: 100%;
}
.share .MainHeaderText, .share .SubHeaderText {
  font-size: 14px;
  padding-left: 10px;
}
.share .SubHeaderText, .share .SubHeaderText a {
  color: white;
}
.linkToWhirled {
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}
.linkToWhirled .Title {
  background: url(/images/whirled/orange_header.png) no-repeat;
  width: 233px;
  height: 38px; /* 41 - padding */
  color: #FFFFFF;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 26px;
  text-align: center;
  padding-top: 3px;
  margin-bottom: 10px;
}
.linkToWhirled .ImageGridLabel {
  color: #3382AD;
  font-weight: bold;
  font-size: 14px;
  padding: 15px 0 5px;
}
.linkToWhirled .Instructions {
  width: 100%;
  padding: 15px 0 10px;
}
.linkToWhirled .LogoImagePanel {
  text-align: center;
}
.linkToWhirled .ImageGridCell {
  text-align: center;
  font-size: 1px;
  padding: 8px 0 8px;
}
.linkToWhirled .LogoImage {
  text-align: center;
  font-size: 1px;
  display: inline;
}
.linkToWhirled hr {
  color: #dfdfdf;
  background-color: #dfdfdf;
  width: 80%;
  height: 1px;
  border: none;
}

/* ------------------------------------
   NEW SHARE PAGE
-------------------------------------*/

.sharePanel-wrapper {
	border-spacing: 0px;
}

.sharePanel {
	width: 680px;
	padding: 5px;	
}

.sharePanel-top {
	width: 675px;
}

.sharePanel-banner {
	width: 682px;
	height: 95px;
	background: url(/images/people/invite/invite_banner.jpg) no-repeat;
}

.sharePanel-url-description {
	width: 337px;
	height: 33px;
	background: url(/images/people/invite/bubble_arrow.png) no-repeat;
	font-size: 11px;
	color: #2c4969;
	margin-top: 20px;
	padding: 3px 10px 3px 5px;
}

.sharePanel-embed-description {
    width: 337px;
    height: 33px;
    background: url(/images/people/invite/bubble_arrow.png) no-repeat;
    font-size: 11px;
    color: #2c4969;
    padding: 3px 10px 3px 5px;
    margin-bottom: 15px;
}
	
.shareGameInfo {
	height: 90px;
}

.shareGameInfo .thumbnail {
	margin-left: 20px;
	margin-right: 5px;
}

.shareGameInfo .name {
	color: #256591;
	font-size: 14px;
	font-weight: bold;
	padding-right: 5px;
}

.shareGameInfo .creator {
    color: #256591;
    font-size: 13px;
}

.shareGameInfo .genre {
	color: #56a7dc;
	font-size: 11px;
}

.shareGameInfo .description {
    color: #9f9f9f;
    font-size: 11px;
}

.shareURLBox {
	width: 307px;
	color: #2668b4;
}

.shareURLBox-closed {
    background: url(/images/people/invite/blue_optionsclosed.png) no-repeat;
    height: 116px;
    margin-bottom: 5px;
}

.shareURLBox-open {
    background: url(/images/people/invite/blue_optionsopen.png) no-repeat;
    height: 196px;
    margin-bottom: 5px;
}

.shareURLBox .urlPanel {
	padding: 6px;
	border-spacing: 0px;
}

.shareURLBox .optionsPanel {
	width: 290px;
	border-spacing: 0px;
	cursor: default;
}

.shareURLBox-optionsLink a {
	font-size: 11px;
	color: #4188b4;
	cursor: pointer;
}

.shareURLBox .optionsPanel .sizeBox {
	border: 1px solid black;
	background-color: #cceaff;
}

.shareURLBox .optionsPanel .sizeLabel {
    color: #2975b3;
    font-size: 11px;
}

.shareURLBox .optionsPanel .sizeBox-selected {
    border: 1px solid black;
    background-color: white;
}

.shareURLBox .optionsPanel .sizePanel-mouseOver {
	padding: 2px;
	border: 1px solid #1f689b;
	height: 70px;
}

.shareURLBox .optionsPanel .sizePanel {
    padding: 3px;
    height: 70px;
}

.shareURLBox .optionsPanel input {
	border: 0px;
}

.shareURLBox .optionsPanel .smallBox {
    width: 41px;
	height: 25px;
}

.shareURLBox .optionsPanel .mediumBox {
    width: 36px;
    height: 40px;
}

.shareURLBox .optionsPanel .largeBox {
	width: 66px;
	height: 55px;
}

.shareURLBox .optionsPanel .fullBox {
	width: 101px;
	height: 55px;
}

.shareURLBox td {
    font-size: 13px;
    vertical-align: top;
}

.shareURLBox-urlIcon {
	background: url(/images/people/invite/IM_icon.png) no-repeat;
	width: 32px;
	height: 19px;
}

.shareURLBox-embedIcon {
	background: url(/images/people/invite/embed_icon.png) no-repeat;
    width: 32px;
    height: 17px;
}

.shareURLBox .gwt-TextBox {
	border: 1px solid #4186ad;
	width: 255px;
	padding: 3px;
	color: #848484;
	margin-bottom: 2px;
}

.emailRollup .rollupBox-title {
	background: url(/images/people/invite/mail_icon.png) no-repeat 0px 3px;
	padding-left: 33px;
}

.postGameRollup .rollupBox-title {
    background: url(/images/people/invite/post_icon.png) no-repeat;
    padding-left: 33px;
}

.imageLinksRollup .rollupBox-title {
    background: url(/images/people/invite/image_links_icon.jpg) no-repeat;
    padding-left: 33px;
}

.findFriendsRollup .rollupBox-title {
    background: url(/images/people/invite/find_friends_icon.png) no-repeat 0px 2px;
    padding-left: 33px;
}

.inviteEmailPanel .gwt-TabPanel {
	width: 439px;
}

.inviteEmailPanel .gwt-TabBarItem {
	background-color: #e8e8e8;
	border: 1px solid #cdcdcd;
	font-size: 12px;
	padding: 4px 20px 2px 20px;
	cursor: default;
}

.inviteEmailPanel .gwt-TabBarItem-selected {
	background-color: #fafafa;
	border-bottom: none;
	font-size: 12px;
	color: #636363;
	padding-bottom: 3px;
}

.inviteEmailPanel .gwt-TabBarFirst {
	border-bottom: 1px solid #cdcdcd;
}

.inviteEmailPanel .gwt-TabBarRest {
    border-bottom: 1px solid #cdcdcd;
}

.inviteEmailPanel .gwt-TabPanelBottom {
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	height: 194px;
}

.inviteEmailPanel .description {
	text-align: center;
	font-size: 12px;
	padding-bottom: 15px;
}

.inviteEmailPanel .sideLink a {
	color: #2670b7;
    font-size: 13px;
    font-weight: bold;
    background: url(/images/people/invite/light_blue_arrow.png) no-repeat center right;
    padding-right: 12px;
    margin-left: 5px;
    cursor: pointer;
}

.inviteEmailPanel .sideLabel {
	font-size: 12px;
	padding: 5px 5px 5px 20px;
}

.inviteEmailPanel .importImage {
	background: url(/images/people/invite/all_mails.png) no-repeat 20px 0px;
	width: 186px;
	height: 130px;
}

.inviteEmailPanel .emailTab {
	padding: 0px 5px 0px 5px;
}

.inviteEmailPanel .emailTab-field {
	color: #2356bf;
	font-size: 12px;
	font-weight: bold;
}

.inviteEmailPanel .emailTab-description {
	color: #a3a3a3;
	font-size: 11px;
}

.inviteEmailPanel .emailTab-input {
	width: 405px;
	height: 50px;
	border: 1px solid #cccccc;
	padding: 5px;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 13px;
}

.inviteEmailPanel .allTab {
	font-size: 13px;
    padding: 0px 5px 0px 5px;
}

.inviteEmailPanel .allTab-message {
	width: 330px;
    border: 1px solid #cccccc;
    padding: 5px;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: 2px 0px 2px 20px;
}

.importContacts-field {
	font-size: 13px;
}

.importContacts-textBox {
	width: 165px;
	border: 1px solid #cccccc;
	padding: 5px;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: 2px 0px 2px 20px;
}

.importContacts-webmailList {
	width: 125px;
	border: 1px solid #cccccc;
	padding: 5px;
	font-size: 13px;
}

.importContacts-note {
    color: #a3a3a3;
    font-size: 11px;
}

.imageLinkPanel {
	font-size: 12px;
}

.imageLinkPanel td {
	text-align: center;
	padding: 4px;
}

.imageLinkPanel-icons {
	width: 495px;
	height: 47px;
	background: url(/images/people/invite/imagelinks_examples.png) no-repeat;
	display: inline-table;
	margin-right: 20px;
}

.findFriendsPanel {
	padding: 8px;
}

.findFriendsPanel-searchBox {
	width: 400px;
    border: 1px solid #cccccc;
    padding: 5px;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: 10px 20px 10px 0px;
}

.findFriendsPanel .importContacts-textBox {
	width: 250px;
	margin: 0px 20px 0px 0px;
}

.gameLinks {
	font-size: 12px;
	padding: 5px;
}

.gameLinks-htmlCode {
	width: 650px;
    border: 1px solid #cccccc;
    padding: 5px;
    font-size: 12px;
}

.gameLinks-icons img {
	padding: 5px;
}

/* ------------------------------------
   SELECT CONTACTS TO IMPORT
-------------------------------------*/

.importContactList-wrapper {
	background-color: #89C6E3;
	min-height: 100%;
}

.importContactList {
	margin: 8px auto;
	width: 657px;
}

.importContactList .N {
	background: url(/images/ui/blue_bg_top.png) no-repeat;
	height: 7px;
}

.importContactList .S {
	background: url(/images/ui/blue_bg_bot.png) no-repeat;
	height: 7px;
}

.importContactList .X {
	background: url(/images/ui/blue_bg_mid.png) #287099 no-repeat bottom;
	padding: 8px;
}

.importContactList-header {
	font-size: 18px;
	color: white;
	margin-bottom: 5px;
}

.importContactList-description {
    font-size: 12px;
    color: #beddef;
}

.importContactList .orangeButton {
	margin: 8px 0px;
}

.importContactList-listName {
    color: black;
    width: 222px;
    font-size: 13px;
}

.importContactList-listEmail {
    color: #7e7f84;
    width: 383px;
    font-size: 13px;
}

/* -------------------------------
  GameInvitePanel
 --------------------------------- */

.gameInvitePanel .intro {
    font-weight: bold;
    font-size: 14px;
    width: 75%;
}

.gameInvitePanel .email {
    font-size: 12px;
}

.gameInvitePanel .email .privacy, .gameInvitePanel .email .ImportSupportLink {
    font-size: 10px;
}

.gameInvitePanel .email .toggle {
    text-align: right;
    font-size: 10px;
}

.gameInvitePanel .email .biglabel, .gameInvitePanel .im .biglabel {
    color: #2356bf;
    font-weight: bold;
    font-size: 14px;
}

.gameInvitePanel .email .smalllabel {
    color: #404040;
}

.gameInvitePanel .email .labelparen {
   color: #303030;
   font-size: 10px;
   width: 90%;
}

.gameInvitePanel .email .input {
    border: 1px solid #cccccc;
}

.gameInvitePanel .email .message {
    width: 100%;
}

.gameInvitePanel .im {
    font-size: 14px;
}

.gameInvitePanel .im .intro {
    font-size: 12px;
    width: 100%;
    font-weight: normal;
}

.gameInvitePanel .im .urlBox {
    border: 2px solid black;
    width: 100%;
}

