/**
 * $Id$
 *
 * CSS styles for the Profile interfaces.
 */

.profile {
  width: 100%;
}

.profile .ProfileTongue .Content {
  border: none; /* override tongueBox */
}

.profile .Profile {
  width: 100%;
}

.profile .Profile .Photo .gwt-Image {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px 10px 10px;
}

.profile .Profile .Info {
  margin: 10px 0px;
}

.profile .Profile .Details {
  padding: 0px 10px 10px 0px;
}

.profile .Profile .Details .Level {
  background: url(/images/profile/level_bg.png) top left no-repeat;
  width: 79px;
  height: 40px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-align: center;
  margin: 0px 0px 5px 105px;
  font-weight: bold;
}

.profile .Profile .Details .Level .Label {
  font-size: 10px;
}
.profile .Profile .Details .Level .Value {
  padding-left: 15px;
  font-size: 18px;
}

.profile .Profile .Photo .actionLabel, .profile .Profile .Photo a {
  font-size: 12px;
  text-decoration: none;
  color: #3382AD;
  white-space: nowrap;
}

.profile .Profile .Photo .actionLabel:hover, .profile .Profile .Photo a:hover {
  text-decoration: underline;
}

.profile .Profile .Name {
  font-weight: bold;
  font-size: 20px;
}

.profile .Profile .Status {
  font-style: italic;
}

.profile .Profile .Detail {
  font-size: 14px;
  white-space: nowrap;
}

.profile .Interests {
  font-size: 12px;
}

.profile .Interests .Type {
  color: #7E7E7E;
  padding: 0px 70px 0px 30px;
  white-space: nowrap;
  vertical-align: top;
}

.profile .Interests .Text a {
  text-decoration: none;
}

.profile .Interests .Text a:hover {
  text-decoration: underline;
}

.profile .Interests .Editor {
  width: 400px;
}

.profile .Gallery {
  width: 100px;
  float: left;
}

.profile .Gallery .thumbBox {
  margin: auto;
}

.profile .Friend, .profile .Group, .profile .Gallery {
  text-align: center;
  font-size: 12px;
  padding: 5px;
}

.profile .Group div {
  margin-left: auto;
  margin-right: auto;
}

.profile .Wall {
  margin-left: 5px;
}

.profile .Wall .TopCell, .profile .Wall .MiddleCell {
  border-bottom: 1px solid #DADADA;
}

.profile .Wall .messagePanel .Scroller {
  width: 550px;
}

.profile .SimpleBadgeDisplay {
  width: 110px;
}

.profile .SimpleBadgeDisplay .BadgeName {
  font-size: 14px;
}

.ratingWidget {
  height: 44px;
}

.ratingWidget .GameThumb {
  width: 50px;
}

.ratingWidget .GameThumb img {
  margin-left: auto;
  margin-right: auto;
}

.ratingWidget .GameName {
  width: 210px;
}

.ratingWidget .Note {
  text-align: center;
  font-size: 12px;
}

.ratingWidget .Rating {
  width: 80px;
}

.memberWidget {
  padding: 5px 0px;
  width: 100%;
  height: 89px;
  font-size: 12px;
}

.memberWidget .Photo {
  width: 80px;
  height: 60px;
  vertical-align: middle;
  padding: 0px 10px;
}

.memberWidget .Name {
  padding-top: 2px;
  padding-bottom: 2px;
}

.memberWidget .Status {
  font-style: italic;
}

.memberWidget .Extras {
  width: 120px;
}

.memberWidget .SendMail {
  background-image: url(/images/profile/sendmail.png);
  width: 21px;
  height: 15px;
}

.memberWidget .Remove {
  background-image: url(/images/profile/remove.png);
  width: 17px;
  height: 17px;
}

.friendsPanel .headerBox, .searchPanel .headerBox {
  margin-left: 10px;
  border-bottom: 10px solid white;
  width: 665px;
}

.searchControls {
  background: url(/images/people/header_bg.png) no-repeat top left;
  width: 679px;
  height: 79px;
  font-size: 14px;
  margin-bottom: 10px;
}

.searchControls .Action {
  width: 190px;
  padding-left: 165px;
  padding-top: 30px;
}

.searchControls .Title {
  font-size: 18px;
  color: white;
}

.searchControls .Tip {
  font-size: 11px;
  white-space: nowrap;
  color: #B4E0F1;
}

.invite {
  color: #316C94;
  font-size: 12px;
}

.invite .Banner {
  background: url(/images/people/invite_header.png) no-repeat top left;
  width: 322px;
  height: 58px;
  padding: 20px 20px 10px 310px;
  text-align: center;
  color: #FFFFFF;
}

.invite .roundBox {
  color: white;
}

.invite .gwt-TextBox {
  width: 200px;
}
.invite .gwt-PasswordTextBox {
  width: 130px;
}
.invite .gwt-TextBox, .invite .gwt-PasswordTextBox, .invite .gwt-TextArea {
  border: 1px solid #316C94;
}

.invite .Title {
  font-weight: bold;
}

.invite .Tip {
  font-size: 11px;
  padding-right: 10px;
}

.invite .Header, .invitation .Header {
  font-weight: bold;
  font-size: 18px;
}

.inviteResultsPopup .ScrollPanel {
  max-height: 300px;
  margin-bottom: 10px;
  text-align: left;
}

.invite .InviteList {
  width: 100%;
  border: 1px solid #316C94;
  background: #E9F6FB;
}

.invite .InviteList .Header {
  height: 20px;
  color: #316C94;
  font-weight: normal;
  font-size: 12px;
  border: 0px;
  padding: 5px;
}

.invite .InviteList .Scroll {
  height: 130px;
  background: #FFFFFF;
  width: 100%;
}

.invite .InviteListTable {
  background: #FFFFFF;
  font-size: 12px;
  color: #316C94;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.invite .InviteListTable td {
  padding: 1px 5px;
}

.invite .ImportSupportLink {
  font-size: 10px;
}

.importSupportList {
  padding: 8px;
}
