/** 
 * $Id$
 *
 * CSS styles for the Room interfaces.
 */

.sceneView {
  position: relative;
  width: 350px;
  height: 200px;
}

.sceneView .LiveOverlay {
  position: absolute;
  top: 180px;
  left: 112px;
}
