/** 
 * $Id$
 *
 * CSS styles for the Money interfaces.
 */

.BuyPrompt {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}

.Buy {
  text-align: center;
}

.Bought .Charity {
  font-size: 12px;
}

.Buy table {
  margin-left: auto;
  margin-right: auto;
}

.Bought {
  border: 1px solid #3776A0;
  padding: 5px;
  margin-top: 10px;
}

.buyPanelButton {
  margin-top: 10px;
}

.buyButton .X {
  width: 120px;
}
