/** 
 * $Id$
 *
 * CSS styles for the Money interfaces.
 */

.buyPrompt {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}

.buyPanel {
  margin: 0px auto;
  max-width: 250px;
}

.buyPanel .BuyButton, .boughtPanel .BuyButton {
  margin: 10px auto 0px;
}

.buyButton .X {
  width: 120px;
}

.exchangeRateLink {
  font-size: 12px;
}

.boughtPanel .Charity {
  font-size: 12px;
}

.boughtPanel {
  border: 1px solid #3776A0;
  padding: 5px;
  margin-top: 10px;
}
