Application {
  backgroundSize: "100%";
  backgroundColor: #b98c3b;
  backgroundGradientColors: #d7c39d, #403323;
  backgroundGradientAlphas: 0.83, 1;
  themeColor: #54a9da;
  color: #0b333c;
  width: 1024;
  height: 546;
}

Panel {
  backgroundAlpha: 1;
  backgroundColor: #ffffff;
  borderAlpha: 1;
  borderColor: #000000;
  borderStyle: undefined;
  borderThickness: 0;
  cornerRadius: 0;
  dropShadowColor: #443522;
  dropShadowEnabled: true;
  footerColors: #ffffff, #c7c7c7;
  headerColors: #000000, #444444;
  headerHeight: 20;
  highlightAlphas: 0, 0;
  modalTransparencyBlur: 0;
  roundedBottomCorners: false;
  shadowDistance: 2;
  textAlign: left;
  titleStyleName: "msoyTitleStyle";
}

.entityPopup {
  headerColors: #0000FF, #444444;
}

.msoyTitleStyle {
  color: #FFFFFF;
}

TabNavigator, TabBar {
  borderStyle: none;
  borderThickness: 0;
  tabHeight: 20;
  tabStyleName: "msoyTabButton";
  selectedTabTextStyleName: "selectedMsoyTabButton";
}

.msoyTabButton {
  color: #b4cbd7;
  fontFamily: Arial;
  textRollOverColor: #b4cbd7;
  overSkin: Embed(source="../../rsrc/media/skins/tab/unselected.png",
          scaleGridTop="3", scaleGridBottom="17",
          scaleGridLeft="3", scaleGridRight="9");
  selectedOverSkin: Embed(source="../../rsrc/media/skins/tab/selected.png",
          scaleGridTop="3", scaleGridBottom="17",
          scaleGridLeft="3", scaleGridRight="9");
  selectedUpSkin: Embed(source="../../rsrc/media/skins/tab/selected.png",
          scaleGridTop="3", scaleGridBottom="17",
          scaleGridLeft="3", scaleGridRight="9");
  upSkin: Embed(source="../../rsrc/media/skins/tab/unselected.png",
          scaleGridTop="3", scaleGridBottom="17",
          scaleGridLeft="3", scaleGridRight="9");
}

.selectedMsoyTabButton {
  color: black;
}

SuperTabNavigator { 
  leftButtonStyleName: "msoyLeftArrowTabButton";
  rightButtonStyleName: "msoyRightArrowTabButton";
  popUpButtonPolicy: off;
  buttonWidth: 10;
}

.msoyLeftArrowTabButton {
  upSkin: Embed(source="../../rsrc/media/skins/tab/tab_left.png");
  overSkin: Embed(source="../../rsrc/media/skins/tab/tab_left.png");
  downSkin: Embed(source="../../rsrc/media/skins/tab/tab_left.png");
}

.msoyRightArrowTabButton {
  upSkin: Embed(source="../../rsrc/media/skins/tab/tab_right.png");
  overSkin: Embed(source="../../rsrc/media/skins/tab/tab_right.png");
  downSkin: Embed(source="../../rsrc/media/skins/tab/tab_right.png");
}

SuperTab { 
  tabCloseButtonStyleName: "msoyCloseTabButton";
}

.msoyCloseTabButton {
  upSkin: Embed(source="../../rsrc/media/skins/tab/close_small.png");
  overSkin: Embed(source="../../rsrc/media/skins/tab/close_small.png");
  downSkin: Embed(source="../../rsrc/media/skins/tab/close_small.png");
}

.channelChatTab {
  borderStyle: none;
  borderThickness: 0;
  backgroundColor: #FFFFFF;
}

Accordion {
  headerHeight: 20;
  dropShadowEnabled: true;
  shadowDirection: center;
  borderStyle: solid;
  borderThickness: 5;
  backgroundAlpha: 0.41;
  highlightAlphas: 0, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #3e3123, #5c442d, #dbb56c, #fad58f;
  selectedFillColors: #453929, #5c4932;
  themeColor: #d8c49f;
  borderColor: #d8c49f;
  color: #d8c49f;
  textRollOverColor: #fd019f;
  textSelectedColor: #fd019f;
  openDuration: 225;
}

TextInput {
  backgroundAlpha: 1;
  color: #000000;
  backgroundColor: #e9f6fb;
  backgroundDisabledColor: #eeeeee;
  borderStyle: inset;
  borderColor: #d5dcdf;
  borderThickness: 2;
  cornerRadius: 0;
  textIndent: 2;
  dropShadowEnabled: false;
}

NumericStepper {
  backgroundAlpha: 1;
  color: #000000;
  cornerRadius: 4;
  highlightAlphas: 0, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #dadfe3, #9eabb2, #dadfe3, #9eabb2;
}

ComboBox {
  highlightAlphas: 0.26, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #dadfe3, #9eabb2, #9eabb2, #dadfe3;
  selectionColor: #54a9da;
  useRollOver: true;
  rollOverColor: #c8d0d3;
}

CheckBox {
  borderColor: #403424;
  highlightAlphas: 0, 0;
  fillAlphas: 0, 0, 0.75, 0.65;
  fillColors: #403424, #403424, #ffffff, #eeeeee;
}

RadioButton {
  borderColor: #403424;
  highlightAlphas: 0, 0;
  fillAlphas: 0, 0, 0.75, 0.65;
  fillColors: #403424, #403424, #ffffff, #eeeeee;
}

HSlider {
  labelOffset: -8;
  thumbOffset: 0;
  dataTipOffset: 16;
  tickLength: 5;
  tickOffset: -3;
  tickThickness: 1;
  showTrackHighlight: false;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d5dcdf, #9eabb2, #9eabb2, #d5dcdf;
}

Button {
  paddingBottom: 3;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d5dcdf, #9ba8b0, #9ba8b0, #d5dcdf;
  disabledSkin: Embed(source="../../rsrc/media/skins/button/disabled.png",
          scaleGridTop="1", scaleGridBottom="19",
          scaleGridLeft="2", scaleGridRight="19");
  downSkin: Embed(source="../../rsrc/media/skins/button/selectedDown.png",
          scaleGridTop="1", scaleGridBottom="19",
          scaleGridLeft="2", scaleGridRight="19");
  overSkin: Embed(source="../../rsrc/media/skins/button/up.png",
          scaleGridTop="1", scaleGridBottom="19",
          scaleGridLeft="2", scaleGridRight="19");
  selectedDisabledSkin: Embed(source="../../rsrc/media/skins/button/disabled.png",
          scaleGridTop="1", scaleGridBottom="19",
          scaleGridLeft="2", scaleGridRight="19");
  selectedDownSkin: Embed(source="../../rsrc/media/skins/button/selectedDown.png",
          scaleGridTop="1", scaleGridBottom="19",
          scaleGridLeft="2", scaleGridRight="19");
  selectedOverSkin: Embed(source="../../rsrc/media/skins/button/selectedUp.png",
          scaleGridTop="1", scaleGridBottom="19",
          scaleGridLeft="2", scaleGridRight="19");
  selectedUpSkin: Embed(source="../../rsrc/media/skins/button/selectedUp.png",
          scaleGridTop="1", scaleGridBottom="19",
          scaleGridLeft="2", scaleGridRight="19");
  upSkin: Embed(source="../../rsrc/media/skins/button/up.png",
          scaleGridTop="1", scaleGridBottom="19",
          scaleGridLeft="2", scaleGridRight="19");
}

PopUpButton {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d5dcdf, #9ba8b0, #9ba8b0, #d5dcdf;
}

ButtonBar {
  buttonStyleName: "msoyButtonBar";
  buttonWidth: 72;
  horizontalGap: 6;
}

TitleWindow {
  cornerRadius: 0;
  closeButtonDisabledSkin: Embed(source="../../rsrc/media/skins/close.png");
  closeButtonDownSkin: Embed(source="../../rsrc/media/skins/close_down.png");
  closeButtonOverSkin: Embed(source="../../rsrc/media/skins/close_over.png");
  closeButtonUpSkin: Embed(source="../../rsrc/media/skins/close.png");
}

Window {
  closeButtonDisabledSkin: Embed(source="../../rsrc/media/skins/close.png");
  closeButtonDownSkin: Embed(source="../../rsrc/media/skins/close_down.png");
  closeButtonOverSkin: Embed(source="../../rsrc/media/skins/close_over.png");
  closeButtonUpSkin: Embed(source="../../rsrc/media/skins/close.png");
}

.msoyButtonBar {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d5dcdf, #9ba8b0, #9ba8b0, #d5dcdf;
}

.controlBar, .headerBar { 
  horizontalGap: 0;
  verticalGap: 0;
  borderStyle: "none";
  paddingBottom: 0;
  paddingTop: 0;
  paddingLeft: 0;
  paddingRight: 0;
}

.controlBarText { 
  color: #dddddd;
}

.controlBarButtons {
  fillAlphas: 0.6, 0.4;
}

.controlBarButtonAvatar {
  upSkin: Embed(source="../../rsrc/media/skins/controlbar/button_avatar.png");
  overSkin: Embed(source="../../rsrc/media/skins/controlbar/button_avatar_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/controlbar/button_avatar_down.png");
}

.controlBarButtonPet {
  upSkin: Embed(source="../../rsrc/media/skins/controlbar/button_pet.png");
  overSkin: Embed(source="../../rsrc/media/skins/controlbar/button_pet_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/controlbar/button_pet_down.png");
  disabledSkin: Embed(source="../../rsrc/media/skins/controlbar/button_pet.png");
}

.controlBarButtonChat {
  upSkin: Embed(source="../../rsrc/media/skins/controlbar/button_chat.png");
  overSkin: Embed(source="../../rsrc/media/skins/controlbar/button_chat_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/controlbar/button_chat_down.png");
}

.controlBarButtonEdit {
  upSkin: Embed(source="../../rsrc/media/skins/controlbar/button_edit.png");
  overSkin: Embed(source="../../rsrc/media/skins/controlbar/button_edit_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/controlbar/button_edit_down.png");
  disabledSkin: Embed(source="../../rsrc/media/skins/controlbar/button_edit_disabled.png");
  selectedUpSkin: Embed(source="../../rsrc/media/skins/controlbar/button_edit_down.png");
  selectedDownSkin: Embed(source="../../rsrc/media/skins/controlbar/button_edit_down.png");
  selectedOverSkin: Embed(source="../../rsrc/media/skins/controlbar/button_edit_down.png");
}

.controlBarButtonVolume {
  upSkin: Embed(source="../../rsrc/media/skins/controlbar/button_volume.png");
  overSkin: Embed(source="../../rsrc/media/skins/controlbar/button_volume_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/controlbar/button_volume_down.png");
}

.controlBarHoverZone {
  disabledSkin: Embed(source="../../rsrc/media/skins/controlbar/hoverzone.png");
}

.controlBarButtonSnapshot {
  upSkin: Embed(source="../../rsrc/media/skins/controlbar/button_snapshot.png");
  overSkin: Embed(source="../../rsrc/media/skins/controlbar/button_snapshot_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/controlbar/button_snapshot_down.png");
  disabledSkin: Embed(source="../../rsrc/media/skins/controlbar/button_snapshot_disabled.png");
}

.controlBarButtonNotify {
  upSkin: Embed(source="../../rsrc/media/skins/controlbar/button_notifications.png");
  overSkin: Embed(source="../../rsrc/media/skins/controlbar/button_notifications_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/controlbar/button_notifications_over.png");
  selectedUpSkin: Embed(source="../../rsrc/media/skins/controlbar/button_notifications_down.png");
  selectedOverSkin: Embed(source="../../rsrc/media/skins/controlbar/button_notifications_down.png");
  selectedDownSkin: Embed(source="../../rsrc/media/skins/controlbar/button_notifications_down.png");
  disabledSkin: Embed(source="../../rsrc/media/skins/controlbar/button_notifications_disabled.png");
}

.controlBarButtonBack {
  upSkin: Embed(source="../../rsrc/media/skins/controlbar/location_back.png");
  overSkin: Embed(source="../../rsrc/media/skins/controlbar/location_back_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/controlbar/location_back_down.png");
  disabledSkin: Embed(source="../../rsrc/media/skins/controlbar/location_back.png");
}

.controlBarButtonChannel {
  upSkin: Embed(source="../../rsrc/media/skins/controlbar/button_channel.png");
  overSkin: Embed(source="../../rsrc/media/skins/controlbar/button_channel_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/controlbar/button_channel_down.png");
}

.controlBarSpacer { 
  backgroundImage: Embed(source="../../rsrc/media/skins/controlbar/footer_tile.png");
  backgroundSize: "100%";
  borderStyle: "none";
}

.controlBarFooterLeft {
  backgroundSkin: Embed(source="../../rsrc/media/skins/controlbar/footer_left.png");
}

.notificationDisplay { 
  borderStyle: "solid";
  borderThickness: 1;
  paddingLeft: 0;
  paddingRight: 0;
  paddingTop: 0;
  paddingBottom: 0;
}

.notificationBox {
  paddingLeft: 0;
  paddingRight: 0;
  paddingTop: 0;
  paddingBottom: 0;
}

.notificationButton {
  paddingLeft: 0;
  paddingRight: 0;
  paddingTop: 0;
  paddingBottom: 0;
}  

.roomEditPanel {  
  borderStyle: "solid";
  borderThickness: 1;
  borderThicknessLeft: 0;
  borderThicknessRight: 0;
  borderThicknessTop: 0;
  borderThicknessBottom: 0;
  paddingBottom: 0;
  paddingTop: 0;
  paddingLeft: 0;
  paddingRight: 0;
  horizontalGap: 0;
  verticalGap: 1;
} 

.roomEditPanelContainer { 
  backgroundImage: Embed(source="../../rsrc/media/skins/button/furniedit/button_bar_tile.png");
  backgroundSize: "100%";
  borderStyle: "none";
  borderThickness: 0;
  borderThicknessLeft: 0;
  borderThicknessRight: 0;
  borderThicknessTop: 0;
  borderThicknessBottom: 0;
  paddingBottom: 0;
  paddingTop: 0;
  paddingLeft: 0;
  paddingRight: 0;
  horizontalGap: 0;
  verticalGap: 0;
}

.roomEditNameBar {  
  backgroundImage: Embed(source="../../rsrc/media/skins/button/furniedit/name_bar_tile.png");
  backgroundSize: "100%";
  borderStyle: "none";
  paddingBottom: 5;
  paddingTop: 5;
  paddingLeft: 3;
  paddingRight: 3;
} 

.roomEditButtonBar {  
  borderStyle: "none";
  paddingBottom: 0;
  paddingTop: 0;
  paddingLeft: 0;
  paddingRight: 0;
  horizontalGap: 3;
  verticalAlign: "middle";
} 

.roomEditAccessButtons {
  buttonStyleName: "roomEditAccessButtonStyle";
  buttonWidth: 23;
  buttonHeight: 23;
  horizontalGap: 0;
}

.roomEditAccessButtonStyle {
  paddingBottom: 0;
  fillAlphas: 0.6, 0.4, 0.6, 0.4;
}

.roomEditContents {  
  paddingBottom: 5;
  paddingTop: 5;
  paddingLeft: 3;
  paddingRight: 3;
  verticalGap: 2;
} 

.roomEditLabelContainer { 
  borderStyle: "none";
  borderThickness: 0;
  borderThicknessLeft: 0;
  borderThicknessRight: 0;
  borderThicknessTop: 0;
  borderThicknessBottom: 0;
  paddingBottom: 0;
  paddingTop: 0;
  paddingLeft: 5;
  paddingRight: 5;
  horizontalGap: 0;
  verticalGap: 0;
}

.roomEditCollapsingContainer { 
  borderStyle: "none";
  paddingBottom: 0;
  paddingTop: 0;
  paddingLeft: 0;
  paddingRight: 5;
  verticalGap: 1;
}

.roomEditCollapsingContents { 
  paddingBottom: 5;
  paddingTop: 2;
}

.roomEditButtonRoom {
  upSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_room.png");
  overSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_room_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_room_down.png");
  selectedUpSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_room_selected.png");
  selectedOverSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_room_selected.png");
  selectedDownSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_room_selected.png");
}

.roomEditButtonMove {
  upSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_move.png");
  overSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_move_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_move_down.png");
  selectedUpSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_move_selected.png");
  selectedOverSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_move_selected.png");
  selectedDownSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_move_selected.png");
}

.roomEditButtonScale {
  upSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_scale.png");
  overSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_scale_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_scale_down.png");
  selectedUpSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_scale_selected.png");
  selectedOverSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_scale_selected.png");
  selectedDownSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_scale_selected.png");
}

.roomEditButtonPrefs {
  upSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_actions.png");
  overSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_actions_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_actions_down.png");
}

.roomEditButtonTrash {
  upSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_trash.png");
  overSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_trash_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_trash_down.png");
  disabledSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_trash_disabled.png");
  selectedUpSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_trash_selected.png");
  selectedOverSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_trash_selected.png");
  selectedDownSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_trash_selected.png");
}

.roomEditButtonUndo {
  upSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_undo.png");
  overSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_undo_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_undo_down.png");
  disabledSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_undo_disabled.png");
}

.roomEditButtonTrash3 {
  upSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_v3_trash.png");
  overSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_v3_trash_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_v3_trash_down.png");
  disabledSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_v3_trash_disabled.png");
}

.roomEditButtonUndo3 {
  upSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_v3_undo.png");
  overSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_v3_undo_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_v3_undo_down.png");
  disabledSkin: Embed(source="../../rsrc/media/skins/button/furniedit/button_v3_undo_disabled.png");
}

.roomEditPanelButton { 
  paddingBottom: 0;
  right: 0;
}

.roomEditLabel {
    color: #000000;
    themeColor: #54a9da;
    fontFamily: "Arial";
    fontSize: 9;
}

.roomEditNameLabel {
    color: #000000;
    themeColor: #54a9da;
    fontSize: 11;
    fontWeight: "bold";
}

.roomEditButtonExpand {
  upSkin: Embed(source="../../rsrc/media/skins/button/furniedit/rollout_plus.png");
  overSkin: Embed(source="../../rsrc/media/skins/button/furniedit/rollout_plus.png");
  downSkin: Embed(source="../../rsrc/media/skins/button/furniedit/rollout_plus.png");
  disabledSkin: Embed(source="../../rsrc/media/skins/button/furniedit/rollout_plus.png");
  selectedUpSkin: Embed(source="../../rsrc/media/skins/button/furniedit/rollout_minus.png");
  selectedOverSkin: Embed(source="../../rsrc/media/skins/button/furniedit/rollout_minus.png");
  selectedDownSkin: Embed(source="../../rsrc/media/skins/button/furniedit/rollout_minus.png");
  selectedDisabledSkin: Embed(source="../../rsrc/media/skins/button/furniedit/rollout_minus.png");
}

.roomEditAdvancedContainer { 
  borderStyle: "none";
  borderThickness: 0;
  borderThicknessLeft: 0;
  borderThicknessRight: 0;
  borderThicknessTop: 0;
  borderThicknessBottom: 0;
  paddingBottom: 0;
  paddingTop: 0;
  paddingLeft: 3;
  paddingRight: 3;
  horizontalGap: 0;
  verticalGap: 0;
  horizontalAlign: "center";
  verticalAlign: "middle";
}

.logonPanel {
  paddingRight: 2;
}

.volumeControl {
  backgroundSkin: Embed(source="../../rsrc/media/skins/controlbar/volume_background.png",
          scaleGridTop="1", scaleGridBottom="23",
          scaleGridLeft="1", scaleGridRight="31");
  backgroundSize: "100%";
  dropShadowEnabled: "true";
}

.avatarCellSelected { 
  backgroundColor: #54a9da;
}

.chatControl {  
  paddingLeft: 4;
  paddingRight: 4;
}

.chatInput {
    color: #000000;
    themeColor: #54a9da;
    fontFamily: "Arial";
    fontSize: 9;
}

.chatTargetButton {
    borderColor: #000000;
    fontWeight: "bold";
    fillAlphas: 1, 1;
    fillColors: #E6EEEE, #FFFFFF;
}

.headerBar {
  backgroundColor: #222222;
}

.locationName {
  fontSize: 14px;
  fontWeight: bold;
  color: white;
  textAlign: center;
}

.ownerNameBox, .headerEmbedBox {
  paddingBottom: 2px;
  paddingLeft: 5px;
  verticalAlign: bottom;
  horizontalGap: 0px;
}

.ownerName, .embedButton {
  fontSize: 10px;
  color: #AAB5B9;
}

.editButton {
  paddingLeft: 0;
  paddingRight: 0;
  paddingTop: 0;
  paddingBottom: 0;
} 

.plusButton {
  icon: Embed(source="../../rsrc/media/skins/button/furniedit/rollout_plus.png");
}

.minusButton {
  icon: Embed(source="../../rsrc/media/skins/button/furniedit/rollout_minus.png");
}

VScrollBar {
  cornerRadius: 4;
  borderColor: #cccccc;
  highlightAlphas: 0.18, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d2d8dc, #9ba8b0, #9ba8b0, #d2d8dc;
  themeColor: #ffcc66;
  trackColors: #d8bd8f, #e3cfab;
    downArrowDisabledSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollArrowDown_disabledSkin");
    downArrowDownSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollArrowDown_downSkin");
    downArrowOverSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollArrowDown_overSkin");
    downArrowUpSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollArrowDown_upSkin");
    thumbDownSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollThumb_downSkin");
    thumbIcon: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollBar_thumbIcon");
    thumbOverSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollThumb_overSkin");
    thumbUpSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollThumb_upSkin");
    trackSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollTrack_Skin");
    upArrowDisabledSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollArrowUp_disabledSkin");
    upArrowDownSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollArrowUp_downSkin");
    upArrowOverSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollArrowUp_overSkin");
    upArrowUpSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollArrowUp_upSkin");
}

HScrollBar {
  cornerRadius: 4;
  borderColor: #cccccc;
  highlightAlphas: 0.18, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d2d8dc, #9ba8b0, #9ba8b0, #d2d8dc;
  themeColor: #ffcc66;
  trackColors: #d8bd8f, #e3cfab;
}

Menu {
  openDuration: 0;
}

MenuBar {
  cornerRadius: 4;
  backgroundAlpha: 1;
  backgroundColor: #ffffff;
  fillAlphas: 1, 1;
  fillColors: #d2d8dc, #9ba8b0;
  rollOverColor: #c8d0d3;
  selectionColor: #54a9da;
  themeColor: #999999;
}

HRule {
  strokeColor: #d5dcdf;
  shadowColor: #9facb3;
  strokeWidth: 2;
}

LinkButton {
  rollOverColor: #d2d8dc;
  selectionColor: #54a9da;
}

ProgressBar {
  barColor: #54a9da;
}

ListBase {
  rollOverColor: #c8d0d3;
  selectionColor: #54a9da;
}

Tree {
  openDuration: 0;
}

.roomToolTip {
/** Crap, the fontSize=12 seems to fuck-up the background of the tooltip.
    Something to debug later.
  fontSize: 12;
  */
  backgroundColor: #000000;
}

.lobbyPanel, .borderedBox, .descriptionBox, .titleBox, .infoBox, .tablesBox, .tabsBox {
  horizontalGap: 0;
  verticalGap: 0;
}

.titleBox {
  borderStyle: "solid";
  borderThickness: 1px;
  borderSides: "right";
  borderColor: #000000;
}

.borderedBox {
  backgroundImage: Embed(source="../../rsrc/media/skins/box/border.png",
          scaleGridTop="4", scaleGridBottom="16",
          scaleGridLeft="4", scaleGridRight="16");
  backgroundSize: "100%";
}

.descriptionBox {
  paddingLeft: 4px;
  paddingRight: 4px;
  paddingTop: 4px;
}

.buttonBox {
  horizontalAlign: right;
  paddingRight: 4px;
  paddingBottom: 4px;
}

.lobbyLink {
  fontSize: 14px;
  verticalAlign: middle;
  color: white;
  textDecoration: underline;
}

.titleBox, .tabsFillerBox {
  backgroundColor: #222222;
}

.titleBox {
  verticalAlign: middle;
  paddingLeft: 4px;
  paddingRight: 4px;
}

.lobbyLogoBox {
  verticalAlign: middle;
  horizontalAlign: center;
}

.lobbyInfo {
  fontSize: 12;
  paddingLeft: 7;
  paddingRight: 7;
  paddingTop: 7;
  paddingBottom: 7;
}

.tabsBox {
  verticalAlign: bottom;
}

.tablesBox {
  paddingLeft: 4px;
  paddingRight: 4px;
  paddingBottom: 4px;
}

.lobbyTableList {
  borderThickness: 2px;
  borderStyle: "solid";
  borderColor: #E0E7EE;
  borderSides: "top";
  paddingTop: 0;
  paddingBottom: 0;
  paddingLeft: 0;
  paddingRight: 0;
}

.lobbyCloseBox {
  paddingLeft: 3px;
  paddingTop: 4px;
  paddingRight: 3px;
}

.headerCloseBox {
  paddingLeft: 3px;
  paddingTop: 4px;
  paddingRight: 3px;
  paddingBottom: 3px;
}

.closeButton {
  height: 13px;
  width: 13px;
  overSkin: Embed(source="../../pages/images/ui/close_over.png");
  disabledSkin: Embed(source="../../pages/images/ui/close.png");
  downSkin: Embed(source="../../pages/images/ui/close_down.png");
  upSkin: Embed(source="../../pages/images/ui/close.png");
  selectedOverSkin: Embed(source="../../pages/images/ui/close_over.png");
  selectedDisabledSkin: Embed(source="../../pages/images/ui/close.png");
  selectedDownSkin: Embed(source="../../pages/images/ui/close_down.png");
  selectedUpSkin: Embed(source="../../pages/images/ui/close.png");
}

.embedButton {
  height: 13px;
  width: 13px;
  overSkin: Embed(source="../../rsrc/media/skins/button/embed_over.png");
  disabledSkin: Embed(source="../../rsrc/media/skins/button/embed.png");
  downSkin: Embed(source="../../rsrc/media/skins/button/embed_down.png");
  upSkin: Embed(source="../../rsrc/media/skins/button/embed.png");
  selectedOverSkin: Embed(source="../../rsrc/media/skins/button/embed_over.png");
  selectedDisabledSkin: Embed(source="../../rsrc/media/skins/button/embed.png");
  selectedDownSkin: Embed(source="../../rsrc/media/skins/button/embed_down.png");
  selectedUpSkin: Embed(source="../../rsrc/media/skins/button/embed.png");
}

.floatingTableDisplay {
  paddingTop: 0px;
  paddingBottom: 0px;
  paddingLeft: 6px;
  paddingRight: 6px;
  borderThicknessLeft: 4px;
  borderThicknessRight: 4px;
}

.floatingTableRow {
  horizontalGap: 4;
  verticalGap: 0;
}

.backToLobbyBtnBox {
  paddingTop: 7px;
  paddingRight: 5px;
  verticalAlign: top;
}

.backToLobbyBtn {
  overSkin: Embed(source="../../rsrc/media/skins/button/backtolobby_over.png");
  disabledSkin: Embed(source="../../rsrc/media/skins/button/backtolobby.png");
  downSkin: Embed(source="../../rsrc/media/skins/button/backtolobby_down.png");
  upSkin: Embed(source="../../rsrc/media/skins/button/backtolobby.png");
  selectedOverSkin: Embed(source="../../rsrc/media/skins/button/backtolobby_over.png");
  selectedDisabledSkin: Embed(source="../../rsrc/media/skins/button/backtolobby.png");
  selectedDownSkin: Embed(source="../../rsrc/media/skins/button/backtolobby_down.png");
  selectedUpSkin: Embed(source="../../rsrc/media/skins/button/backtolobby.png");
}

.seatsGrid {
  horizontalGap: 4;
  verticalGap: 4;
}

.floatingTableRenderer, .listTableRenderer {
  horizontalGap: 4;
  verticalGap: 0;
}

.listTableRenderer {
  borderThickness: 2;
  borderStyle: "solid";
  borderColor: #E0E7EE;
  borderSides: "left right bottom";
}

.seatRenderer {
  verticalAlign: middle;
  borderThickness: 0;
  borderStyle: "none";
  horizontalGap: 2;
  paddingTop: 5px;
  paddingLeft: 2px;
  paddingRight: 2px;
  paddingBottom: 5px;
}

.nameLabel, .lobbyLabel {
  fontWeight: bold;
}

.createBtnBox {
  verticalAlign: middle;
  horizontalAlign: center;
  paddingRight: 0px;
  paddingLeft: 6px;
  paddingTop: 5px;
  paddingBottom: 5px;
}

.tableCreationPanel {
  verticalAlign: middle;
  borderThickness: 0;
  borderStyle: "none";
  paddingTop: 5px;
  paddingLeft: 5px;
  paddingRight: 5px;
  paddingBottom: 5px;
}

