Application {
  backgroundSize: "100%";
  backgroundColor: #b98c3b;
  backgroundGradientColors: #d7c39d, #403323;
  backgroundGradientAlphas: 0.83, 1;
  themeColor: #54a9da;
  color: #0b333c;
}

Panel {
  cornerRadius: 0;
  headerHeight: 20;
  borderThickness: 0;
  dropShadowEnabled: true;
  shadowDistance: 2;
  dropShadowColor: #443522;
  roundedBottomCorners: false;
  textAlign: left;
  backgroundAlpha: 1;
  borderAlpha: 1;
  highlightAlphas: 0, 0;
  borderStyle: undefined;
  headerColors: #413424, #5c4934;
  footerColors: #ffffff, #c7c7c7;
  backgroundColor: #ffffff;
  borderColor: #d6c09c;
  titleStyleName: "msoyTitleStyle";
}

.msoyTitleStyle {
  color: #d6c09c;
}


TabNavigator {
  tabHeight: 20;
  tabWidth: 71;
  cornerRadius: 3;
  horizontalGap: 0;
  horizontalAlign: left;
  paddingLeft: 3;
  paddingRight: 0;
  textAlign: left;
  textIndent: 0;
  backgroundAlpha: 1;
  backgroundColor: #b7c1c7;
  borderStyle: outset;
  borderThickness: 1;
  color: #000000;
  dropShadowEnabled: true;
  shadowDistance: 0;
  dropShadowColor: #000000;
  tabStyleName: "msoyTabs";
}

.msoyTabs {
  cornerRadius: 5;
  highlightAlphas: 0.53, 0;
  fillAlphas: 1, 1;
  fillColors: #dadfe3, #9eabb2;
  backgroundAlpha: 1;
  borderColor: #8d8f91;
  color: #000000;
  textRollOverColor: #ff009f;
  themeColor: #ff009f;
}

Accordion {
  headerHeight: 20;
  dropShadowEnabled: true;
  shadowDirection: center;
  borderStyle: solid;
  borderThickness: 5;
  backgroundAlpha: 0.41;
  highlightAlphas: 0, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #3e3123, #5c442d, #dbb56c, #fad58f;
  selectedFillColors: #453929, #5c4932;
  themeColor: #d8c49f;
  borderColor: #d8c49f;
  color: #d8c49f;
  textRollOverColor: #fd019f;
  textSelectedColor: #fd019f;
  openDuration: 225;
}

TextInput {
  backgroundAlpha: 1;
  color: #000000;
  borderStyle: inset;
  borderColor: #d5dcdf;
  borderThickness: 2;
  cornerRadius: 0;
  textIndent: 2;
  dropShadowEnabled: false;
}

NumericStepper {
  backgroundAlpha: 1;
  color: #000000;
  cornerRadius: 4;
  highlightAlphas: 0, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #dadfe3, #9eabb2, #dadfe3, #9eabb2;
  themeColor: #ff0099;
}

ComboBox {
  highlightAlphas: 0.26, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #dadfe3, #9eabb2, #9eabb2, #dadfe3;
  selectionColor: #ff0099;
  useRollOver: true;
  rollOverColor: #c8d0d3;
  themeColor: #ff0099;
}

CheckBox {
  borderColor: #403424;
  highlightAlphas: 0, 0;
  fillAlphas: 0, 0, 0.75, 0.65;
  fillColors: #403424, #403424, #ffffff, #eeeeee;
  themeColor: #ff0099;
}

RadioButton {
  borderColor: #403424;
  highlightAlphas: 0, 0;
  fillAlphas: 0, 0, 0.75, 0.65;
  fillColors: #403424, #403424, #ffffff, #eeeeee;
  themeColor: #ff0099;
}

HSlider {
  labelOffset: -8;
  thumbOffset: 0;
  dataTipOffset: 16;
  tickLength: 5;
  tickOffset: -3;
  tickThickness: 1;
  showTrackHighlight: false;
  themeColor: #ff0099;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d5dcdf, #9eabb2, #9eabb2, #d5dcdf;
}

Button {
  paddingBottom: 3;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d5dcdf, #9ba8b0, #9ba8b0, #d5dcdf;
  themeColor: #ff0099;
  disabledSkin: Embed(source="../../rsrc/media/skins/button/disabled.png",
          scaleGridTop="1", scaleGridBottom="19",
          scaleGridLeft="2", scaleGridRight="19");
  downSkin: Embed(source="../../rsrc/media/skins/button/selectedDown.png",
          scaleGridTop="1", scaleGridBottom="19",
          scaleGridLeft="2", scaleGridRight="19");
  overSkin: Embed(source="../../rsrc/media/skins/button/up.png",
          scaleGridTop="1", scaleGridBottom="19",
          scaleGridLeft="2", scaleGridRight="19");
  selectedDisabledSkin: Embed(source="../../rsrc/media/skins/button/disabled.png",
          scaleGridTop="1", scaleGridBottom="19",
          scaleGridLeft="2", scaleGridRight="19");
  selectedDownSkin: Embed(source="../../rsrc/media/skins/button/selectedDown.png",
          scaleGridTop="1", scaleGridBottom="19",
          scaleGridLeft="2", scaleGridRight="19");
  selectedOverSkin: Embed(source="../../rsrc/media/skins/button/selectedUp.png",
          scaleGridTop="1", scaleGridBottom="19",
          scaleGridLeft="2", scaleGridRight="19");
  selectedUpSkin: Embed(source="../../rsrc/media/skins/button/selectedUp.png",
          scaleGridTop="1", scaleGridBottom="19",
          scaleGridLeft="2", scaleGridRight="19");
  upSkin: Embed(source="../../rsrc/media/skins/button/up.png",
          scaleGridTop="1", scaleGridBottom="19",
          scaleGridLeft="2", scaleGridRight="19");
}

PopUpButton {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d5dcdf, #9ba8b0, #9ba8b0, #d5dcdf;
  themeColor: #ff0099;
}

ButtonBar {
  themeColor: #ff0099;
  buttonStyleName: "msoyButtonBar";
}

.msoyButtonBar {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d5dcdf, #9ba8b0, #9ba8b0, #d5dcdf;
}

.controlBar { 
  horizontalGap: 0;
  verticalGap: 0;
  borderStyle: "none";
  paddingBottom: 0;
  paddingTop: 0;
  paddingLeft: 0;
  paddingRight: 0;
}

.controlBarText { 
  color: #dddddd;
}

.controlBarButtons {
  fillAlphas: 0.6, 0.4;
}

.controlBarButtonAvatar {
  upSkin: Embed(source="../../rsrc/media/skins/controlbar/button_avatar.png");
  overSkin: Embed(source="../../rsrc/media/skins/controlbar/button_avatar_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/controlbar/button_avatar_down.png");
}

.controlBarButtonChat {
  upSkin: Embed(source="../../rsrc/media/skins/controlbar/button_chat.png");
  overSkin: Embed(source="../../rsrc/media/skins/controlbar/button_chat_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/controlbar/button_chat_down.png");
}

.controlBarButtonEdit {
  upSkin: Embed(source="../../rsrc/media/skins/controlbar/button_edit.png");
  overSkin: Embed(source="../../rsrc/media/skins/controlbar/button_edit_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/controlbar/button_edit_down.png");
  disabledSkin: Embed(source="../../rsrc/media/skins/controlbar/button_edit_disabled.png");
}

.controlBarButtonVolume {
  upSkin: Embed(source="../../rsrc/media/skins/controlbar/button_volume.png");
  overSkin: Embed(source="../../rsrc/media/skins/controlbar/button_volume_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/controlbar/button_volume_down.png");
}

.controlBarButtonGoBack {
  upSkin: Embed(source="../../rsrc/media/skins/controlbar/location_back.png");
  overSkin: Embed(source="../../rsrc/media/skins/controlbar/location_back_over.png");
  downSkin: Embed(source="../../rsrc/media/skins/controlbar/location_back_down.png");
  disabledSkin: Embed(source="../../rsrc/media/skins/controlbar/location_bookend.png");
}

.controlBarSpacer { 
  backgroundSkin: Embed(source="../../rsrc/media/skins/controlbar/footer_tile.png");
  backgroundSize: "100%";
  borderStyle: "none";
}

.controlBarLocationText {
  backgroundSkin: Embed(source="../../rsrc/media/skins/controlbar/location_tile.png");
  backgroundSize: "100%";
  borderStyle: "none";
}

.controlBarFooterLeft {
  backgroundSkin: Embed(source="../../rsrc/media/skins/controlbar/footer_left.png");
}

.controlBarFooterRight {
  backgroundSkin: Embed(source="../../rsrc/media/skins/controlbar/footer_right.png");
}

.controlBarBookend {
  backgroundSkin: Embed(source="../../rsrc/media/skins/controlbar/location_bookend.png");
}

.volumeControl {
  backgroundSkin: Embed(source="../../rsrc/media/skins/controlbar/volume_background.png",
          scaleGridTop="1", scaleGridBottom="23",
          scaleGridLeft="1", scaleGridRight="31");
  backgroundSize: "100%";
  dropShadowEnabled: "true";
}

.avatarCellSelected { 
  backgroundColor: #54a9da;
}

.chatInput {
    color: #000000;
    themeColor: #54a9da;
    fontFamily: "Arial";
    fontSize: 9;
}

.chatTargetButton {
    borderColor: #000000;
    fontWeight: "bold";
    fillAlphas: 1, 1;
    fillColors: #E6EEEE, #FFFFFF;
}

.chatControl {  
  paddingLeft: 4;
  paddingRight: 6;
}

VScrollBar {
  cornerRadius: 4;
  borderColor: #cccccc;
  highlightAlphas: 0.18, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d2d8dc, #9ba8b0, #9ba8b0, #d2d8dc;
  themeColor: #ffcc66;
  trackColors: #d8bd8f, #e3cfab;
    downArrowDisabledSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollArrowDown_disabledSkin");
    downArrowDownSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollArrowDown_downSkin");
    downArrowOverSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollArrowDown_overSkin");
    downArrowUpSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollArrowDown_upSkin");
    thumbDownSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollThumb_downSkin");
    thumbIcon: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollBar_thumbIcon");
    thumbOverSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollThumb_overSkin");
    thumbUpSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollThumb_upSkin");
    trackSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollTrack_Skin");
    upArrowDisabledSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollArrowUp_disabledSkin");
    upArrowDownSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollArrowUp_downSkin");
    upArrowOverSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollArrowUp_overSkin");
    upArrowUpSkin: Embed(source="../../rsrc/media/skins/silver.swf", symbol="ScrollArrowUp_upSkin");
}

HScrollBar {
  cornerRadius: 4;
  borderColor: #cccccc;
  highlightAlphas: 0.18, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #d2d8dc, #9ba8b0, #9ba8b0, #d2d8dc;
  themeColor: #ffcc66;
  trackColors: #d8bd8f, #e3cfab;
}

Menu {
  openDuration: 0;
}

MenuBar {
  cornerRadius: 4;
  backgroundAlpha: 1;
  backgroundColor: #ffffff;
  fillAlphas: 1, 1;
  fillColors: #d2d8dc, #9ba8b0;
  rollOverColor: #c8d0d3;
  selectionColor: #ff0099;
  themeColor: #999999;
}

HRule {
  strokeColor: #d5dcdf;
  shadowColor: #9facb3;
  strokeWidth: 2;
}

LinkButton {
  rollOverColor: #d2d8dc;
  selectionColor: #ff0099;
}

ProgressBar {
  barColor: #ff0099;
}

ListBase
{
  rollOverColor: #c8d0d3;
  selectionColor: #ff0099;
}

.roomToolTip {
/** Crap, the fontSize=12 seems to fuck-up the background of the tooltip.
    Something to debug later.
  fontSize: 12;
  */
  backgroundColor: #000000;
}

.lobbyPanel, .descriptionBox, .gameBox, .tablesBox, .tabsBox {
  horizontalGap: 0;
  verticalGap: 0;
}

.lobbyLink {
  fontSize: 15;
  verticalAlign: middle;
  color: #b4cbd7;
  textDecoration: underline;
}

.lobbyLogoBox {
  verticalAlign: middle;
  horizontalAlign: center;
}

.lobbyInfo {
  fontSize: 12;
  paddingLeft: 7;
  paddingRight: 7;
}

.lobbyGameName {
  fontSize: 15;
  fontWeight: bold;
  color: #b4cbd7;
}

.lobbyTabs {
  paddingLeft: 5;
  verticalAlign: bottom;
  tabStyleName: lobbyTabButton;
  selectedTabTextStyleName: lobbyTabSelectedText;
  tabHeight: 20;
}

.lobbyTabButton {
  color: #b4cbd7;
  textRollOverColor: #b4cbd7;
  overSkin: Embed(source="../../rsrc/media/skins/tab/unselected.png",
          scaleGridTop="3", scaleGridBottom="17",
          scaleGridLeft="3", scaleGridRight="9");
  selectedOverSkin: Embed(source="../../rsrc/media/skins/tab/selected.png",
          scaleGridTop="3", scaleGridBottom="17",
          scaleGridLeft="3", scaleGridRight="9");
  selectedUpSkin: Embed(source="../../rsrc/media/skins/tab/selected.png",
          scaleGridTop="3", scaleGridBottom="17",
          scaleGridLeft="3", scaleGridRight="9");
  upSkin: Embed(source="../../rsrc/media/skins/tab/unselected.png",
          scaleGridTop="3", scaleGridBottom="17",
          scaleGridLeft="3", scaleGridRight="9");
}

.lobbyTabSelectedText { 
  color: black;
}
