/**
 * $Id$
 *
 * CSS styles for the Game interfaces.
 */

.javaLoading {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  font-size: 24px;
}

.gameName .Name {
  font-weight: bold;
  font-size: 18px;
  width: 470px;
  white-space: nowrap;
  overflow: hidden;
}

.gameName .Genre {
  font-size: 12px;
  font-weight: bold;
}

.gameName .Descrip {
  font-size: 14px;
  overflow: hidden;
}

.gameBits .Title {
  padding-top: 10px;
  font-weight: bold;
  color: #5F96AC;
}

.gameBits .Label {
  padding-right: 5px;
}

.playPanel .Title {
  text-align: center;
  vertical-align: top;
  font-size: 18px;
}

.playPanel .Online {
  background: url(/images/game/players_bg.png) no-repeat;
  color: #FFFFFF;
  width: 134px;
  height: 21px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-top: 2px;
}

.playPanel .Button {
  width: 126px;
  height: 50px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.playPanel .SinglePlay {
  background: transparent url(/images/game/play_alone.png);
}
.playPanel .FriendPlay {
  background: transparent url(/images/game/play_friends.png);
}
.playPanel .SinglePlay-up-hovering {
  background: transparent url(/images/game/play_alone_over.png);
}
.playPanel .FriendPlay-up-hovering {
  background: transparent url(/images/game/play_friends_over.png);
}

.playPanel .NoSingle {
  width: 126px;
  font-size: 12px;
  text-align: center;
}

.playPanel .Label {
  font-size: 12px;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  padding-bottom: 5px;
}

.gameDetail {
  width: 100%;
}

.gameDetail .gameBits {
  font-size: 14px;
}

.gameDetail .Play {
  width: 255px;
}

.gameDetail .InDevTip {
  font-size: 12px;
  padding-bottom: 10px;
}

.instructionsPanel {
  padding: 5px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
}

.instructionsPanel img {
  display: inline;
}

.gameTrophyPanel .Grid {
  height: 340px;
}

.trophyDetail {
  font-size: 12px;
  width: 100%;
  padding: 2px;

  background-image: url(/images/whirled/bg_gradient.png);
  background-repeat: repeat-x;
  background-color: #F4F3F4;
}

.trophyDetail .Image {
  text-align: left;
  width: 65px;
  height: 60px;
}

.trophyDetail .Name {
  font-weight: bold;
}

.trophyDetail .Italic {
  font-style: italic;
}

.trophyDetail .Earned {
  font-style: italic;
  font-weight: bold;
}

.topRankingPanel .Grid {
  width: 100%;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
}

.topRankingPanel .Header {
  background-color: #F4F3F4;
  font-weight: bold;
  vertical-align: baseline;
}

.topRankingPanel .HeaderTip {
  background-color: #F4F3F4;
  text-align: right;
  vertical-align: baseline;
  font-size: 12px;
}

.topRankingPanel .Cell {
  border-top: 1px solid #DADADA;
}

.topRankingPanel .Self {
  font-weight: bold;
}

.topRankingPanel .Photo {
  width: 20px;
}

.topRankingPanel .Gap {
  width: 80px;
}

.topRankingPanel .Footer {
  border-top: 1px solid #DADADA;
  font-size: 12px;
  text-align: center;
}

.topRankingPanel .Note {
  padding: 5px;
}

.gameMetrics .Header {
  padding-top: 5px;
  font-weight: bold;
}

.gameMetrics .TinyNumber {
  font-size: xx-small;
  text-align: right;
}

.gameLogs {
  width: 100%;
}

.gameLogs .Table {
  width: 100%;
}

.gameLogs .Header {
  padding-top: 5px;
  font-weight: bold;
}

.trophyCase {
  width: 100%;
}

.whyPlay {
  width: 152px;
  font-size: 14px;
  padding: 10px 20px;
}

.whyPlay .Title {
  padding-bottom: 10px;
  font-weight: bold;
  color: #FFFFFF;
}

.whyPlay ul {
  padding-left: 25px;
  color: #3D5174;
}

.featuredGame {
  height: 242px;
  font-size: 14px;
}

.featuredGame .SashBox {
  position: relative;
}

.featuredGame .Sash {
  position: absolute;
  left: -10px;
  top: -10px;
}

.featuredGame .gameBits {
  font-size: 12px;
}

.featuredGame .playPanel {
  margin-left: 15px;
}

.featuredGame .gameName .Descrip {
  width: 285px;
  height: 65px;
}

.featuredGame .gameName .Name {
  width: 285px;
  white-space: nowrap;
  overflow: hidden;
}

.gameEntry {
  border-bottom: 1px solid #DADADA;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  width: 100%;
  height: 68px;
}

.gameEntry .Thumb {
  width: 80px;
  height: 40px;
  padding-right: 5px;
}

.gameEntry .Name .actionLabel {
  font-size: 12px;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
}

.gameEntry .Descrip {
  font-size: 10px;
  color: #AABDC8;
}

.gameEntry .Players {
  font-size: 10px;
}

.trophyCompare {
}

.trophyCompare .Row {
  border-top: 1px solid;
}

.trophyCompare .Descrip {
  font-size: 12px;
  width: 300px;
}

.trophyCompare .Descrip .Trophy {
  font-size: 16px;
  font-weight: bold;
}

.trophyCompare .Earned {
  font-size: 14px;
}

.trophyCompare .Italic {
  font-style: italic;
}


/* ------------------------------------
   ARCADE / MAIN GAMES PAGE
-------------------------------------*/

.arcade {
  background: #61abd0 url(/images/whirled/bg_gradient_long_blue.png) repeat-x;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #407a9f;
  width: 100%;
  height: 1400px;
}

.arcade .featuredGame {
  left: 225px;
  top: 20px;
}

.arcade .BrowseGenresTitle {
  position: absolute;
  left: 225px;
  top: 340px;
  width: 450px;
  text-align: right;
  background: url(/images/game/browse_genres_title_bg.png) repeat-x bottom center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  padding-bottom: 5px;
}

.arcade .BrowseGenres {
  background: #bee1f5 url(/images/game/browse_genres_bg.png) no-repeat top center;
  position: absolute;
  left: 225px;
  top: 380px;
  width: 450px;
}

.arcade .BrowseGenres .ViewAllGames {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #1d5884;
  background: url(/images/game/view_all_games_bg.png) no-repeat center right;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  text-align: right;
  clear: both;
}

.arcade .BrowseGenres div:hover.ViewAllGames,
.arcade .BrowseGenres div:active.ViewAllGames  {
  text-decoration: underline;
}

.arcade .GenreBox {
  width: 210px;
  height: 185px;
  float: left;
  margin: 10px 0 0 10px;
  background-color: #FFFFFF;
}

.arcade .GenreBox .Header {
  background-color: #5cace7;
  height: 25px;
}

.arcade .GenreBox .Header img {
  float: left;
  margin: 2px 5px 0 5px;
}

.arcade .GenreBox .Header .actionLabel {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  float: left;
  margin: 3px 0 0 0;
}

.arcade .GenreBox .GenreGame {
  height: 37px;
}

.arcade .GenreBox .GenreGame .thumbBox {
  margin: 0 5px 5px 25px;
  float: left;
  border: solid #CCCCCC 1px;
}

.arcade .GenreBox .GenreGame .Name {
  color: #1a5984;
  width: 115px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
  font-size: 13px;
}

.arcade .GenreBox .First {
  height: 70px;
}

.arcade .GenreBox .First  .thumbBox {
  margin: 5px 5px 5px 5px;
  border: none;
}

.arcade .GenreBox .First  .Name {
  margin-top: 5px;
  color: #000000;
  width: 115px;
}

.arcade .GenreBox .First .Description {
  font-size: 11px;
  float: left;
  overflow: hidden;
  width: 115px;
  height: 45px;
  color: #acbdc7;
}

.arcade .BrowseGenres .ViewAll {
  font-size: 11px;
  text-align: right;
  padding-right: 10px;
}

.arcade .BrowseGenres .ViewAll a {
  color: #1a5984;
}

/* ------------------------------------
   ARCADE - TOP GAMES
-------------------------------------*/

.arcade .TopGames {
  width: 200px;
  position: absolute;
  left: 10px;
  top: 100px;
}

.arcade .TopGames .TopGameWidget {
  border-bottom: solid #bfdaef 1px;
  background-color: white;
  width: 200px;
  height: 45px;
}

.arcade .TopGames .Number {
  background: url(/images/game/top_games_num_bg.png) repeat-x top center;
  color: #84b0d3;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 25px;
  height: 30px;
  float: left;
  border-left: solid #5d8db1 1px;
  border-right: solid #5d8db1 1px;
  border-bottom: solid #5d8db1 1px;
  padding-top: 15px;
}

.arcade .TopGames .thumbBox {
  float: left;
  width: 40px;
  height: 31px;
  text-align: center;
  padding: 7px;
}

.arcade .TopGames .Name {
  float: left;
  width: 110px;
  color: #1c5988;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 15px;
}

.arcade .TopGames .Name .actionLabel {
  text-decoration: none;
}

.arcade .TopGames .TopGameWidget:hover .Name .actionLabel {
  text-decoration: underline;
}

/* ------------------------------------
   FEATURED GAME PANEL
-------------------------------------*/

.featuredGame {
  background: url(/images/game/featured_game_bg.png) no-repeat top center;
  height: 225px;
  width: 450px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 13px;
}

.featuredGame .Online {
  background: url(/images/game/featured_game_online_bg.png) no-repeat top center;
  width: 170px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  padding-top: 1px;
}

.featuredGame .PrevButton {
  position: absolute;
  left: 20px;
  top: 198px;
}

.featuredGame .NextButton {
  position: absolute;
  left: 120px;
  top: 198px;
}

.featuredGame .Name {
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.featuredGame .Genre {
  color: #90b8d1;
  font-size: 14px;
  font-weight: bold;
}

.featuredGame .creator,
.featuredGame .creator a {
  color: #90b8d1;
  font-size: 11px;
  font-weight: normal;
}

.featuredGame .Description {
  width: 230px;
  height: 50px;
  overflow: hidden;
}

/* ------------------------------------
   GENRE GAMES LIST / ALL GAMES PAGE
-------------------------------------*/

.gameGenre {
  background-color: #1d5884;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 100%;
  min-height: 100%;
  color: #407a9f;
}

.gameGenre .Games {
  margin: 20px 10px 0 10px;
  width: 665px;
}

.gameGenre .Games .Header {
  background-position: top center;
}

.gameGenre .Games .Header .TopLeft,
.gameGenre .Games .Header .TopRight {
  background-color: #1d5884;
  height: 29px;
}

.gameGenre .Games .Header .SortBy {
  padding-right: 5px;
  width: 50px;
}

.gameGenre .Games .Header td.Info {
  width: 450px;
}

.gameGenre .Games .Titles {
  background-color: #FFFFFF;
  height: 25px;
  border-bottom: solid #aac4d1 1px;
}

.gameGenre .Games .Titles div {
  position: absolute;
  margin-top: 5px;
  color: #000000;
  text-decoration: underline;
  font-size: 13px;
  font-weight: bold;
}

.gameGenre .Games .Titles .NameTitle {
  left: 108px;
}

.gameGenre .Games .Titles .RatingTitle {
  left: 310px;
}

.gameGenre .Games .Titles .CategoryTitle {
  left: 410px;
}

.gameGenre .Games .Titles .NowPlayingTitle {
  left: 505px;
}

.gameGenre .GameInfoPanel {
  background-color: #FFFFFF;
  width: 100%;
  padding: 5px 0;
}

.gameGenre .Alternating .GameInfoPanel {
  background-color: #ddeef8;
}

.gameGenre .GameInfoPanel .Thumbnail {
  width: 90px;
}

.gameGenre .GameInfoPanel .NameDesc {
  width: 200px;
}

.gameGenre .GameInfoPanel .Name {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 5px;
}

.gameGenre .GameInfoPanel .Description {
  font-size: 11px;
  width: 180px;
  height: 45px;
  overflow: hidden;
}

.gameGenre .GameInfoPanel .Rating {
  width: 95px;
}

.gameGenre .GameInfoPanel .Rating .NumRatings {
  font-size: 11px;
  color: #000000;
  font-style: italic;
}

.gameGenre .GameInfoPanel .Category {
  width: 100px;
}

.gameGenre .GameInfoPanel .NowPlaying {
  text-align: center;
}

.gameGenre .GameInfoPanel .PlayButtons {
  width: 100px;
}

.gameGenre .GameInfoPanel .PlayButtons .PlaySingleButton .html-face {
  font-size: 12px;
  padding-top: 3px;
}

.gameGenre .GameInfoPanel .PlayButtons .PlayMultiButton .html-face {
  font-size: 10px;
  padding-top: 5px;
}

/* ------------------------------------
   GAMES PAGES HEADER
-------------------------------------*/

.gameHeaderPanel {
  height: 80px;
}

.gameHeaderPanel .GenreTitle {
  position: absolute;
  top: 0;
  left: 10px;
  width: 233px; /* plus padding */
  height: 59px;
  white-space: nowrap;
  overflow: hidden;
  background: transparent url(/images/game/genre_title.png) no-repeat top center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 26px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 5px;
  padding-right: 55px;
}

.gameHeaderPanel .FindGame {
  position: absolute;
  top: 5px;
  left: 305px;
}

.gameHeaderPanel .FindGame .Title,
.gameHeaderPanel .Search .Title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 120px;
  color: #a6cae2;
  margin-bottom: 3px;
}

.gameHeaderPanel .FindGame select {
  width: 160px;
}

.gameHeaderPanel .Search {
  position: absolute;
  top: 5px;
  left: 470px;
}

.gameHeaderPanel .Search input {
  width: 150px;
}

.gameHeaderPanel .Search .GoButton {
  position: absolute;
  bottom: 1px;
  left: 160px;
}

.gameHeaderPanel .GenreLinks {
  width: 100%;
  text-align: center;
  color: #b4ddf9;
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 65px;
}

.gameHeaderPanel .GenreLinks a {
  color: #b4ddf9;
  margin: 0 5px 0 5px;
}

/* ------------------------------------
   PLAY BUTTON
-------------------------------------*/

.playButtonLarge {
  width: 182px;
  height: 74px;
  border: none;
  cursor: pointer;
  text-align: center;
  background: transparent url(/images/game/play_button.png);
}

.playButtonLarge-down-hovering {
  background: transparent url(/images/game/play_button_down.png);
}

.playButtonLarge-up-hovering {
  background: transparent url(/images/game/play_button_over.png);
}

.playButtonMedium {
  width: 120px;
  height: 44px;
  cursor: pointer;
  background: transparent url(/images/game/play_button_small.png);
}

.playButtonMedium-down-hovering {
  background: transparent url(/images/game/play_button_small_down.png);
}

.playButtonMedium-up-hovering {
  background: transparent url(/images/game/play_button_small_over.png);
}

/** .playButtonSmall is a normal button */
