.longThinOrangeButton {
  disabledSkin: Embed(source="../../pages/images/ui/orange/long_thin_disabled.png");
  downSkin: Embed(source="../../pages/images/ui/orange/long_thin.png");
  overSkin: Embed(source="../../pages/images/ui/orange/long_thin_over.png");
  upSkin: Embed(source="../../pages/images/ui/orange/long_thin.png");
  color: #FFFFFF;
  textRollOverColor: #FFFFFF;
  textSelectedColor: #FFFFFF;
  disabledColor: #CCCCCC;
  fontSize: 12;
}

.oldCheckBox {
    borderColor: #403424;
    highlightAlphas: 0, 0;
    fillAlphas: 0, 0, 0.75, 0.65;
    fillColors: #403424, #403424, #ffffff, #eeeeee;

    upIcon: ClassReference(null);
    downIcon: ClassReference(null);
    overIcon: ClassReference(null);
    selectedUpIcon: ClassReference(null);
    selectedOverIcon: ClassReference(null);
    selectedDownIcon: ClassReference(null);
    color: black;
    textRollOverColor: black;
    textSelectedColor: black;
}
