.headerMid {
  backgroundImage: Embed(source="../../pages/images/ui/box/header_tile.png");
  backgroundSize: "100%";
}

.mixButton {
  fontWeight: "normal";
}

CommandLinkButton {
  color: #000000;
  textRollOverColor: #4aabcf;
}
