/* TakeSurveyPanel */

.takeSurvey {
  font-size: 13px;
}

.takeSurvey .name {
  font-size: 18px;
  font-weight: bold;
}

.takeSurvey tr.question {
  background: #dbeffc;
}

.takeSurvey td.text {
  width: 90%;
}

.takeSurvey td.optional {
  width: 10%;
  text-align: right;
  font-size: 10px;
}

.takeSurvey tr.response td.ui {
  padding-bottom: 20px;
}

/* EditSurveyPanel */

.editSurveys {
  font-size: 14px;
}

.editSurveys tr.header {
  background: #ff992b;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.editSurveys .surveys .table td.col0 { /* name */
  width: 80%;
}

.editSurveys .surveys .table tr.row1 {
  background: #dbeffc;
}

.editSurveys .survey .questions tr.row1 {
  background: #dbeffc;
}

.editSurveys .survey .questions td.col0 { /* text */
  width: 65%;
}

.editSurveys .question .fieldsTable .choices  tr.row1 {
  background: #dbeffc;
}

.editSurveys .question .fieldsTable td.choicesLabel {
  vertical-align: top;
}

.editSurveys .question .fieldsTable .choices td.choice {
  width: 90%;
}
