[Request] Player ${memberId} (${name})
${name} wants to cash out: ${url}
${name}'s transactions: ${server_url}go/me-transactions__${memberId}

---
This is an automated mailing sent whenever a player requests to cash out Bling.
