Request to delete your Whirled account

${name},

Follow the link below to go to the confirmation page and delete your account.
(If your mail reader does not show the link as clickable, copy and paste the
link into the address bar on your browser.) You will have to be logged into
Whirled to view the confirmation page. Once you get there, you will need to
retype your password to finalize the deletion.

${server_url}go/account-delete_$code
