## Expands the list of feed categories in $feed into a text listing.
What you've been missing on Whirled, $name!
New and recently staff picked Games:
#foreach ($game in $games)
    * $game.name
      $server_url#games-d_$game.gameId

#end
    See more games on Whirled:
    $server_url#games

New and recently staff picked Avatars:
#foreach ($avi in $avatars)
    * $avi.name
      $server_url#shop-l_5_$avi.catalogId

#end
    See more avatars on Whirled:
    $server_url#shop-5_7_

#if ($feed)
Your News Feed; Here are a few things that have been happening on Whirled.

#foreach ($cat in $feed)
#if ($cat.items.size() > 0)
$cat.CategoryName
#foreach ($item in $cat.items)
 * $item.PlainText
#end

#end
#end

You can also see this feed on your Whirled home page here:

$server_url#me
#end
Come on back and get in the game!
