Validate your Whirled account
Hello,

You can validate your account ($email) by clicking on the link below:

${server_url}go/landacc-regv_${memberId}_${code}

If you have problems clicking on the link, please copy the entire URL and paste
it into your browser.

Thanks,

The Keepers of the Peas at http://whirled.com/
