Validate your Whirled account
Hello,

You can validate your address ($email) by clicking on the link below:

${server_url}go/account-reg_v_${memberId}_${code}

If you have problems clicking on the link, please copy the entire URL and paste
it into your browser.

Once you have validated your address, you can finish the registration process.

Thanks,

The Keepers of the Peas at http://whirled.com/
