Whirled password reset request
Hello,

We received a request to reset the password on your "$email" account. You
can visit this URL to do so:

${server_url}#account-resetpw_${memberId}_${code}

If you did not request to have your password changed, you may disregard this
email. Your password has not yet been changed, and will only be changed if you
visit the URL above.

Respectfully,

The Keepers of the Peas
