Whirled Mail: ${subject}
You received a Whirled mail from ${sender}:

#if (${body})
"${body}"

#end
To read the message in its entirety and see any attachments, please go to:

${server_url}go/mail

----
If you no longer wish to receive email when you receive a Whirled mail, simply
log in and configure your email preferences from "Me -> My Account".
