Join Three Rings in creating the First Whirled
Greetings!

You are cordially invited to participate in the closed alpha test of Whirled,
Three Rings' exciting new online social world for chat, games and
player-created content.

An account has been created for you which you can use to access the First
Whirled here:

http://first.whirled.com/

Username: ${username}
Password: ${password}

Because the project is in an early stage, we are asking that participants not
share information about Whirled with anyone, or post about it publicly. Please
also do not give out your logon information (not a good idea in any
circumstance).

When we are comfortable that things are more stable, we will be giving
additional invitations to you (the alpha testers) to help decide who else gets
to share in the fun!

Hope to see you there,

The Keepers of the Peas
