You have been invited to join Whirled
You have been invited to join Three Rings' exciting new player-created online
world filled with games, chat and adventure.

#if ($friend)
${friend} <${email}> sent you this invitation and said:

"${custom_message}"
#else
Please note, Whirled is still in closed alpha. Please do not post about it to
forums and blogs -- as members of the Alpha Elite you are sworn to secrecy!
#end

You can create an account by activating your invitation here:

${server_url}/#account-invite_${invite_id}

-- The Keepers of the Peas


--------
#if ($friend)
If you would prefer not to receive invitations to Whirled from your friends,
please visit this link:

${server_url}/#account-optout_${invite_id}
#else
This invitation is a result of this email address having been submitted at
http://www.threerings.net/whirled/ for inclusion in Whirled testing. If you've
received this email in error please accept our apologies and ignore it. If you
do not create an account using this invitation to Whirled you will not receive
further email.
#end
