Join Three Rings in creating the First Whirled
${custom_message}

You can create an account to access the First Whirled by activating this 
invitation here:

${server_url}/#invite-${invite_id}

Because the project is in an early stage, we are asking that participants not
share information about Whirled with anyone, or post about it publicly. Please
also do not give out your logon information (not a good idea in any
circumstance).

When we are comfortable that things are more stable, we will be giving
additional invitations to you (the alpha testers) to help decide who else gets
to share in the fun!

Hope to see you there,

The Keepers of the Peas


------------------------------------------
If you would prefer not to receive invitations to Whirled from your friends,
please visit this link:

${server_url}/#optout-${invite_id}
