You have been invited to join Three Rings' exciting new player-created online
world filled with games, chat and adventure.

${friend} <${email}> sent you this invitation and said:

"${custom_message}"

You can create an account by activating your invitation here:

${server_url}/#invite-${invite_id}

-- The Keepers of the Peas


------------------------------------------
If you would prefer not to receive invitations to Whirled from your friends,
please visit this link:

${server_url}/#optout-${invite_id}
