Whirled Postcard: ${subject}
You got a Whirled Postcard from ${sender}!

${title}

${snap_url}
#if (${caption})

"${caption}"
#end

You can visit this room at http://www.whirled.com/#world-s${scene_id}

This email was sent by ${sender_email} from http://whirled.com/
