Validate your Whirled account
Hello,

You can validate your Whirled account (registered to $email) by clicking on the link below:

${server_url}#account-validate_${memberId}_${code}

Once you have validated your address, you will have full access to all of
Whirled's fabulous features!

Thanks,

The Keepers of the Peas at http://whirled.com/
