Validate your Whirled account
Hello,

You can validate your Whirled account (registered to $email) by clicking on the link below:

${server_url}go/account-v_${memberId}_${code}

If you have problems clicking on the link, please copy the entire URL and paste
it into your browser.

Once you have validated your address, you will have full access to all of
Whirled's fabulous features!

Thanks,

The Keepers of the Peas at http://whirled.com/
