${name} wants you to see this Whirled room
#if (${message})
"${message}"

#end
Check out this Whirled room:

${link}

(If the link doesn't work, try copying and pasting it from this email into your
browser's address bar.)

Hope you like it!

-- ${name}
