${inviter} wants you to play ${name}
#if (${message})
"${message}"

#end
Check out this game in Whirled called "${name}":

${link}

(If the link doesn't work, try copying and pasting it from this email into your
browser's address bar.)

Hope you like it!

-- ${inviter}
