## TODO: Handle guests sending 
${name} wants you to see this Whirled room
Hi,

I want to share this Whirled room with you. You should come visit  it:

${link}
(If this link doesn't work, try copying and pasting it from this email 
 into your browser's address bar.)

#if (${message})
"${message}"

#end
Hope you like it!

-- ${name}
