Whirled: "${reqsub}"
Hello!

A reply as been posted to your support request:

"${reqsub}"

You can view this reply in the "Contact Us" section of the "Help" page:

${server_url}/#support

Thanks,

The Keepers of the Peas
