/**
 * $Id$
 *
 * CSS styles shared (really) )globally. DO NOT put GWT stylings in here.
 * Global GWT stylings go in gwt.css.
 */

html, body {
  height: 100%;
  margin: 0;
  border: none;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
}

a.external {
  background: url(/images/ui/external.png) center right no-repeat;
  padding-right: 16px;
}

/** These are for iframe-based RichTextArea editing. */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

pre {
  background: #D8F2FE;
  font-size: 12px;
  padding: 1px 15px;
  margin: 0px;
}

blockquote {
  border: 1px solid #999999;
  background: #EDEDED;
  font-size: 12px;
  padding: 5px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}
