/**
 * CSS styles shared by all GWT stuff.
 */

img, embed, applet, object {
  display: block; /* no descender padding thanks */
}

/** Make GWT display some sensible defaults. */
.gwt-TabBar .gwt-TabBarItem {
  border: 1px solid;
  padding: 5px;
  background: #CCCCFF;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  border: 2px solid;
  background: #6699CC;
}

.gwt-TabPanelBottom {
  padding: 5px;
}

.gwt-MenuBar {
  background-color: white;
  border: 1px solid black;
  cursor: default;
  font-size: 14px;
}

.gwt-MenuItem-selected {
  background-color: lightblue;
}

.gwt-MenuBar a {
  text-decoration: none;
  color: black;
  cursor: default;
}

.gwt-MenuBar .Disabled {
  color: gray;
}

.gwt-Image {
  margin-left: auto;
  margin-right: auto;
}

.gwt-Hyperlink img {
  display: inline;
  vertical-align: middle;
}

.gwt-Button {
  background-image: url(/images/ui/button_middle.png);
  background-repeat: repeat-x;
  background-position: center;
  border: 1px solid #404040;
  font-size: 12px;
  vertical-align: middle;
  cursor: pointer;
  height: 19px;
  margin: 0px;
  padding-bottom: 1px;
  white-space: nowrap;
}

/** Various global bits. */
.tinyButton {
  font-size: 8px;
  min-height: 12px;
}

.orangeButton {
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: center;
  white-space: nowrap;
}

.blueButton {
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: center;
  white-space: nowrap;
}

.backButton-up-hovering {
  background-image: url(/images/ui/back_over.png);
}

.backButton-down-hovering {
  background-image: url(/images/ui/back_down.png);
}

.shortThinOrangeButton, .mediumThinOrangeButton, .longThinOrangeButton {
  font-size: 15px;
  height: 25px;
  padding-top: 4px;
}

.mediumThinBlueButton .longThinBlueButton {
  font-size: 15px;
  height: 25px;
  padding-top: 4px;
}

.shortThickOrangeButton, .mediumThickOrangeButton, .longThickOrangeButton {
  font-size: 28px;
  height: 40px;
  padding-top: 4px;
}

.shortThinOrangeButton {
  background-image: url(/images/ui/orange/short_thin.png);
  width: 78px;
}
.shortThinOrangeButton-up-hovering, .shortThinOrangeButton-down-hovering {
  background-image: url(/images/ui/orange/short_thin_over.png);
  cursor: pointer;
}

.mediumThinOrangeButton {
  background-image: url(/images/ui/orange/medium_thin.png);
  width: 92px;
}
.mediumThinOrangeButton-up-hovering, .mediumThinOrangeButton-down-hovering {
  background-image: url(/images/ui/orange/medium_thin_over.png);
  cursor: pointer;
}

.mediumThinBlueButton {
  background-image: url(/images/ui/blue/medium_thin.png);
  width: 92px;
}
.mediumThinBlueButton-up-hovering, .mediumThinBlueButton-down-hovering {
  background-image: url(/images/ui/blue/medium_thin_over.png);
  cursor: pointer;
}

.longThinOrangeButton {
  background-image: url(/images/ui/orange/long_thin.png);
  width: 120px;
}
.longThinOrangeButton-up-hovering, .longThinOrangeButton-down-hovering {
  background-image: url(/images/ui/orange/long_thin_over.png);
  cursor: pointer;
}
.longThinOrangeButton-up-disabled {
  background-image: url(/images/ui/orange/long_thin_disabled.png);
  color: #CCCCCC;
}

.longThinBlueButton {
  background-image: url(/images/ui/blue/long_thin.png);
  width: 120px;
}
.longThinBlueButton-up-hovering, .longThinBlueButton-down-hovering {
  background-image: url(/images/ui/blue/long_thin_over.png);
  cursor: pointer;
}

.shortThickOrangeButton {
  background-image: url(/images/ui/orange/short_thick.png);
  width: 102px;
}
.shortThickOrangeButton-up-hovering, .shortThickOrangeButton-down-hovering {
  background-image: url(/images/ui/orange/short_thick_over.png);
  cursor: pointer;
}

.mediumThickOrangeButton {
  background-image: url(/images/ui/orange/medium_thick.png);
  width: 120px;
}
.mediumThickOrangeButton-up-hovering, .mediumThickOrangeButton-down-hovering {
  background-image: url(/images/ui/orange/medium_thick_over.png);
  cursor: pointer;
}

.longThickOrangeButton {
  background-image: url(/images/ui/orange/long_thick.png);
  width: 146px;
}
.longThickOrangeButton-up-hovering, .longThickOrangeButton-down-hovering {
  background-image: url(/images/ui/orange/long_thick_over.png);
  cursor: pointer;
}

.closeButton {
  background-image: url(/images/ui/close.png);
  width: 18px;
  height: 18px;
}

.closeButton-hovering {
  background-image: url(/images/ui/close_over.png);
}

.gwt-PushButton {
  text-align: center;
  vertical-align: middle;
}

.gwt-PushButton input {
  border: none;
}

.gwt-PushButton-up-hovering, .gwt-PushButton-down-hovering {
  cursor: pointer;
}

.gwt-ToggleButton {
  text-align: center;
}

.gwt-ToggleButton-up {
}

.gwt-ToggleButton-up-hovering {
  background: #CCCCCC;
  cursor: pointer;
}

.gwt-ToggleButton-down {
  background: #999999;
}

.gwt-ToggleButton-down-hovering {
  background: #CCCCCC;
  cursor: pointer;
}

.gwt-TextBox {
  background: #E9F6FB;
}

.gwt-PasswordTextBox {
  background: #E9F6FB;
}

.gwt-TextArea {
  background: #E9F6FB;
}

.gwt-ListBox {
  background: #E9F6FB;
}

.gwt-FileUpload {
  background: #E9F6FB;
}

.gwt-RichTextToolbar {
  margin-bottom: 5px;
}

/** Box with rounded header */
.headerBox .Corner {
  width: 10px;
  height: 25px;
}

.headerBox .Title {
  background: url(/images/ui/box/header_tile.png) repeat-x;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}

.headerBox .Title img, .headerBox .Title div {
  display: inline;
  vertical-align: middle;
}

.headerBox .Title img {
  padding-right: 5px;
}

.headerBox .Contents {
  background: #FFFFFF;
}

/** Box with rounded borders but no header */
.roundBox .Corner {
  width: 10px;
  height: 10px;
}

.roundBox .Center {
  padding: 0px 0px 0px 0px;
}

.roundBox .WhiteCenter, .roundBox .WhiteSide {
  background: #FFFFFF;
}

.roundBox .BlueCenter, .roundBox .BlueSide {
  background: #E8F5FE;
}

.roundBox .DarkBlueCenter, .roundBox .DarkBlueSide {
  background: #3F8EBA;
}

.roundBox .MediumBlueCenter, .roundBox .MediumBlueSide {
  background: #C9E9FE;
}

/** Promotion box. */
.promoBox {
  font-size: 12px;
}

/** Misc styles. */
.tongueBox {
  width: 100%;
}

.tongueBox .THeader {
  width: 100%;
}

.tongueBox .THeader .Base {
  background: url(/images/ui/tongue_base.png) #49A1E7 no-repeat left;
  padding-left: 10px;
  padding-bottom: 0;
  height: 28px;
}

.tongueBox .THeader .Base,
.tongueBox .THeader .Base .BaseContents .BaseText {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  color: white;
}

.tongueBox .THeader .Base a {
  color: white;
}

.tongueBox .THeader .Base .BaseContents .BaseText {
  padding-left: 10px;
}

.tongueBox .THeader .Line {
  background: url(/images/ui/tongue_tip.png) no-repeat left;
  width: 100%;
  padding-left: 10px;
}

.tongueBox .TContent {
  padding: 10px;
}

.tongueBox .TFooter {
  font-size: 12px;
  padding: 0px 10px 10px 0px;
}

.formPanel td {
  vertical-align: top;
}

.formPanel .Intro {
  width: 600px;
}

.formPanel .Tip {
  font-size: 12px;
  width: 300px;
}

.formPanel .Status {
  width: 600px;
}

.formPanel .Error {
  color: red;
}

.imageChooser {
  padding: 10px;
  width: 670px;
}

.imageChooser .Title {
  font-size: 16px;
}

.imageChooser .Photo {
  padding: 5px;
}

.imageChooser .Or {
  font-size: 18px;
  text-align: center;
  padding: 10px 0px;
}

.imageChooser .ItemPreview {
  background-image: url(/images/item/detail_preview_bg.png);
  width: 320px;
  height: 240px;
}

/** Standard paged grid configuration. */
.pagedGrid .Header, .pagedGrid .Footer {
  background: url(/images/ui/grid_header_tile.png) repeat-x left;
  color: #487999;
  height: 29px;
}

.pagedGrid .Header .TopLeft {
  background: white url(/images/ui/grid_header_left.png) no-repeat left;
  width: 26px;
}

.pagedGrid .Header .TopRight {
  background: white url(/images/ui/grid_header_right.png) no-repeat right;
  width: 26px;
}

.pagedGrid .Footer .BottomLeft {
  background: white url(/images/ui/grid_footer_left.png) no-repeat left;
  width: 26px;
}

.pagedGrid .Footer .BottomRight {
  background: white url(/images/ui/grid_footer_right.png) no-repeat right;
  width: 26px;
}

.pagedGrid .BareFooter, .pagedGrid .EndCap {
  border-top: 1px solid #DADADA;
}

.pagedGrid .BareFooter {
  padding-top: 2px;
}

.pagedGrid .Info {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

.pagedGrid .Prev, .pagedGrid .Next {
  width: 55px;
}

.pagedGrid .Info .Page {
  padding: 0px 2px;
}

.pagedGrid .Info .Link {
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
  padding: 0px 2px;
}

.pagedGrid .Info .Current {
  font-weight: bold;
}

.pagedGrid .Button {
  font-size: 12px;
  width: 51px;
  height: 19px;
  vertical-align: top;
  padding-top: 0px;
  padding-bottom: 1px;
  cursor: pointer;
  border: 0px none;
}

.pagedGrid .Button[disabled] {
  cursor: default;
}

.pagedGrid .PrevButton {
  text-align: right;
  padding-right: 8px;
  background: url(/images/ui/button_prev.png) transparent;
}

.pagedGrid .NextButton {
  text-align: left;
  padding-left: 8px;
  background: url(/images/ui/button_next.png) transparent;
}

.pagedGrid .Empty {
  padding: 5px;
  text-align: center;
}

.dottedGrid .Grid {
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
}

.dottedGrid .Grid .Cell {
  background-image: url(/images/whirled/bg_gradient.png);
  background-repeat: repeat-x;
  background-color: #F4F3F4;
}

.dottedGrid .Grid .TopCell, .dottedGrid .Grid .MiddleCell {
  border-bottom: 1px solid #DADADA;
}

.dottedGrid .Empty {
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
}

/** Configuration for our bordered popup window */
.borderedPopup {
  background: #FFFFFF;
}

.borderedWidget {
  border: 1px solid #0D4163;
}

.borderedWidget .Inner {
  border: 2px solid #357197;
}

/** First the four verticals */
.borderedHP .westOut {
  background-image: url(/images/ui/quads/e.png);
  width: 2px;
}

.borderedHP .westIn {
  background-image: url(/images/ui/quads/w.png);
  width: 2px;
}

.borderedHP .eastOut {
  background-image: url(/images/ui/quads/w.png);
  width: 2px;
}

.borderedHP .eastIn {
  background-image: url(/images/ui/quads/e.png);
  width: 2px;
}

/** Then the four horizontals */
.borderedHP .northOut {
  background-image: url(/images/ui/quads/s.png);
  height: 2px;
}

.borderedHP .northIn {
  background-image: url(/images/ui/quads/n.png);
  height: 2px;
}

.borderedHP .southOut {
  background-image: url(/images/ui/quads/n.png);
  height: 2px;
}

.borderedHP .southIn {
  background-image: url(/images/ui/quads/s.png);
  height: 2px;
}

/** Then eight corners */
.borderedHP .northWestIn {
  background-image: url(/images/ui/quads/nw_in.png);
  width: 2px;
  height: 2px;
}

.borderedHP .northWestOut {
  background-image: url(/images/ui/quads/se_out.png);
  width: 2px;
  height: 2px;
}

.borderedHP .southWestIn {
  background-image: url(/images/ui/quads/sw_in.png);
  width: 2px;
  height: 2px;
}

.borderedHP .southWestOut {
  background-image: url(/images/ui/quads/ne_out.png);
  width: 2px;
  height: 2px;
}

.borderedHP .northEastIn {
  background-image: url(/images/ui/quads/ne_in.png);
  width: 2px;
  height: 2px;
}

.borderedHP .northEastOut {
  background-image: url(/images/ui/quads/sw_out.png);
  width: 2px;
  height: 2px;
}

.borderedHP .southEastIn {
  background-image: url(/images/ui/quads/se_in.png);
  width: 2px;
  height: 2px;
}

.borderedHP .southEastOut {
  background-image: url(/images/ui/quads/nw_out.png);
  width: 2px;
  height: 2px;
}

.separatorLine {
  background-image: url(/images/ui/separator.png);
  width: 100%;
}

.borderedDialog {
  max-width: 600px;
}

.borderedDialog .HeaderTitle, .borderedDialog .CloseCell {
  background: url(/images/ui/dialog_title.png) repeat-x top;
  height: 20px;
  font-size: 14px;
}

.borderedDialog .HeaderTitle {
  color: #FFFFFF;
  padding-left: 10px;
  font-weight: bold;
}

.borderedDialog .CloseCell {
  width: 16px;
}

.borderedDialog .Buttons, .borderedDialog .Text {
  padding: 10px;
}

/** General UI styles. */
.inline {
  display: inline;
}

.inlineL {
  display: inline;
  margin-left: 5px;
}

.inlineR {
  display: inline;
  margin-right: 5px;
}

.inlineLR {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

/** Override styles in gwt-utils.css */
.actionLabel, .thingBox .Name {
  cursor: pointer;
  text-decoration: none !important;
  color: #216CA3;
}

.actionLabel:hover {
  text-decoration: underline !important;
}

/* TODO(bruno): Unused? */
.hoverActionLabel {
  cursor: pointer;
}

/* TODO(bruno): Unused? */
.hoverActionLabel:hover {
  text-decoration: underline;
}

.rightLabel {
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}

.nowrapLabel {
  white-space: nowrap;
}

.infoLabel {
  font-size: 18px;
  padding: 25px;
}

.rowPanelCell {
  padding-right: 5px;
}

.tipLabel {
  font-size: 12px;
}

.infoPopup {
  padding: 15px;
  max-width: 500px;
}

.headerRow {
  font-style: italic;
  background: #6699CC;
}

.shareBox {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.StyledTabs .gwt-TabBar {
  background: url(/images/ui/tabs/anchor_tile.png) repeat-x bottom;
}

.StyledTabs .gwt-TabBar .inline {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem, .StyledTabs .gwt-TabBar .gwt-TabBarItem-selected {
  padding: 0px;
  border-width: 0px;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem {
  color: #CFDCE1;
  font-size: 11px;
  cursor: default;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem .TabLeft {
  background: url(/images/ui/tabs/left.png) no-repeat;
  width: 3px;
  height: 20px;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem .TabCenter {
  background: url(/images/ui/tabs/tile.png);
  height: 20px;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem .TabRight {
  background: url(/images/ui/tabs/right.png) no-repeat;
  width: 3px;
  height: 20px;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem-selected {
  color: black;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem-selected .TabLeft {
  background: url(/images/ui/tabs/selected_left.png) no-repeat;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem-selected .TabCenter {
  border-top: 1px solid black;
  background: white;
}

.StyledTabs .gwt-TabBar .gwt-TabBarItem-selected .TabRight {
  background: url(/images/ui/tabs/selected_right.png) no-repeat;
}

.StyledTabs .gwt-TabPanelBottom {
  padding: 0px;
}


/** Styles for the new TabLayoutPanel. Not particularly Whirled-themed. */

.gwt-TabLayoutPanel {
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
  border-color: #92c1f0;
  border-style: solid;
  border-width: 3px 2px 2px;
  overflow: hidden;
  padding: 6px;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
  margin-left: 6px;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  cursor: hand;
  color: black;
  font-weight: bold;
  text-align: center;
  background: #d0e4f6;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
  cursor: default;
  background: #92c1f0;
}

.stars {
  width: 80px;
}

.starsSmall {
  width: 50px;
}

.stars img {
  display: inline;
}

.promptPopup .Header {
  padding: 4px 0px 0px 0px;
  background-image: url(/images/ui/popup/header_text_tile.png);
  height: 25px;
  color: #EAEFF1;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.promptPopup .Content {
  padding: 15px 15px 0px 15px;
  width: 400px;
}

.contentFooterPanel {
  width: 100%;
  height: 100%;
}

.contentFooterPanel .Content {
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
}

.contentFooterPanel .Footer {
  border-top: 1px solid #DADADA;
  padding-top: 2px;
  font-size: 12px;
  height: 20px;
}

/*.contentFooterPanel .Footer .gwt-Button {
  border-top: none;
  border-bottom: none;
  border-right: none;
}*/

.contentFooterPanel .Tip {
  font-size: 12px;
  width: 300px;
}

.clickBox {
  border: 1px solid #CCCCCC;
  margin: 5px;
  padding: 5px; /* TODO: IE won't like */
}

.clickBox .Label {
  white-space: nowrap;
  width: 110px;
  overflow: hidden;
}

.clickBox .Name {
  font-size: 14px;
  padding-top: 5px;
}

.memberStatus {
  font-size: 14px;
}

.flashLink {
  color: white;
  background-color: black;
}

.flashLink a {
  color: white;
  border: 0;
}

.flashLink a:visited {
  color: white;
  border: 0;
}

.flashLink img {
  border: 0;
}

/** SearchBox styles */
.searchBox {
  border: 1px solid black;
  background: #E9F6FB;
  padding: 0px 2px;
}

.searchBox .gwt-TextBox {
  border: none;
}

.searchBox .Faded {
  color: #AAAAAA;
}

.searchBox .closeButton {
  margin-top: 3px;
}

/** Marquee styles */
.marquee {
  background: url(/images/ui/marquee_tile.png) repeat-x top;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
  height: 38px;
  text-align: center;
  padding-top: 8px;
  white-space: nowrap;
}

.CommentsPanel .messagePanel {
  padding: 4px 0;
  background: #f0f0f6;
  border-bottom: 1px solid #e0e0e0;
}

.CommentsPanel .messagePanel.subscriberMessage {
  background: #f6f6e6;
  border-bottom: 1px solid #e6e6a0;
}

.CommentsPanel .messagePanel .Photo {
  padding: 1px;
  background: none;
}

.CommentsPanel .messagePanel .Text {
  font-size: 12px;
}

.CommentsPanel .emphasized .Scroller {
  color: green;
}

.CommentsPanel .messagePanel .MsgInfo,
.CommentsPanel .messagePanel .Tools {
  padding-top: 1px;
  font-size: 11px;
}

.CommentsPanel .Subject {
}

.CommentsPanel .Reply {
  margin-left: 45px;
  margin-top: 2px;
}

.Thread + .Thread {
  margin-top: 5px;
}

.commentControls {
  margin: 10px 0;
}

.PostComment {
  padding: 15px 15px 0px 15px;
}

.CommentsExpand, .RepliesExpand {
  cursor: pointer;
}

.CommentsExpand, .CommentsLoading {
  background: #d7edfb;
  margin-top: 5px;
  color: #3382AD;
  padding: 5px 0 5px 0;
  border-bottom: 1px dashed #3382AD;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

.RepliesExpand {
  font-size: 10px;
  color: #999;
  width: 200px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-top: 1px dashed #999;
  padding-top: 4px;
  padding-left: 50px;
  margin-left: 45px;
}

.commentBeNice {
  font-size: 12px;
}

/** Role box and label styles */
.roleBox {
  display: table;
}

.roleLabel {
  font-size: 11px;
  text-align: center;
}

.roleIcon {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 4px;
}

.clubWhirledIcon {
  background: url(/images/ui/clubwhirled.png);
}

/** MessagePanel styles */
.messagePanel .Photo {
  background: #EDEDED;
  padding: 5px;
}

.messagePanel .MsgInfo {
  padding-top: 5px;
  font-size: 12px;
  color: #999999;
}

.messagePanel .Tools {
  padding-top: 5px;
  font-size: 12px;
  text-align: right;
  padding-right: 4px;
}

.messagePanel .MsgInfo a {
  font-weight: bold;
}

.messagePanel .Icon, .messagePanel .ActionIcon {
  vertical-align: middle;
  display: inline;
}

.messagePanel .Icon {
  margin-right: 5px;
}

.messagePanel .ActionIcon {
  margin-left: 5px;
}

.messagePanel .Posted {
  color: #999999;
}

.messagePanel .Scroller {
  width: 562px;
}

.messagePanel .Text {
  padding: 5px 5px 0px 0px;
  vertical-align: top;
}

.messagePanel .LeftPad {
  padding-left: 10px;
}

.messagePanel .RightPad {
  padding-right: 10px;
}

.messagePanel .BottomPad {
  padding-bottom: 5px;
}

.thingBox {
  display: table;
  text-align: center;
}

.thingBox img {
  border: 0px;
  margin-left: auto;
  margin-right: auto;
}

/** ComplainPopup styles */
.complainPopup {
  width: 400px;
}

/** Place <div style="clear"/> to force a line break after floating elements */
.clear {
  clear: both;
}

/** Go go speed racer. */
.GoButton {
  width: 40px;
  height: 17px;
  background-image: url(/images/ui/go_up.png);
}

.GoButton-up-hovering {
  background-image: url(/images/ui/go_over.png);
}

.GoButton-down-hovering {
  background-image: url(/images/ui/go_down.png);
}

.stretchButton {
  cursor: pointer;
}

.stretchButton .X {
  white-space: nowrap;
}

.orangeThick, .blueThick {
  color: white;
  font-weight: bold;
  font-size: 28px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.orangeThin, .blueThin {
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.stretchButton-small .buyButton .X {
  width: 80px;
}

.stretchButton-small .orangeThick,
.stretchButton-small .blueThick {
  font-size: 15px;
}

.orangeThick .W, .orangeThick .E, .blueThick .W, .blueThick .E {
  width: 36px;
}

.orangeThin .W, .orangeThin .E, .blueThin .W, .blueThin .E {
  width: 24px;
}

/** THICK ORANGE BUTTON */

.orangeThick .W {
  background-image: url(/images/ui/button/orange_thick_left.png);
}

.orangeThick .X {
  background-image: url(/images/ui/button/orange_thick_center.png);
  height: 44px;
}

.orangeThick .E {
  background-image: url(/images/ui/button/orange_thick_right.png);
  background-position: right;
}

.orangeThick-up-hovering .W {
  background-image: url(/images/ui/button/orange_thick_left_over.png);
}

.orangeThick-up-hovering .X {
  background-image: url(/images/ui/button/orange_thick_center_over.png);
}

.orangeThick-up-hovering .E {
  background-image: url(/images/ui/button/orange_thick_right_over.png);
  background-position: right;
}

.orangeThick-down-hovering .W {
  background-image: url(/images/ui/button/orange_thick_left_down.png);
}

.orangeThick-down-hovering .X {
  background-image: url(/images/ui/button/orange_thick_center_down.png);
}

.orangeThick-down-hovering .E {
  background-image: url(/images/ui/button/orange_thick_right_down.png);
  background-position: right;
}

/** THICK BLUE BUTTON */

.blueThick .W {
  background-image: url(/images/ui/button/blue_thick_left.png);
}

.blueThick .X {
  background-image: url(/images/ui/button/blue_thick_center.png);
  height: 44px;
}

.blueThick .E {
  background-image: url(/images/ui/button/blue_thick_right.png);
  background-position: right;
}

.blueThick-up-hovering .W {
  background-image: url(/images/ui/button/blue_thick_left_over.png);
}

.blueThick-up-hovering .X {
  background-image: url(/images/ui/button/blue_thick_center_over.png);
}

.blueThick-up-hovering .E {
  background-image: url(/images/ui/button/blue_thick_right_over.png);
  background-position: right;
}

.blueThick-down-hovering .W {
  background-image: url(/images/ui/button/blue_thick_left_down.png);
}

.blueThick-down-hovering .X {
  background-image: url(/images/ui/button/blue_thick_center_down.png);
}

.blueThick-down-hovering .E {
  background-image: url(/images/ui/button/blue_thick_right_down.png);
  background-position: right;
}

/** THIN BLUE BUTTON */

.blueThin .W {
  background-image: url(/images/ui/button/blue_thin_left.png);
}

.blueThin .X {
  background-image: url(/images/ui/button/blue_thin_center.png);
  height: 29px;
}

.blueThin .E {
  background-image: url(/images/ui/button/blue_thin_right.png);
  background-position: right;
}

.blueThin-up-hovering .W {
  background-image: url(/images/ui/button/blue_thin_left_over.png);
}

.blueThin-up-hovering .X {
  background-image: url(/images/ui/button/blue_thin_center_over.png);
}

.blueThin-up-hovering .E {
  background-image: url(/images/ui/button/blue_thin_right_over.png);
  background-position: right;
}

.blueThin-down-hovering .W {
  background-image: url(/images/ui/button/blue_thin_left_down.png);
}

.blueThin-down-hovering .X {
  background-image: url(/images/ui/button/blue_thin_center_down.png);
}

.blueThin-down-hovering .E {
  background-image: url(/images/ui/button/blue_thin_right_down.png);
  background-position: right;
}

/** FACBOOK APP SCROLL BUTTONS */

.fbscrollLeft {
  background: url(/images/facebook/scroller_left.png) no-repeat center;
  width: 39px;
  height: 22px;
}

.fbscrollLeft-up-hovering, .fbscrollLeft-down-hovering {
  background: url(/images/facebook/scroller_left_over.png) no-repeat center;
  cursor: pointer;
}

.fbscrollRight {
  background: url(/images/facebook/scroller_right.png) no-repeat center;
  width: 39px;
  height: 22px;
}

.fbscrollRight-up-hovering, .fbscrollRight-down-hovering {
  background: url(/images/facebook/scroller_right_over.png) no-repeat center;
  cursor: pointer;
}

.fbscrollSelected {
  background: url(/images/facebook/scroller_selected.png) no-repeat center;
  width: 19px;
  height: 22px;
}

.fbscrollDeselected {
  background: url(/images/facebook/scroller_deselected.png) no-repeat center;
  width: 19px;
  height: 22px;
}

.fbscrollDeselected-up-hovering, .fbscrollDeselected-down-hovering {
  background: url(/images/facebook/scroller_deselected_over.png) no-repeat center;
  cursor: pointer;
}

/* ------------------------------------
   CONTEST BOX
-------------------------------------*/

.contestBox {
  width: 600px;
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.contestBox .Icon {
  width: 80px;
}

.contestBox .ContestInfo {
  width: 360px;
  overflow: hidden;
  margin: 0 10px;
}

.contestBox .ContestName {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.contestBox .ContestName,
.contestBox .ContestName a {
  color: #4c8db9;
}

.contestBox .ContestText {
  margin-bottom: 10px;
}
.contestBox .ContestText,
.contestBox .ContestText a {
  color: #868585;
}

.contestBox .Status,
.contestBox .Status a {
  color: #ff0000;
}

.contestBox .Prizes {
  text-align: center;
  width: 140px;
  overflow: hidden;
}

.contestBox .PrizesTitle {
  color: #868585;
  font-size: 16px;
  margin-bottom: 10px;
}

.contestBox .PrizesText {
  line-height: 18px;
}

.contestBox-past {
  color: #FFFFFF;
  background-color: transparent;
  padding: 0;
}
.contestBox-past a {
  color: #FFFFFF;
}

/* ------------------------------------
   NOW LOADING WIDGET
-------------------------------------*/

.nowLoadingWidget {
  color: #216CA3;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
  padding: 50px 0px;
}

.miniNowLoadingWidget {
  width: 60px;
  height: 15px;
  background-image: url(/images/ui/dot_loader.gif);
}

/* ------------------------------------
   ROLLUP BOX
-------------------------------------*/

.rollupBox {
	width: 670px;
	border: 1px solid #cdcdcd;
	background-color: #fafafa;
	padding: 3px;
	margin-bottom: 7px;
}

.rollupBox-header {
	height: 26px;
    cursor: pointer;
}

.rollupBox-arrow {
	width: 20px;
	height: 20px;
	padding-right: 8px;
	background: url(/images/ui/rollup-arrow-closed.png) no-repeat 7px 4px;
	margin-top: 4px;
}

.rollupBox-arrow-open {
	background: url(/images/ui/rollup-arrow-open.png) no-repeat 4px 6px;
}

.rollupBox-title {
	font-size: 13px;
	font-weight: lighter;
	color: #236ec1;
	padding-top: 5px;
	padding-bottom: 5px;
}

.rollupBox-title-open {
	font-weight: bold;
}

/* ------------------------------------
   CHECKLIST
-------------------------------------*/

.checklist {
    width: 641px;
    cursor: pointer;
    font-size: 13px;
}

.checklist-header {
    background-color: #b4ddf3;
    color: #1b557d;
}

.checklist-check {
    width: 36px;
    border-bottom: 1px solid #b1c0c7;
}

.checklist-widget {
    width: 605px;
    border-bottom: 1px solid #b1c0c7;
}

.checklist-notSelected {
    background-color: #e8f5fb;
}

.checklist-selected {
    background-color: #d9f0f9;
}

/** NoNavPanel */

.nonav {
  background: #89C6E3;
  height: 100%;
}

.nonav .Content {
  margin: 0 auto;
  width: 657px;
}

.nonavBlue .Content {
  background: url(/images/ui/nonav/content_blue.png) #287099 no-repeat bottom;
  color: #D0E6F7;
}

.nonavBlue .Content, .nonavBlue .Content a {
  color: #D0E6F7;
}

.nonavWhite .Content {
  background: #FFFFFF;
}

/** RegisterPanel */

.register .Right {
  text-align: right;
  width: 100px;
}

.register .NoCaptcha {
  width: 318px;
  height: 129px;
  text-align: center;
  border: 1px solid;
}

.register .AdWordsFrame {
  width: 100%;
  border: 0px inset;
}

.register .Beacon {
  width: 1px;
  height: 1px;
}
